<%= simple_form_for [@project, @collection] do |f| %>
<%=f.error_notification %>
  <div class="col-md-5 col-md-offset-4">
    <div class="box box-widget widget-user">
      <div class="widget-user-header bg-blue-active">
        <h3 class="widget-user-username">New Collection</h3>
      </div>
      <div class="box-body">
        <%=f.input :date, as: :string, input_html:{class: "datepicker"} %>
        <%=f.input :amount, as: :string %>
      </div>
      <div class="box-footer">
        <div class="pull-right">
          <%= link_to 'Cancel', @project %> |
          <%=f.submit "Save Collection", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
 
