<div class="tab-pane" id="fund_transfers">
  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr class="text-uppercase">
          <th style="width: 130px"><center>Recipient</center></th>
          <th><center>Description</center></th>
          <th style="width: 20%"><center>Date</center></th>
          <th style="width: 20%"><center>Amount</center></th>
        </tr>
      </thead>
      <tbody>
        <% @petty_cash.debit_entries.entered_on(:from_date => @from_date, :to_date => @to_date).each do |entry| %>
          <tr>
            <td>
              <%= image_tag entry.recipient.profile_photo.url(:x_small), class: "img-rounded" %> 
              <%=entry.recipient.try(:name) %>
            </td>
            <td><center><%=entry.description %></center></td>
            <td><center><%=entry.date.strftime("%B %e, %Y") %></center></td>
            <td>
              <span class="pull-right">
                <%=number_to_currency entry.debit_amounts.last.amount %>
              </span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>