<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="header">
        <h4 class="title"> Disbursements
          <span class="pull-right">
            <%=link_to new_petty_cash_disbursement_path(@petty_cash) do %>
            <span class="btn btn-primary btn-icon"><i class="fa fa-plus"></i> New Disbursement </span>
            <% end %>
          </span>
        </h4>
        <hr />
      </div>
      <div class="content">
        <table class="table table-striped">
          <thead>
            <tr>
              <th> Description </th>
              <th> Recipient </th>
              <th> Amount </th>
              <th> Date </th>
            </tr>
          </thead>
          <tbody>
            <% @disbursements.each do |disbursement| %>
              <tr>
                <td><%=disbursement.description %></td>
                <td><%=disbursement.entriable.try(:name) %> </td>
                <td><%=number_to_currency disbursement.credit_amounts.sum(:amount) %></td>
                <td><%=disbursement.date.strftime("%B %e, %Y")%></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="header">
        <h4 class="title">Fund Transfers </h4>
      </div>
      <div class="content">
      </div>
    </div>
  </div>

</div>
