<div class="row">
  <div class="col-md-7">
    <div class="card">
      <div class="header">
        <h4 class="title">
          <%=@inventory.name_category %>
          <span class='pull-right'><small class="text-info"><%=number_to_currency @inventory.price %></small></span>
        </h4>
      </div>
      <div class="content">
        <%=simple_form_for @line_item, url: :supplies_line_items do |f| %>
          <div class="row">
            <div class="col-xs-3">
              <%=f.input :quantity, label: false, placeholder: "QTY", as: :string, required: true, input_html: {class: 'input-sm'} %>
              <%=f.input :inventory_id, input_html: {value: @inventory.id }, as: :hidden %>
            </div>
            <div class="col-md-2">
              <small class="title"><%=@inventory.unit %></small>
            </div>
            <div class="col-xs-4">
              <%=f.input :unit_cost, input_html: { value: @inventory.price }, label: false, readonly: true %>
              <%= f.input :change_price, as: :boolean, input_html: { id: 'define_price'} %>
            </div>
            <div class="col-xs-3">
              <%=f.submit "Add to Cart", data: {disable_with: "Adding inventory..."}, class: "btn btn-success active" %>
            </div>
          </div>
          <div class="footer">
            <hr>
            <small class="text-right"><%=@inventory.quantity%> <%=@inventory.unit %> remaining</small>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-5" id="cart">
    <%=render @cart %>
  </div>

</div>