<div class="row">
<div class="col-md-9 col-md-offset-2">
  <!-- Widget: user widget style 1 -->
<div class="box box-solid">
<div class="box-header with-border">
      <h4>New Invoice</h4>
</div>
<div class="box-body">
<h4>Project: <span class="text-muted"><%=@project.name %></span></h4>
<hr>
 <%= simple_form_for [@project, @invoice], html: { class: 'form-horizontal' },
                            wrapper: :horizontal_form,
                            wrapper_mappings: {
                            check_boxes: :vertical_radio_and_checkboxes,
                           radio_buttons: :vertical_radio_and_checkboxes,
                            file: :horizontal_file_input,
                             boolean: :horizontal_boolean
                            } do |f| %>
<%=f.error_notification %>
<%=f.input :amount %>
<div class="modal-footer">
<%=f.submit "Save and Print", class: "btn btn-danger" %>

</div>
<% end %>
