<div class="col-md-8 col-md-offset-2">
  <div class="card">
    <div class="header">
      <h4 class="title">Equipment Schedules</h4>
      <hr>
    </div>
    <div class="content">
      <%@equipments.each do |equipment| %>
        <ul class="list-unstyled team-members">
          <li>
            <div class="row">
              <div class="col-md-1">
                <%=image_tag(equipment.photo.url(:medium)) %>
              </div>
              <div class="col-md-3">
                <br>
                <%=equipment.make_and_model.upcase %>
              </div>
              <div class="col-md-5">
                <% if equipment.equipment_schedules.present? %>

                  <%=equipment.current_assignment %><br>
                    <small class="text-muted"><%=image_tag(equipment.current_assignment_operator.profile_photo.url(:thumb), class: "img-circle") %> <%=equipment.current_assignment_operator.full_name %></small>
                    <small class="pull-right"><i class="fa fa-calendar text-success"></i><%=equipment.current_assignment_start_date%> to <i class="fa fa-calendar text-danger"></i> <%=equipment.current_assignment_end_date%></small><br>
                      <%=equipment.current_assignment_purpose %>
                <% else %>
                <br>
                  <%=equipment.equipment_status %>
                  <i class="fa fa-circle text-<%=equipment.status%>"></i>
                <% end %>
              </div>
              <div class="col-md-2">

            </div>
          </li>
        </ul>
      <% end %>
      <div class="footer">
          <div class="chart-legend">
              <i class="fa fa-circle text-success"></i> Active
              <i class="fa fa-circle text-warning"></i> Inactive
          </div>
          <hr>
          <div class="stats">
              <i class="ti-reload"></i> Updated <%=time_ago_in_words(Transactions::InvoicePayment.last.created_at.to_date) %> ago
          </div>
      </div>
    </div>
    </div>
</div>
