<ul class="list-unstyled team-members">
  <li>
    <div class="row">
      <div class="col-xs-2">
        <%=equipment.date.strftime("%b %e %Y") %>
      </div>
      <div class="col-xs-4">
        <%=image_tag(equipment.costable.photo(:thumb), height: 30, witdh: 30, class: "img-circle")%> <%=equipment.costable.make_and_model %>
        <br />
        <span class="text-warning"><small>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<%=equipment.description %></small></span>
      </div>
      <div class="col-xs-2">
        <%=equipment.quantity %> <%=equipment.unit %>
      </div>
      <div class="col-xs-2">
        <%=number_to_currency equipment.unit_cost %>
      </div>
      <div class="col-xs-2">
        <%=number_to_currency equipment.total_cost %>
      </div>
    </div>
    <hr>
  </li>
</ul>
