<div class="well">
<%= simple_form_for @issued_inventory do |f| %>
  <%=f.error_notification %>
  <table class="table">
    <tbody>
   <%=f.input :inventoriable_id, label:  false, placeholder: 'Inventory ID' %>
    <%=f.input :inventory_id, label: false, collection: Inventory.all, prompt: "Select Item", input_html: {style: 'width:100%'} %>
      <%=f.input :quantity, label: false, placeholder: 'Quantity', input_html:{id: "quantity", oninput: "calculate()"} %>
      <%=f.input :unit_cost, label: false, placeholder: 'Inventory Cost', input_html:{id: "unit_price", value: :inventory_cost, oninput: "calculate()"}  %>
     <%=f.input :total_cost, label: false,  placeholder: 'Total Cost', readonly: true ,  input_html:{id: "amount"}%>

    <div class="modal-footer">
      <%=f.submit "Issue Inventory", class: "btn btn-primary" %>
      <hr>
      <%=link_to "I'm done issuing inventories", inventories_path, class: "btn btn-default" %>
    </div>
    </tbody>
</table>
<% end %>
</div>
<script>
    $(document).ready(function() {
        $("#issued_inventory_inventory_id").select2({
            theme: "bootstrap"
        });
    });
</script>
