<div class="col-md-12">
  <div class="box box-solid">
    <div class="box-header with-border">
      <h4>List of Issued Materials</h4>
    </div>
    <div class="box-header with-border">
      <div class="row">
        <div class="col-md-8">
          <label class="text-muted">Report Filter:</label>
          <%= form_tag({:action => 'index'}, {:method => :get, class: 'form-inline'}) do %>
            <table>
              <tr>
                <td>
                  <div class="col-md-12">
                    <%= label_tag :from_date, nil, class: 'sr-only' %>
                    <%= text_field_tag :from_date, @from_date, class: 'datetimepicker form-control', placeholder: 'Date', :as => :datetime_picker %>
                  </div>
                </td>
                <td>
                  <div class="col-md-12"> - </div>
                </td>
                <td>
                  <div class="col-md-12">
                    <%= label_tag :to_date, nil, class: 'sr-only' %>
                    <%= text_field_tag :to_date, @to_date, class: 'datetimepicker form-control', placeholder: 'Date', :as => :datetime_picker %>
                  </div>
                </td>
                <td>
                  <div class="col-md-12">
                    <%= select_tag :project_id, options_for_select(Project.all.collect{ |e| [e.id_number_and_location, e.id] }), class: 'form-control', prompt: 'Select Project' %>
                  </div>
                </td>
                <td>
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-default" format="pdf">Generate Report</button>
                  </div>
                </td>
              </tr>
            </table>
          <% end %>
        </div>
      </div>
    </div>
    <div class="box-header with-border">
      <div class="col-md-10 col-md-offset-1">
        <%=link_to "Print Report(PDF)", issued_inventories_path(format: 'pdf', :from_date => @from_date, :to_date => @to_date), class: 'btn btn-primary btn-sm pull-right' %>
      </div>
    </div>
    <div class="box-body">
      <div class="col-md-10 col-md-offset-1">
        <div class="box-header with-border">
        </div>
        <table class="table table-compressed table-hover">
          <thead>
            <tr>
              <th style="width: 20%">Issued To</th>
              <th style="width: 30%">Inventory</th>
              <th>Quantity</th>
              <th><span class="pull-right">Unit Cost</span></th>
              <th><span class="pull-right">Total Cost</span></th>
              <th style="width:60px"></th>
            </tr>
          </thead>
          <tbody>
            <% if @issued_inventories.present? %>
              <% @issued_inventories.entered_on(:from_date => @from_date, :to_date => @to_date, :project_id => @project).each do |issued_inventory| %>
                <tr>
                  <td><%= issued_inventory.inventoriable.try(:name) %></td>
                  <td><%= issued_inventory.inventory.try(:name) %></td>
                  <td><%= issued_inventory.quantity %></td>
                  <td><span class="pull-right"><%= number_to_currency issued_inventory.unit_cost %></span></td>
                  <td><span class="pull-right"><%= number_to_currency issued_inventory.total_cost %></span></td>
                  <td></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
    $(document).ready(function() {
        $("#contractor_id").select2({
            theme: "bootstrap"
        });
    });
</script>
