<div class="col-md-12">
  <div class="box">
    <div class="box-header with-border">
      <div class="row">
        <div class="col-md-12">
          <h4>List of Issued Inventories</h4>
        </div>
        <div class="col-md-12">
          <div class="pull-right">
            <%= form_tag({:action => 'index'}, {:method => :get, class: 'form-inline'}) do %>
              <div class="form-group">
                <%= label_tag :from_date, nil, class: 'sr-only' %>
                <%= select_tag :contractor_id, options_for_select(Contractor.all.collect{ |e| [e.name, e.id] }), class: 'form-control', prompt: 'Select Contractor' %>
              </div>
              <div class="form-group">
                <%= label_tag :from_date, nil, class: 'sr-only' %>
                <%= text_field_tag :from_date, @from_date, class: 'datetimepicker form-control', placeholder: 'Date', :as => :datetime_picker %>
              </div>
              <div class="form-group">
                <%= label_tag :to_date, nil, class: 'sr-only' %>
                <%= text_field_tag :to_date, @to_date, class: 'datetimepicker form-control', placeholder: 'Date', :as => :datetime_picker %>
              </div>
              <button type="submit" class="btn btn-default" format="pdf">Generate Report</button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="box-body">
      <div class="col-md-9">
        <div class="box-header with-border">
          <div class="pull-right">
            <%=link_to "Print Report(PDF)", issued_inventories_path(format: 'pdf', :from_date => @from_date, :to_date => @to_date), class: 'btn btn-primary btn-sm' %>
          </div>
        </div>
        <table class="table table-compressed table-hover">
          <thead>
            <tr>
              <th style="width: 20%">Issued To</th>
              <th style="width: 30%">Inventory Name</th>
              <th>Quantity</th>
              <th><span class="pull-right">Unit Cost</span></th>
              <th><span class="pull-right">Total Cost</span></th>
              <th style="width:60px"></th>
            </tr>
          </thead>
          <tbody>
            <% if @issued_inventories.present? %>
              <% @issued_inventories.entered_on(:from_date => @from_date, :to_date => @to_date).each do |issued_inventory| %>
                <tr>
                  <td><%= issued_inventory.contractor.name %></td>
                  <td><%= issued_inventory.inventory.try(:name) %></td>
                  <td><%= issued_inventory.quantity %></td>
                  <td><span class="pull-right"><%= number_to_currency issued_inventory.unit_cost %></span></td>
                  <td><span class="pull-right"><%= number_to_currency issued_inventory.total_cost %></span></td>
                  <td></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-md-3">
        <div class="row">
          <div class="well">
            <h3 class="text-center">
              <%= number_to_currency @issued_inventories.entered_on({from_date: @from_date, to_date: @to_date}).sum(:total_cost) %>
            </h3>
            <span class="help-block"><center class="text-uppercase">Total</center></span>
            <br>
            <div class="row">
              <div class="col-md-12">
                <% if current_user.supply_officer? %>
                  <%=link_to new_issued_inventory_path, class: "btn btn-danger btn-block" do %><i class="fa fa-plus-circle"></i> Issue Inventory <%end%>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>