<div class="col-md-12">
  <div class="box box-solid">
    <div class="box-header with-border">
      <h3 class="widget-user-username">Issue Inventory</h3>
    </div>
    <div class="box-body">
      <div class="col-md-8 border-right">
        <h4>List of Issued Inventories</h4>
        <table class="table table-compressed table-hover">
          <thead>
            <tr>
              <th style="width: 20%">Issued To</th>
              <th style="width: 30%">Inventory Name</th>
              <th>Quantity</th>
              <th><span class="pull-right">Unit Cost</span></th>
              <th><span class="pull-right">Total Cost</span></th>
              <th>Date Issued</th>
              <th style="width:60px"></th>
            </tr>
          </thead>
          <tbody>
            <% if @issued_inventories.present? %>
              <% @issued_inventories.each do |issued_inventory| %>
                <tr>
                  <td><%= issued_inventory.inventoriable.try(:name) %></td>
                  <td><%= issued_inventory.inventory.name %></td>
                  <td><%= issued_inventory.quantity %></td>
                  <td><span class="pull-right"><%= number_to_currency issued_inventory.inventory.cost %></span></td>
                  <td><span class="pull-right"><%= number_to_currency issued_inventory.total_cost %></span></td>
                  <td><%=issued_inventory.try(:date_issued) %></td>
                  <td></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-md-4">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
