<%= simple_form_for @inventory  do |f| %>
<%=f.error_notification %>
  <div class="col-md-4 col-md-offset-4">
    <div class="card">
      <div class="header">
        <h4 class="title">New Inventory</h4>
        <hr>
      </div>
      <div class="content">
        <%=f.input :name, autofocus: true %>
        <% if @inventory.new_record? %>
          <%=f.simple_fields_for :stocks do |ff| %>
            <%= render 'stock_fields', :f => ff %>
          <% end %>
        <% end %>
        <%=f.input :unit %>
        <%=f.input :price %>
        <div class="modal-footer">
          <%= link_to "Cancel", supplies_inventories_path, class: 'btn btn-xs pull-left' %>
          <%=f.submit "Save Inventory", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
