<div class="row">
<div class="col-md-4 col-md-offset-4">
<div class="box box-solid">
<div class="box-body">
<%= simple_form_for @inventory  do |f| %>
<%=f.error_notification %>

            <h4>Material Details</h4>
            <hr>
            <%=f.input :name, as: :text, autofocus: true, placeholder: 'Inventory Name' %>
            <%=f.input :description, as: :text,  placeholder: 'Description' %>
            <%=f.input :cost, as: :string, input_html: {autocomplete: "off"},  placeholder: 'Cost' %>
            <div class="row">
              <div class="col-md-6">
                <%=f.input :quantity, input_html: {autocomplete: "off"}, label: false, placeholder: 'Quantity', readonly: true%>
              </div>
              <div class="col-md-6">
                <%=f.input :unit, label: false, placeholder: 'Unit' %>
              </div>
              <hr>
              <div class="modal-footer">
                <%=f.submit "Update Inventory", class: "btn btn-primary bg-blue-active" %>
                <hr>
                <%= link_to "I'm done adding inventories.", inventories_path %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
