<%= simple_form_for @inventory  do |f| %>
<%=f.error_notification %>
  <div class="col-md-10 col-md-offset-1">
    <div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="widget-user-username">List of Materials</h3>
      </div>
      <div class="box-body">
        <div class="col-md-7 border-right">
          <table class="table table-hover">
            <tr>
              <th>Description</th>
              <th>Quantity</th>
              <th><span class="pull-right">Unit Cost</span></th>
            </tr>
            <% @inventories.each do |inventory| %>
              <tr>
                <td><%=link_to inventory.name, inventory %> - <%= inventory.description %></td>
                <td><%= inventory.quantity %> - <%= inventory.unit %></td>
                <td><span class="pull-right"><%= number_to_currency inventory.cost %></span></td>
              </tr>
          <% end %>
          </table>
          
        </div>
        <div class="col-md-5">
          <div class="well">
            <h4>New Material Details</h4>
            <hr>
            <%=f.input :name, as: :text, autofocus: true, label: false, placeholder: 'Inventory Name' %>
            <%=f.input :description, as: :text, label: false, placeholder: 'Description' %>
            <%=f.input :cost, as: :string, input_html: {autocomplete: "off"}, label: false, placeholder: 'Cost' %>
            <div class="row">
              <div class="col-md-6">
                <%=f.input :quantity, input_html: {autocomplete: "off"}, label: false, placeholder: 'Quantity' %>
              </div>
              <div class="col-md-6">
                <%=f.input :unit, label: false, placeholder: 'Unit' %>
              </div>
              <hr>
              <div class="modal-footer">
                <%=f.submit "Save Inventory", class: "btn btn-primary bg-blue-active" %>
                <hr>
                <%= link_to "I'm done adding inventories.", inventories_path %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

