<%= simple_form_for [@equipment, @equipment_status] do |f| %>
<%=f.error_notification %>
  <div class="col-md-4 col-md-offset-4">
    <div class="card">
      <div class="header">
        <h4 class="title">Equipment Status</h4>
        <div class="row"><hr></div>
      </div>
      <div class="content">
        <%=f.input :status, collection: EquipmentStatus.statuses.keys.to_a.map{ |a| [a.titleize, a] }, as: :radio_buttons %>
        <%=f.input :description, as: :text, label: 'Remarks' %>
        <div class="modal-footer">
          <%=link_to "Cancel", equipment_path(id: @equipment), class: "btn btn-xs pull-left" %>
          <%=f.submit "Save Status", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<script>
  $(document).ready(function() {
    $("#equipment_schedule_project_id").select2({
      theme: "bootstrap"
    });
  });
</script>
<script>
  $(document).ready(function() {
    $("#equipment_schedule_employee_id").select2({
      theme: "bootstrap"
    });
  });
</script>
