<div class="col-md-12">
  <div class="box box-solid">
    <div class="box-header with-border">
      <h4>Payroll</h4>
    </div>
    <div class="box-body">
      <div class="table table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th rowspan="2"><center>Employee</center></th>
              <th rowspan="2">Rate</th>
              <th rowspan="2">Days Worked</th>
              <th style="width: 30%" colspan="2"><center>Cash Advances</center></th>
              <th rowspan="2"><span class="pull-right">Gross Pay</span></th>
            </tr>
            <tr>
              <th><center>Date</center></th>
              <th><center>Amount</center></th>
            </tr>
          </thead>
          <tbody>
            <% Employee.all.each do |employee| %>
              <tr>
                <td style="width:70px"><%= image_tag employee.profile_photo.url(:thumb), class: "img-rounded" %></td>
                <td><%=number_to_currency employee.rate %></td>
                <td><%=employee.unpaid_worked_days %> Days</td>
                <% if employee.cash_advances.present? %>
                  <% employee.cash_advances.each do |cash_advance| %>
                    <td><%=cash_advance.date.strftime("%B %e, %Y") %></td>
                    <td>
                      <span class="pull-right"><%=number_to_currency cash_advance.debit_amounts.last.amount %></span>
                    </td>
                  <% end %>
                <% else %>
                  <td></td>
                  <td></td>
                <% end %>
                <td><span class="pull-right"><%=number_to_currency employee.total_gross_pay %></span></td>
                <td>
                  <% if employee.worked_days.unpaid.present? %>
                    <%=link_to "Pay Slip", new_employee_payment_path(employee) %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
