<div class="col-md-12">
  <div class="card">
    <div class="header">
      <h4 class="title">Payroll
        <span class="pull-right"><%=link_to "Summary (PDF)", payroll_index_path(format: 'pdf'), class: "btn btn-info", target: '_blank' %></span>
      </h4>
      <div class="row"><hr></div>
    </div>
    <div class="content">
      <div class="table table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th width="35px"></th>
              <th>Employee</th>
              <th>Rate</th>
              <th>Days Worked</th>
              <th>Overtime</th>
              <th class="text-right">Cash Advances</th>
              <th class="text-right">Earned Income</th>
              <th class="text-right">Gross Pay</th>
              <th></th>

            </tr>
          </thead>
          <tbody>
            <% Employee.all.each do |employee| %>
              <tr>
                <td><%= image_tag employee.profile_photo.url(:small), class: "img-circle" %></td>
                <td><%= link_to employee.try(:name), new_employee_salary_path(employee) %></td>
                <td><%=number_to_currency employee.rate %></td>
                <td><%=employee.unpaid_worked_days %> Days </td>
                <td><%=employee.unpaid_overtimes %> Hours </td>
                <td class="text-right text-danger">
                  <%=number_to_currency employee.unpaid_cash_advances %>
                </td>
                <td class="text-right text-success"><%=number_to_currency employee.earned_income %></td>
                <td class="text-right text-primary"><%=number_to_currency employee.total_gross_pay %></td>
                <td>
                <% if employee.worked_days.unpaid.present? || employee.overtimes.unpaid.present? %>
                    <%=link_to "Pay Slip", new_employee_salary_path(employee), class: 'pull-right btn btn-success btn-xs' %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="modal-footer">
          <center><%= paginate @employees, :window => 1 %></center>
        </div>
      </div>
    </div>
  </div>
</div>
