<div class="col-md-12">
<div class="box box-solid">
<div class="box-header with-border">
<h4>Payroll</h4>
</div>
<div class="box-body">
<div class="table table-responsive">
<table class="table table-hover">
<thead>
  <tr>
    <th>Employee</th>
    <th>Rate</th>
    <th>Days Worked</th>
    <th>Cash Advance</th>
    <th>Gross Pay</th>
  </tr>
</thead>
<tbody>
<% Employee.all.each do |employee| %>
<tr>
<td><%= image_tag attachment_url(employee, :photo, :fill, 40, 40, fallback: "default-small.png"),  class: "img-circle" %> <b><%=link_to employee.full_name.upcase, payroll_path(employee) %></b></td>
<td><%=number_to_currency employee.rate %></td>
<td><%=employee.unpaid_worked_days %> Days</td>
<td><%=number_to_currency employee.unpaid_cash_advances %></td>
<td><%#=number_to_currency employee.total_gross_pay %></td>
<% if employee.gross_pay.positive? %>
<td><%=link_to "Pay Slip", new_employee_payment_path(employee) %></td>
<% end %>
<% end %>
</tbody>
</table>
</div>

