<%= simple_form_for @employee do |f| %>
<%=f.error_notification %>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="box box-solid">
      <div class="box-header with-border">
        <h4 class="text-center">Employee Details </h4>
      </div>
      <div class="box-body">
        <div class="col-md-6 col-md-offset-3">
          <%if @employee.profile_photo.blank? %>
            <%=image_tag("default-small.png", :class=>"img-square center-block ") %>
            <br>
          <% else %>
            <%= image_tag @employee.profile_photo.url(:medium), class: 'center-block img-responsive img-rounded'%>
          <% end %>
          <%= f.input :profile_photo, class: 'center-block', as: :file %>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <%=f.input :first_name, autofocus: true,  placeholder: "First Name" %>
            </div>
            <div class="col-md-6">
              <%=f.input :last_name, placeholder: "Last Name"  %>
            </div>
          </div>
          <%=f.input :mobile_number,  placeholder: "Mobile Number" %>
          <%=f.input :email, placeholder: "Email"  %>
          <div class="row">
            <div class="col-md-6">
              <% if current_user.accounting_officer? %>
                <%=f.input :position, collection: Employee.positions.keys.to_a.map{ |a| [a.titleize, a] }, prompt: '-- Select --'  %>
              <% end %>
            </div>
            <div class="col-md-6">
              <%=f.input :rate  %>
            </div>
          </div>
        </div>
      </div>
      <div class="box-footer">
        <%=f.submit 'Save Employee', class: 'btn btn-primary pull-right' %>
      </div>
    </div>
  </div>
</div>
<% end %>
