<%= simple_form_for @employee do |f| %>
  <%=f.error_notification %>
  <div class="row">
    <div class="col-md-5 col-md-offset-3">
      <div class="card">
        <div class="header">
          <h4 class="title"> Employee Details </h4>
          <div class="row"><hr></div>
        </div>
        <div class="content">
          <%= image_tag @employee.profile_photo.url(:medium), class: 'center-block img-responsive img-rounded'%>
          <center><%= f.input :profile_photo, class: 'center-block', as: :file %></center>

          <div class="row"><hr class="with-padding"></div>

          <%=f.input :first_name, autofocus: true,  placeholder: "First Name" %>

          <%=f.input :last_name, placeholder: "Last Name"  %>

          <%=f.input :mobile_number,  placeholder: "Mobile Number" %>
          <%=f.input :email, placeholder: "Email"  %>
          <% if current_user.accounting_officer? %>
            <%=f.input :position, collection: Employee.positions.keys.to_a.map{ |a| [a.titleize, a] }, as: :radio_buttons %>
          <% end %>

          <%=f.input :rate  %>
          <div class="modal-footer">
            <%= link_to "Cancel", employees_path, class: 'btn btn-xs pull-left' %>
            <%=f.submit 'Save Employee', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
