
<div class="card">
  <div class="header">
    <h4 class="title">Other Deductions
      <span class="pull-right">
        <%=link_to "New", new_employee_other_deduction_path(@employee), class: 'btn btn-primary' %>
      </span>
    </h4>
    <div class="row"><hr></div>
  </div>
  <div class="content">
    <table class="table table-hover">
      <thead>
        <tr class="title">
          <th>Date</th>
          <th>Qty </th>
          <th>description </th>
          <th>Amount</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @employee.other_deductions.order(:date).reverse.each do |deduction| %>
          <tr>
            <td><%=deduction.date.strftime("%B %e, %Y") %></td>
            <td><%=deduction.quantity %> <%=deduction.unit %></td>
            <td> <%=deduction.description %></td>
            <td><%=number_to_currency deduction.unit_cost %></td>
            <td>
              <%if !deduction.paid? %>
                <%=link_to edit_employee_other_deduction_path(id: deduction.id, employee_id: @employee.id) do %>
                  <span class="btn btn-warning btn-icon"><i class="fa fa-pencil"></i></span>
                  <% end %>
                  <% else %>
                  Paid

                <% end %>
              </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
