<div class="tab-pane" id="worked_days">
<%=link_to "Add Days Worked", new_employee_worked_day_path(@employee) %>
<table class="table">
  <thead>
    <tr>
      <th>Number of Days</th>
      <th>Date</th>
      <th>Status </th>
    </tr>
  </thead>
  <tbody>
<% @employee.worked_days.each do |worked_day| %>
<tr>

<td><%=worked_day.number_of_days %></td>
<td>
  <p><%=worked_day.start_date.strftime("%b %e, %Y") %> - <%=worked_day.end_date.strftime("%b %e, %Y") %> </p>
  </td>
<td><%=worked_day.status %></td>
</tr>

<% end %>
</tbody>
</table>
</div>
