<div class="container">
<div class="box box-solid">
<div class="box-header with-border">
<h4>New Employee Details</h4>
      </div>
      <div class="box-body">
       <%= simple_form_for @employee do |f| %>
      <%=f.error_notification %>
<div class="row">
<div class="col-md-6">
      <%if @employee.photo.blank? %>
        <%=image_tag("default-small.png", :class=>"img-square center-block ") %>
        <br>
        <% else %>
        <%= image_tag attachment_url(@employee, :profile_image, :fill, 150, 150), class: 'center-block img-responsive img-rounded'%>
        <% end %>
        <%= f.file_field :photo, class: 'center-block'%>
</div>
<div class="col-md-5">

        <%=f.input :first_name, autofocus: true, placeholder: "First Name" %>

        <%=f.input :last_name, placeholder: "Last Name"  %>

        <%=f.input :mobile_number, placeholder: "Mobile Number" %>

        <%=f.input :email, placeholder: "Email"  %>

   <%=f.input :position, label: false,  collection: Employee.positions.keys.to_a.map{ |a| [a.titleize, a] }, as: :radio_buttons  %>
        <div class="modal-footer">
          <%=f.submit 'Save Employee', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
