<div class="row">
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <%= image_tag "hero.jpg", class: "img-square center-block", alt: "employee profile picture" %>
      </div>
      <div class="content">
        <div class="author">
          <%= image_tag @employee.profile_photo.url(:medium), class: "avatar border-white", alt: "employee profile picture" %>
          <h4 class="title"><%=@employee.full_name %><br />
            <small><%=@employee.position.try(:titleize) %></small>
          </h4>
        </div>
        <br>
        <p class="description text-center">
          <br>
          <br>
        </p>
        <div class="modal-footer">
          <div class="col-md-8 col-md-offset-2">
            <%=link_to "Update", edit_employee_path(@employee), class: "btn btn-primary btn-block" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="row>">
  <%= render 'worked_days' %>
  <%= render 'overtimes' %>
  <%= render 'cash_advances' %>
</div>
</div>
</div>
