<div class="col-md-12">
  <div class="box box-solid">
    <div class="box-body">
      <div class="col-md-3 border-right">
        <div class="box-body box-profile">
          <%= image_tag attachment_url(@employee, :photo, :fill, 60, 60, format: "jpg", fallback: "default.png"),  class: "profile-user-img img-responsive img-circle" %>
          <h3 class="profile-username text-center"><%=@employee.full_name %></h3>
          <p class="text-muted text-center"><%=@employee.position.titleize %></p>
          <br>
          <table class="table">
            <tr>
              <td>
                <strong>Email</strong>
                <p class="text-muted"><%= @employee.email %></p>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Mobile Number</strong>
                <p class="text-muted"><%= @employee.mobile_number %></p>
              </td>
            </tr>
            <tr>
              <td>
                <strong><i class="fa fa-book margin-r-5"></i>  Education</strong>
                <% if @employee.educational_attainments.present? %>
                  <%@employee.educational_attainments.each do |educational_attainment| %>
                    <p class="text-muted"><%=educational_attainment.degree %></p>
                  <% end %>
                <% else %>
                  <p class="text-muted">
                    <%=link_to "Add Education", new_employee_educational_attainment_path(@employee) %>
                  </p>
                <% end %>
              </td>
            </tr>
            <tr>
              <td>
                <strong><i class="fa fa-map-marker margin-r-5"></i> Address</strong>
                <p class="text-muted">No address added yet.</p>
              </td>
            </tr>
          </table>
          <a href="/employees/<%=@employee.id %>/edit" class="btn btn-primary btn-block"><b>Update Info</b></a>
        </div>
      </div>
      <div class="col-md-9">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#activity" data-toggle="tab">Activity</a></li>
          <li><a href="#projects" data-toggle="tab">Projects</a></li>
          <li><a href="#cash_advances" data-toggle="tab">Cash Advances</a></li>
          <li><a href="#worked_days" data-toggle="tab">Days Worked</a></li>
          <li><a href="#settings" data-toggle="tab">Settings</a></li>
        </ul>
        <div class="tab-content">
          <%=render 'cash_advances' %>
          <%=render 'projects' %>
          <%=render 'worked_days' %>
        </div>
      </div>
    </div>
  </div>
</div>
