<%= simple_form_for [@project, @time_extension], url: :project_time_extensions do |f| %>
<%=f.error_notification %>
  <div class="col-md-6 col-md-offset-3">
    <div class="box box-widget widget-user">
      <div class="widget-user-header bg-blue-active">
        <h3 class="widget-user-username">New Time Extension</h3>
      </div>
      <div class="box-footer">
        <div class="col-sm-12 border-right">
          <%=f.input :number_of_days %>
          <%=f.input :remarks, as: :text %>
        </div>
      </div>
      <div class="modal-footer">
        <div class="pull-right">
          <%= link_to 'Cancel', @project %> | 
          <%=f.submit "Save Time Extension", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>