

<div class="col-md-6 col-md-offset-3">
  <!-- Widget: user widget style 1 -->
  <div class="box box-widget widget-user">
    <!-- Add the bg color to the header using any of the bg-* classes -->
    <div class="widget-user-header bg-blue-active">
      <h3 class="widget-user-username">New Time Extension</h3>
    </div>
    <div class="box-footer">
      <div class="row">
        <div class="col-sm-12 border-right">
          <div>
                  <%= simple_form_for [@project, @time_extension], html: { class: 'form-horizontal' },
                            wrapper: :horizontal_form,
                            wrapper_mappings: {
                            check_boxes: :vertical_radio_and_checkboxes,
                            radio_buttons: :vertical_radio_and_checkboxes,
                            file: :horizontal_file_input,
                            boolean: :horizontal_boolean
                            } do |f| %>
<%=f.error_notification %>

<%=f.input :number_of_days %>
<%=f.input :remarks, as: :text %>

<div class="modal-footer">
<%=f.submit "Save", class: "btn btn-primary" %>

</div>
<% end %>
</div>
