<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="card">
      <div class="header">
        <h4 class="title"><center>Cash Flow Statement</center></h4>
        <div class="row"><hr></div>
        <div class="row">
          <div class="col-md-12">
            <label>Report Filter:</label>
            <%= form_tag({:action => 'index'}, {:method => :get}) do%>
              <div class="col-md-3">
                <%= label_tag :from_date, nil, class: 'sr-only'%>
                <%= text_field_tag :from_date, @from_date, :class => 'datetimepicker form-control border-input', :placeholder => "Date" %>
              </div>
              <div class="col-md-3">
                <%= label_tag :to_date, nil, class: 'sr-only'%>
                <%= text_field_tag :to_date, @to_date, :class => 'form-control border-input datetimepicker', :placeholder => "Date" %>
              </div>
              <div class="col-md-3">
                <button type="submit" class="btn btn-primary">Get Report</button>
              </div>
              <div class="col-md-3">
                <%=link_to "Print Report (PDF)", accounting_income_statement_index_path(format: 'pdf', from_date: @from_date, to_date: @to_date), class: "btn btn-info pull-right active"%>
              </div>
            <% end %>
          </div>
        </div>
        <div class="row"><hr></div>
      </div>
      <div class="content">
        <table class="table table-hover">
          <caption class="text-left"><b>Cash at the Beginning of the Month</b> <span class="pull-right"><%=number_to_currency Asset.balance %></span></caption>
        </table>
        <div class="row"><hr class="with-padding"></div>
        <table class="table table-hover">
          <caption class="text-left"><b>Cash Received</b></caption>
          <tr>
            <td>Cash received from Operating Activities</td>
            <td></td>
          </tr>
          <tr>
            <td>Cash Sales</td>
            <td></td>
          </tr>
          <tr>
            <td>Collection of Accounts Receivable</td>
            <td></td>
          </tr>
          <tr>
            <th>Total cash received from Operating activities</th>
            <th></th>
          </tr>
        </table>
        <table class="table table-hover">
          <tr>
            <td>Cash received from Asset Activities</td>
            <td></td>
          </tr>
          <tr>
            <td>Cash received from Asset Sales</td>
            <td></td>
          </tr>
          <tr>
            <th>Total Cash Received from Asset Activities</th>
            <th></th>
          </tr>
        </table>
        <table class="table table-hover">
          <tr>
            <td>Cash Received from Financing Activities</td>
            <td></td>
          </tr>
          <tr>
            <td>Owner's Investment</td>
            <td></td>
          </tr>
          <tr>
            <td>Loans and other Borrowings</td>
            <td></td>
          </tr>
          <tr>
            <th>Total Cash Received from Financing Activities</th>
            <th></th>
          </tr>
          <tr>
            <th><p>Total Cash Received</p></th>
            <th></th>
          </tr>
        </table>
        <div class="row"><hr class="with-padding"></div>
        <table class="table table-hover">
          <caption class="text-left"><b>Total Cash Paid</b></caption>
          <tr>
            <td>Cash used in Operating Activities</td>
            <td></td>
          </tr>
          <tr>
            <td>Inventory Purchases</td>
            <td></td>
          </tr>
          <tr>
            <td>Raw Material Purchases</td>
            <td></td>
          </tr>
          <tr>
            <td>Payment of Accounts Payable</td>
            <td></td>
          </tr>
          <tr>
            <td>General and Administrative Expenses</td>
            <td></td>
          </tr>
          <tr>
            <th>Total Cash used in Operating Activities</th>
            <th></th>
          </tr>
        </table>
        <table class="table table-hover">
          <tr>
            <td>Cash used in Asset Activities</td>
            <td></td>
          </tr>
          <tr>
            <td>Equipment Purchases</td>
            <td></td>
          </tr>
          <tr>
            <td>Other Asset Purchases</td>
            <td></td>
          </tr>
          <tr>
            <th>Total cash used for Asset Activities</th>
            <th></th>
          </tr>
        </table>
        <table class="table table-hover">
          <tr>
            <td>Cash used for Financing Activities</td>
            <td></td>
          </tr>
          <tr>
            <td>Interest Payments on Loans</td>
            <td></td>
          </tr>
          <tr>
            <td>Principal Payments on Loans</td>
            <td></td>
          </tr>
          <tr>
            <td>Payment to Owners</td>
            <td></td>
          </tr>
          <tr>
            <th>Total Cash used for Financing Activities</th>
            <th></th>
          </tr>
          <tr>
            <th><p>Total Cash Paid</p></th>
            <th></th>
          </tr>
        </table>
        <div class="row"><hr class="with-padding"></div>
        <table class="table table-hover">
          <caption class="text-left"><b>Cash at the End of the Month</b> <span class="pull-right"><%=number_to_currency Asset.balance %></span></caption>
        </table>
      </div>
    </div>
  </div>
</div>
