<div class="col-lg-12">
  <div class="card">
    <div class="header">
      <h4 class="title"><%=@project.name %><br />
        <a href="#"><small><i class="fa fa-map-marker"></i> <%=@project.address %></small></a>
      </h4>
      <div class="row"><hr></div>
    </div>
    <div class="content">
      <div class="row">
        <div class="col-md-5">
          <ul class="list-unstyled team-members">
            <li>
              <p>
                <%=image_tag("price_tag.png", height: 25, width: 25) %> &nbsp; Project Cost
                <span class="pull-right"> <%=number_to_currency @project.revised_contract_amount %></span>
              </p>
            </li>
            <li>
              <p>
                <%=image_tag("payment_icon.png", height: 25, width: 25) %> &nbsp; Payments
                <span class="pull-right"> <%=number_to_currency @project.total_payments %></span>
              </p>
            </li>
            <li>
              <p>
                <%=image_tag("unpaid.png", height: 25, width: 25) %> &nbsp; Balance
                <span class="pull-right text-danger"> <%=number_to_currency @project.remaining_payments %></span>
              </p>
            </li>
          </ul>
        </div>
        <div class="col-md-6 col-md-offset-1">
          <div class="header">
            <h5>Payments
              <span class="pull-right">
                <%=link_to new_monitoring_project_payment_path(@project), title: "New Payment" do %>
                  <span class="btn btn-success btn-icon" data-toggle="tooltip" data-placement="bottom" title="New Payment"><i class="fa fa-plus"></i></span>
                <% end %>
              </span>
            </h5>
            <div class="row"><hr></div>
          </div>
          <div class="content">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Amount</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <%@project.payments.each do |payment| %>
                  <tr>
                    <td><%=payment.date.strftime("%B %e, %Y") %></td>
                    <td>
                      <%=number_to_currency payment.credit_amounts.sum(:amount)%><br>
                      <small class="text-muted"><%#=number_to_currency contract.inventory.price %></small>
                    </td>
                    <td><%#=number_to_currency contract.total_price %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-8">
  <div class="card">
    <div class="header">
      <div class="row">
        <div class="col-md-6">
          <h4 class="title">Unpaid Work Accomplishments </h4>
        </div>
        <div class="col-md-6">
          <span class="pull-right"> <%=link_to "Request for Payment", monitoring_project_path(@project), class: "btn btn-success active" %></span>
        </div>
      </div>
    </div>
    <div class="content">
      <ul class="team-members list-unstyled">
        <li class="title">
          <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-1">
              Qty
            </div>
            <div class="col-md-1">
              Acc.
            </div>
            <div class="col-md-1">
              Unpaid
            </div>
            <div class="col-md-2">
              <span class="pull-right"> Cost </span>
            </div>
          </div>
        </li>
      <% @project.work_details.each do |work_detail| %>
          <li>
            <div class="row">
              <div class="col-md-4">
                <%=work_detail.description %>
              </div>
              <div class="col-md-1">
                <%=work_detail.quantity %>
              </div>
              <div class="col-md-1">
                <%=work_detail.total_quantity_approved_in_previous_billing %>
              </div>
              <div class="col-md-1">
                <%=work_detail.total_quantity_approved_in_this_billing %>
              </div>
              <div class="col-md-2">
                <span class="pull-right"><%=number_to_currency work_detail.cost_of_this_billing %></span>
              </div>
              <div class="col-md-2">
                <%=link_to monitoring_work_detail_work_accomplishments_path(work_detail) do %>
                  <span class="btn btn-warning btn-icon"><i class="fa fa-pencil"></i></span>
                <% end %>
            </div>
          </li>
        <% end %>
        <li>
          <div class="row">
            <div class="col-md-3">
              <p class="title"> Total </p>
            </div>
            <div class="col-md-3">

            </div>
            <div class="col-md-3">
              <b class="title pull-right"><%=number_to_currency @project.work_details.cost_of_this_billing %></b>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
