
<%= simple_form_for @entry, url: :accounting_petty_cash_disbursements do |f| %>
  <%=f.error_notification %>
  <div class="col-md-4 col-md-offset-4">
    <div class="card">
      <div class="header">
        <h4 class="title">Disbursement Details</h4>
        <hr>
      </div>
      <div class="content">
        <%=f.input :date, as: :string, input_html: { class: "datetimepicker" } %>
        
        <%=f.input :reference_number %>
        <%=f.input :entriable_type, input_html: { value: "Employee" }, as: :hidden %>
        <%=f.input :entriable_id, label: "Employee", collection: Employee.all.map {|a| [a.full_name, a.id]}, input_html: {id: "entry_entriable_id"} %>


        <%=f.simple_fields_for :debit_amounts do |c| %>
          <%=c.input :amount, input_html: {id: "accounting_entry_debit_amounts_attributes_0_amount"}%>
          <%=c.input :account, collection: Expense.all.pluck(:name), input_html: {class: "transactions_disbursement_debit_amounts_attributes_0_account"}%>
        <% end %>
        <%=f.simple_fields_for :credit_amounts do |d| %>
          <%=d.input :amount, input_html: { autocomplete: 'off', id: "accounting_entry_credit_amounts_attributes_0_amount" }, as: :hidden %>
          <%=d.input :account, input_html: { value: "Petty Cash" }, as: :hidden %>
        <% end %>
        <%=f.input :description, as: :text %>
        <div class="modal-footer">
          <%= link_to "Cancel", accounting_petty_cash_index_path, class: 'btn btn-default btn-xs pull-left' %>
          <%=f.submit "Record Entry", class: "btn btn-danger pull-right" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<script>
  $(document).ready(function() {
    $("#transactions_disbursement_debit_amounts_attributes_0_account").select2({
      theme: "bootstrap"
    });
  });
</script>

<script>
  $(document).ready(function() {
    $("#entry_entriable_id").select2({
      theme: "bootstrap"
    });
  });
</script>

<script>
  $(document).ready(function() {
    $("#entry_debit_amounts_attributes_0_account").select2({
      theme: "bootstrap"
    });
  });
</script>
