cd
<%=simple_form_for [:monitoring, @work_detail, @amount_revision], url: :monitoring_work_detail_amount_revisions do |f| %>
  <div class="col-md-5 col-md-offset-3">
    <div class="card">
      <div class="header">
        <h4 class="title"> Amount Revision Details </h4>
        <div class="row"><hr></div>
      </div>
      <div class="content">
        <%=f.input :quantity %>
        <%=f.input :amount %>
        <%=f.input :date, as: :string, input_html: { class: "datetimepicker" } %>
        <%=f.input :revision_type, collection: ChangeOrders::AmountRevision.revision_types.keys.to_a.map{ |a|[a.titleize, a] }, as: :radio_buttons %>
        <%=f.input :remarks, as: :text %>

        <div class="modal-footer">
          <%= link_to 'Cancel', monitoring_work_detail_path(@work_detail), class: 'btn btn-xs pull-left' %>
          <%=f.submit "Save", class: "btn btn-success", data: { disable_with: "Saving..."} %>
        </div>
      </div>
    </div>
  </div>
<% end %>
