
	<div class="col-md-12">
		<div class="card">
			<div class="header">
				<div class="row">
					<div class="col-md-3">
						<h4 class="title">Find a Transaction
						</h4>
					</div>
					<div class="col-md-6">
						<%=form_tag accounting_entries_path, method: :get, class: "custom-search-input" do %>
				      <div class="input-group">
				        <%=text_field_tag :query, params[:query], class: 'form-control search-query border-input', placeholder: 'Search Entries...' %>
                	<span class="input-group-btn">
                                    <button class="btn btn-danger" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
				      </div>
				    <% end %>
					</div>
          
					<div class="col-md-3">
						<span class="pull-right"><%=link_to "New Entry", new_accounting_entry_path, class: "btn btn-primary" %> </span>
					</div>
				</div>
        <br>
        <div class="row">
          <div class="col-md-1">
            <small class="text-light-gray"> Show Activity: </small>
          </div>
          <div class="col-md-5">
            <span> <%=link_to 'This Day', accounting_entries_path, class: "btn btn-info btn-sm active" %></span>
            <span> <%=link_to 'This Week', accounting_entries_path, class: "btn btn-default btn-sm" %></span>
            <span> <%=link_to 'This Month', accounting_entries_path, class: "btn btn-default btn-sm" %></span>
            <span> <%=link_to 'Last Month', accounting_entries_path, class: "btn btn-default btn-sm" %></span>
            or
          </div>
          <div class="col-md-6">
            <%= form_tag({:action => 'index'}, {:method => :get})  do %>
              <div class="row">
                <div class="col-md-4">
                    <%= text_field_tag :from_date, @from_date, :class => 'datepicker form-control input-sm border-input', :placeholder => "From " %>
                </div>
                <div class="col-md-4">
                    <%= text_field_tag :to_date, @to_date, :class => 'form-control border-input datepicker', :placeholder => "To " %>
                </div>
                <div class="col-md-4">
                  <button type="submit" class="btn btn-success active  btn-sm"> Go </button>

                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1">
            <small class="text-light-gray"> Filters: </small>
          </div>
          <div class="col-md-10">
            <span> <%=link_to 'Cash Advance', accounting_entries_path, class: "btn btn-default btn-sm" %></span>
            <span> <%=link_to 'Deposit', accounting_entries_path, class: "btn btn-default btn-sm" %></span>
            <span> <%=link_to 'Withdraw', accounting_entries_path, class: "btn btn-default btn-sm" %></span>
            <span> <%=link_to 'Salary Payment', accounting_entries_path, class: "btn btn-default btn-sm" %></span>
          </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-1">
              <small class="text-light-gray"> Report: </small>
            </div>
            <div class="col-md-10">
              <%=link_to "PDF", accounting_entries_path(format: 'pdf', from_date: @from_date, to_date: @to_date), class: "btn btn-danger btn-sm active"%>
            </div>
          </div>
        </div>
        <br>
			</div>

  </div>
    <div class="col-md-12">
    <div class="card">
    <div class="header">
      <h4 class="title"> All Activity </h4>
			<div class="content">
				<div class="table table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th> Description </th>
								<th> Recipient </th>
								<th> Debit </th>
								<th> Credit </th>
								<th> Amount</th>
								<th> Type </th>
							</tr>
						</thead>
						<tbody>
							<% @entries.each do |entry| %>
								<tr>

		              <td>
                    	<small class="help-block"><i class="fa fa-clock-o"></i> <%=entry.created_at.strftime("%B %d, %Y %I:%M%p") %></small>
                    <small><%=link_to entry.description.truncate(200), accounting_entry_path(entry) %></small></td>
									<td><small><%=entry.entriable.try(:name) %></small></td>
									<td>
										<% entry.debit_amounts.each do |debit| %>
										  <small><%=debit.account.name %></small><br>
										<% end %>
									</td>
									<td>
										<% entry.credit_amounts.each do |credit| %>
											<small><%=credit.account.name %></small>
										<% end %>
									</td>
									<td>
										<% entry.credit_amounts.each do |credit| %>
											<small><%=number_to_currency credit.amount %></small>
										<% end %>
									</td>
									<td><small><%=entry.type.sub("Transactions::", "") if entry.type %></small></td>
								</tr>
							<% end %>
						</tbody>
					</table>
					<div class="modal-footer">
	          <center><%= paginate @entries, :window => 1 %></center>
	          <%=link_to "View All", class: "btn btn-info" %>
	        </div>
				</div>
			</div>
		</div>
	</div>
</div>
