	<div class="col-md-12">
		<div class="card">
			<div class="header">
				<h4 class="title">Entries </h4>
			</div>
			<div class="content">
				<table class="table table-hover">
					<thead>
						<tr>
							<th> Date </th>
							<th> Recipient </th>
							<th> Amount </th>
							<th> Description </th>
							<th> Debit Account </th>
							<th> Credit Account </th>
						</tr>
					</thead>
					<tbody>
					<% @entries.each do |entry| %>
						<tr>
							<td width="20%">
								<span class="help-block"><i class="fa fa-clock-o"></i> <%=entry.created_at.strftime("%B %d, %Y %I:%M%p") %></span>
							</td>

							<td><%=entry.entriable.try(:name) %></td>
							<td><%=number_to_currency entry.debit_amounts.last.try(:amount) %></td>
							<td><%=entry.description %></td>
							<td><%=entry.debit_amounts.last.account.name%> </td>
								<td><%=entry.credit_amounts.last.account.name%> </td>
							</td>
						</tr>
					<% end %>
				</tbody>
				</table>
			</div>
		</div>
	</div>
