<div class="row">
<div class="col-md-9 col-md-offset-2">
<div class="box box-solid">
<div class="box-body">
<h4>Entries Logs</h4>
<hr>
<% @entries.each do |entry| %>
<div class="col-md-3">
<span class="help-block"><i class="fa fa-clock-o"></i> <%=entry.created_at.strftime("%B %d, %Y %I:%M%p") %></span>
</div>
<div class="col-md-8">
<%#=(image_tag attachment_url(activity.owner, :profile_photo, :fill, 35, 35, fallback: "default-xs-small.png"), class: 'img-circle')%>


<%=entry.description %>
<%=number_to_currency entry.debit_amounts.last.amount %>
<%=entry.debit_amounts.last.account.type.sub("Plutus::","") %>
<%=entry.commercial_document.name if entry.commercial_document %>
<hr>
</div>


<% end %>
 </div>
</div> 
