	<div class="col-md-12">
		<div class="card">
			<div class="header">
				<h4 class="title">Entries </h4>
			</div>
			<div class="content">
				<table class="table table-hover">
					<% @entries.each do |entry| %>
						<tr>
							<td width="20%">
								<span class="help-block"><i class="fa fa-clock-o"></i> <%=entry.created_at.strftime("%B %d, %Y %I:%M%p") %></span>
							</td>
							<td>
								<%#=(image_tag attachment_url(activity.owner, :profile_photo, :fill, 35, 35, fallback: "default-xs-small.png"), class: 'img-circle')%>
							<td><%=entry.recipient.try(:name) %></td>
							<td width="10%"><span class="pull-right"><%=number_to_currency entry.debit_amounts.last.try(:amount) %></span></td>
							<td width="30%"><center><%=entry.description %></center></td>
							<td><%=entry.debit_amounts.last.account.type.sub("Plutus::","") %> </td>
							<td><%=entry.entriable if entry.entriable %></td>
							</td>
						</tr>
					<% end %>
				</table>
			</div>
		</div>
	</div>
