<%=simple_form_for [@project, @sub_contract_cost], url: :monitoring_project_sub_contract_costs do |f| %>
<%= f.error_notification %>
  <div class="col-md-5 col-md-offset-3">
    <div class="card">
      <div class="header">
        <h4 class="title"> Sub Contract Cost </h4>
        <div class="row"><hr></div>
      </div>
      <div class="content">
        <%=f.input :date, as: :string, input_html: { class: "date_picker" } %>
        <%=f.input :costable_type, input_html: {value: "Contractor"}, as: :hidden %>
        <%=f.input :costable_id, collection: @project.contractors, label: "Contractor" %>
        <%=f.input :total_cost, label: "Amount" %>
        <%=f.input :description, as: :text %>
        <div class="modal-footer">
          <%= link_to 'Cancel', monitoring_project_path(@project), class: 'btn btn-default pull-left' %>
          <%=f.submit "Save", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
