<%= simple_form_for ([@project, @contract]) do |f| %>
  <%=f.error_notification %>
  <h4>New Sub-Contractor</h4>
  <hr>
  <%=f.input :contractor_id, collection: Contractor.all,  label: false, prompt: '- Select Contractor -' %>
  <%=f.input :amount_subcontracted, label: false, placeholder: 'Amount' %>
  <div class="modal-footer">
    <%=f.submit "Add this Sub Contractor", class: "btn btn-primary" %>
    <hr>
    <%=link_to "I'm done adding Sub Contractors",project_path(@project) %>
  </div>
<% end %>
<script>
  $(document).ready(function() {
    $("#contract_contractor_id").select2({
        theme: "bootstrap"
    });
  });
</script>