<%= simple_form_for ([@project, @contract]) do |f| %>
  <%=f.error_notification %>
  <table class="table">
    <tbody>
    <tr>
      <td style="width: 30%"><%=f.input :contractor_id, collection: Contractor.all,  label: false, placeholder: 'Contractor', prompt: '-- select contractor --' %></td>
      <td style="width: 10%"><%=f.input :amount_subcontracted, label: false, placeholder: 'Amount' %></td>

    </tr>
    </tbody>
    </table>
    <div class="modal-footer">
      <%=f.submit "Add this Sub Contractor", class: "btn btn-primary" %>
      <%=link_to "or I'm done adding Sub Contractors",project_path(@project) %>
    </div>
<% end %>
