<%= simple_form_for [@work_detail, @fuel_expense], url: :work_detail_equipment_fuel_costs do |f| %>
<%=f.error_notification %>
  <div class="col-md-5 col-md-offset-3">
    <div class="box box-solid">
      <div class="box-header with-border">
        <h4>Fuel Cost Details</h4>
      </div>
      <div class="box-body">
        <%=f.input :inventory_id, input_html: {value: Inventory.find_by_name("Fuel").id}, as: :hidden  %>
        <%=f.input :date_issued, as: :string, input_html:{class: "datetimepicker"} %>
        <%=f.input :quantity, placeholder: 'Quantity', input_html:{id: "quantity", oninput: "calculate()"} %>
        <%=f.input :unit_cost,  placeholder: 'Inventory Cost', input_html:{id: "unit_price", value: :inventory_cost, oninput: "calculate()"}  %>
        <%=f.input :total_cost,  placeholder: 'Total Cost', readonly: true ,  input_html:{id: "amount"}%>
      </div>
      <div class="box-footer">
        <%=link_to "Cancel", @work_detail, class: "btn btn-default btn-sm" %>
        <%=f.submit "Save Fuel Cost", class: "btn btn-primary btn-sm pull-right" %>
    </div>
  </div>
<% end %>

