<%= simple_form_for [@project, @amount_revision], url: :project_amount_revisions do |f| %>
<%=f.error_notification %>
  <div class="col-md-5 col-md-offset-4">
    <div class="box box-widget widget-user">
      <div class="widget-user-header bg-blue-active">
        <h3 class="widget-user-username">New Amount Revision</h3>
      </div>
      <div class="box-body">
        <div class="col-sm-12 border-right">
          <%=f.input :amount, label: "Additional Amount", as: :string %>
          <%=f.input :remarks, as: :text %>
        </div>
      </div>
      <div class="box-footer">
        <div class="pull-right">
          <%= link_to 'Cancel', @project, class: 'btn btn-warning' %>
          <%=f.submit "Save Amount Revision", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>