<div class="col-md-12">
<div class=" box box-solid">
<div class="box-header with-border">
<h4>DPWH Cost Codes</h4>
<hr>
<div class="box-body">

<%=link_to "Add Division", new_cost_code_division_path %>
<% @divisions.each do |division| %>
<h4><%=division.name %></h4>
<%=link_to "Add Item", new_cost_code_division_item_path(division) %>

<%division.items.each do |item| %>
<tr>
  <td><%=item.code %></td>
  <td><%=item.description %></td>
</tr>
<% end %>
<% end %>
</div>
</div>
</div>
