<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="card">
      <div class="header">
        <h4 class="title"> New Stock Details </h4>
        <hr>
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-5">
            <div class="col-md-10">
              <h5 class="title"><%=@inventory.name %></h5>
              <hr>
              <label class="text-muted">Price</label><br>
              <h5 class="title"><%=number_to_currency @inventory.price %></h5>
              <hr>
              <label class="text-muted">Remaining Quantity</label><br>
              <h5 class="title"><%=@inventory.quantity %> <%=@inventory.unit %></h5>
            </div>
          </div>
          <div class="col-md-6">
            <div class="col-md-10 col-md-offset-2">
              <%=simple_form_for [:supplies, @inventory, @stock], url: :supplies_inventory_stocks do |f| %>
                <%=f.error_notification %>
                <%= f.input :date, as: :string, input_html: {class: "datetimepicker"} %>
                <%= f.input :quantity, input_html: { id: "stock_quantity", oninput: "calculate()" } %>
                <div class="row">
                  <div class="col-md-6">
                    <%= f.input :unit_cost,  input_html: { id: "stock_unit_cost", oninput: "calculate()" } %>
                  </div>
                  <div class="col-md-6">
                    <%= f.input :total_cost, input_html: { id: "stock_total_cost" }, readonly: true %>
                  </div>
                </div>

                <div class="modal-footer">
                  <%= link_to "Cancel", supplies_inventories_path, class: 'btn btn-warning pull-left' %>
                  <%= f.submit "Save Stock", class: "btn btn-primary" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
