<%= simple_form_for [@work_detail, @work_accomplishment] do |f| %>
<%= f.error_notification %>
  <div class="col-md-12">
    <div class="box box-widget widget-user">
      <div class="box-header with-border">
        <h3>New Work Accomplishment</h3>
        <h5 class="text-uppercase"><%=@work_detail.description %></h5>
        <h5 class="text-uppercase">Remaining Quantity: <%=@work_detail.remaining_quantity %> <%=@work_detail.unit %></h5>
      </div>
      <div class="box-body">
        <div class="col-md-6 col-md-offset-3">
          <%=f.input :quantity %>
          <%=f.input :remarks %>
          <%=f.input :date_accomplished,  as: :string, input_html:{:class => 'datepicker'} %>
        </div>
      </div>
      <div class="modal-footer">
        <%=f.submit "Save Work Accomplishment", class: "btn btn-default bg-blue-active" %>
        <%=link_to "Cancel",project_work_detail_path(@work_detail.project.id, @work_detail), class: "btn btn-default"%>
      </div>
    </div>
  </div>
<% end %>

