<%= simple_form_for @equipment do |f| %>
<%=f.error_notification %>
  <div class="col-md-5 col-md-offset-3">
    <div class="card">
      <div class="header">
        <h4 class="title">Equipment Details</h4>
        <div class="row"><hr></div>
      </div>
      <div class="content">

        <%if @equipment.photo.blank? %>
          <center><%=image_tag("default-small.png", :class=>"img-square center-block ") %></center>
        <% else %>
          <center><%= image_tag @equipment.photo.url(:medium), class: 'center-block img-responsive img-rounded'%></center>
        <% end %>
        <center><%= f.input :photo, class: 'center-block', as: :file %></center>
        <%= f.input :make, label: false, placeholder: 'Equipment Name' %>
        <%=f.input :model, label: false, placeholder: 'Model' %>
        <%=f.input :chassis_number, label: false, placeholder: 'Chassis Number' %>
        <%=f.input :engine_number, label: false, placeholder: 'Engine Number' %>
        <%=f.input :acquisition_date, label: false, placeholder: 'Acquisition Date', as: :string, input_html: {class: "datetimepicker"} %>
        <%=f.input :acquisition_cost, label: false, placeholder: 'Acquisition Cost' %>
        <%=f.input :plate_number, label: false, placeholder: 'Plate Number' %>
        <br>
        <br>
        <div class="modal-footer">
          <%= link_to "Cancel", equipment_index_path, class: 'btn btn-xs pull-left' %>
          <%=f.submit "Save Equipment", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
