<div class="card card-user">
  <div class="image">
    <%= image_tag "hero.jpg", class: "img-square center-block", alt: "employee profile picture" %>
  </div>
  <div class="content">
    <div class="author">
      <%= image_tag @equipment.photo.url(:medium), class: "avatar border-white", alt: "equipment profile picture" %>
      <h4 class="title"><%=@equipment.make_and_model.upcase %></h4>
      <% if @equipment.equipment_status.present? %>
        <% if @equipment.active? %>
          <p class="text-success">(<%=@equipment.equipment_status.status.capitalize%>)</p>
        <% elsif @equipment.inactive?%>
          <p class="text-danger">(<%=@equipment.equipment_status.description.capitalize%>)</p>
        <% end %>
      <% end %>
      <br>
      <div class="col-md-12">
        <% if @equipment.equipment_status.blank? %>
          <%= link_to "Set Status", new_equipment_equipment_status_path(@equipment), class: "btn btn-info btn-sm active"%>

        <% else %>
          <%= link_to "Update Status", edit_equipment_equipment_status_path(@equipment, @equipment.equipment_status.id), class: "btn btn-warning btn-sm active" %>
        <% end %>
      </div>
    </div>
    <br>
    <ul class="description list-unstyled team-members text-center">
      <li>
        <div class="row"><hr></div>
        <p class="no-padding"><%=@equipment.plate_number %></p>
        <label>Plate Number</label>
      </li>
      <li>
        <p class="no-padding"><%=number_to_currency @equipment.try(:acquisition_cost) %></p>
        <label>Acquisition Cost</label>
      </li>
      <li>
        <p class="no-padding"><%#=@equipment.try(:acquisition_date, :strftime("%B %e, %Y")) %></p>
        <label>Acquisition Date</label>
      </li>
    </ul>
    <div class="modal-footer">
      <div class="col-md-10 col-md-offset-1">
        <%=link_to "Update Equipment", edit_equipment_path(@equipment), class: "btn btn-primary btn-block" %>
      </div>
    </div>
  </div>
</div>
