<div class="tab-pane active" id="profile">
  <div class="content">
    <div class="row">
      <div class="col-md-3">
        <ul class="list-unstyled team-members">
          <li>
            <p><%=@equipment.plate_number %></p>
            <span class="text-muted">Plate Number</span>
          </li>
          <li>
            <p><%=number_to_currency @equipment.acquisition_cost %></p>
            <span class="text-muted">Acquisition Cost</span>
          </li>
          <li>
            <p><%=number_to_currency @equipment.acquisition_cost %></p>
            <span class="text-muted">Acquisition Cost</span>
          </li>
          <li>
            <%=link_to "Update Equipment", edit_equipment_path(@equipment), class: "btn btn-primary btn-block" %>
          </li>
        </ul>
      </div>
      <div class="col-md-9">
        <div class="header">
          <div class="row">
            <div class="col-md-6">
              <h4 class="title pull-left">Equipment Jobs</h4>
            </div>
            <div class="col-md-6">
              <%=link_to "New Equipment Schedule", new_equipment_equipment_schedule_path(@equipment), class: "btn btn-primary btn-sm pull-right" %>
            </div>
          </div>
          <div class="row"><hr></div>
        </div>
        <div class="content">
          <table class="table table-hover">
            <thead>
              <tr>
                <th width="30px"></th>
                <th>Operator</th>
                <th>Equipment</th>
              </tr>
            </thead>
            <tbody>
              <% @equipment.equipment_schedules.each do |equipment_schedule| %>
                <tr>
                  <td width="30px">
                    <%= image_tag equipment_schedule.operator.profile_photo(:small), class: 'img-circle' %>
                  </td>
                  <td>
                    <span class="pull-left"><%=equipment_schedule.operator.full_name %></span>
                  </td>
                  <td>
                    <span class="pull-left"><%=equipment_schedule.project.id_number_and_location %></span>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



