<div class="card">
  <div class="image">
    <%=image_tag(@equipment.photo.url(:original), class: "img-responsive") %>
  </div>
  <div class="header">
    <b class="title text-yellow"><%="#{@equipment.make_and_model}"%></b>
    <span class="btn btn-<%=@equipment.status_color%> btn-xs active pull-right"><%=@equipment.status%> </span>
    <br>
    <span class="text-light-gray"><%=@equipment.plate_number %></span>
  </div>
  <div class="content">
    <p class="">
      <i class="fa fa-circle text-<%=@equipment.status_color%>"></i>
      <%=@equipment.equipment_status %>
      <%=link_to "Update", new_equipment_equipment_status_path(@equipment), class: "btn btn-xs btn-danger  pull-right" %>
    </p>
    <div class="row"><hr class="with-padding"></div>
    <p class="text-info">
      <%= image_tag @equipment.operator.profile_photo.url(:small), class: 'img circle' %>&nbsp
      <%= @equipment.operator.name %>
    </p>
    <br>
    <br>
    <div class="footer">
      <%=link_to "Update Info", edit_equipment_path(@equipment), class: "btn btn-warning btn-block active" %>
    </div>
  </div>
</div>
