<div class="col-md-6">
  <div class="box box-solid">
    <div class="box-header with-border">
      <h4>List of Equipment
      <span class="pull-right"><%= link_to "New Equipment", new_equipment_path, class: "btn btn-primary btn-sm" %></span>
      </h4>
    </div>
    <div class="box-body">
      <table class="table table-hover">
        <thead>
          <tr class="text-uppercase">
            <th>Equipment</th>
            <th>Description</th>
            <th>Acquisition Cost</th>
          </tr>
        </thead>
        <tbody>
          <% @equipments.each do |equipment| %>
            <tr>
              <td><%= link_to equipment.make_and_model, equipment %></td>
              <td><%= equipment.plate_number %></td>
              <td><%= number_to_currency equipment.acquisition_cost %></td>

            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="box box-solid">
    <div class="box-header with-border">
      <h4>Equipment Schedule</h4>
    </div>
    <div class="box-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Equipment</th>
            <th>Operator</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% EquipmentSchedule.all.each do |equipment_schedule| %>
            <tr class="<% if equipment_schedule.equipment.inactive? %>text-warning<% elsif equipment_schedule.equipment.active? %>text-success<% end %>">
              <td><%= equipment_schedule.equipment %></td>
              <td><%= equipment_schedule.operator.full_name %></td>
              <td>
                <% if equipment_schedule.equipment.inactive? %>
                  <%= equipment_schedule.equipment.equipment_status.description %>
                <% elsif equipment_schedule.equipment.active? %>
                  <%= equipment_schedule.equipment.equipment_status.status.capitalize %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
