<%= simple_form_for @equipment do |f| %>
<%=f.error_notification %>
  <div class="col-md-10 col-md-offset-1">
    <div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="widget-user-username">New Equipment</h3>
      </div>
      <div class="box-body">
        <div class="col-md-7 border-right">
          <div class="box-header with-border">
            <h4>List of Equipments</h4>
          </div>
          <% @equipments.each do |equipment| %>
            <h4><%=link_to equipment.make_and_model, equipment %>
            <span class="pull-right"><%= number_to_currency equipment.acquisition_cost %></span></h4>
            <span class="help-block"><i class="fa fa-truck"></i> Available </span>
            <hr />
          <% end %>
        </div>
        <div class="col-md-5">
          <div class="well">
            <h4>Details</h4>
            <hr>
            <%= f.input :make, label: false, placeholder: 'Equipment Name' %>
            <%=f.input :model, label: false, placeholder: 'Model' %>
            <%=f.input :plate_number, label: false, placeholder: 'Plate Number' %>
            <%=f.input :acquisition_cost, label: false, placeholder: 'Acquisition Cost' %>
            <hr>
            <div class="modal-footer">
              <%=f.submit "Save Equipment", class: "btn btn-primary" %>
              <hr>
              <%= link_to "I'm done adding equipments.", equipment_index_path %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>