<div class="col-md-12">
  <div class="card">
    <div class="row">
      <div class="col-md-1">
        <h1><a href="/equipment" data-toggle="tooltip" title="Return to Equipment Index"><i class="fa fa-angle-left"></i></a></h1>
      </div>
      <div class="col-md-11">
        <h4 class="text-info"><%=@equipment.make_and_model.upcase %></h4>
      </div>
    </div>
    <ul class="nav nav-tabs" role="tablist">
      <li  role="presentation" class="active">
        <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a>
      </li>
      <li  role="presentation">
        <a href="#rent_and_lease_payments" aria-controls="rent_and_lease_payments" role="tab" data-toggle="tab">Rent and Lease Payments</a>
      </li>
      <li role="presentation">
        <a href="#depreciation" aria-controls="depreciation" role="tab" data-toggle="tab"></i> Depreciation</a>
      </li>
      <li role="presentation">
        <a href="#repairs_and_maintenance" aria-controls="repairs_and_maintenance" role="tab" data-toggle="tab"></i> Repairs and Maintenace</a>
      </li>
      <li role="presentation">
        <a href="#fuel_and_lubrication" aria-controls="fuel_and_lubrication" role="tab" data-toggle="tab">Fuel and Lubrication</a>
      </li>
      <li role="presentation">
        <a href="#taxes_licenses_and_insurance" aria-controls="taxes_licenses_and_insurance" role="tab" data-toggle="tab"></i> Taxes, Licenses and Insurance</a>
      </li>
    </ul>
    <div class="tab-content">
<%=render "profile" %>
<%=render "rent_and_lease_payments" %>
<%=render "depreciation" %>
<%=render "repairs_and_maintenance" %>
<%=render "fuel_and_lubrication" %>
<%=render "taxes_licenses_and_insurance" %>
    </div>
   </div>
</div>
