<div class="row">
  <div class="col-md-4">
    <%= render 'profile' %>
    <%= render 'taxes_licenses_and_insurance' %>
  </div>
  <div class="col-md-8">
    <%= render 'equipment_schedule' %>
    <%= render 'fuel_and_lubrication' %>
    <%= render 'repairs_and_maintenance' %>
    <%= render 'rent_and_lease_payments' %>
  </div>
</div>