<ul class="list-unstyled team-members">
  <li>
    <div class="row">
      <div class="col-xs-2">
        <small><%=labor.date.strftime("%b %e %Y") %></small>
      </div>
      <div class="col-xs-2">
          <%=labor.quantity %> <%=labor.unit %>
      </div>
      <div class="col-xs-5">
        <%=image_tag(labor.employee.profile_photo(:thumb), class: "img-circle")%> <%=labor.employee.full_name %>
        <br />
        <span class="text-muted"><small>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<%=number_to_currency labor.unit_cost %></small></span>
      </div>
      <div class="col-xs-2 text-right">
        <%=number_to_currency labor.total_cost %>
      </div>
    </div>
    <hr>
  </li>
</ul>
