<ul class="list-unstyled team-members">
  <li>
    <div class="row">
      <div class="col-xs-2">
        <small><%=purchase_order.date.strftime("%b %e %Y") %></small>
      </div>
      <div class="col-xs-2">
          <%=purchase_order.quantity %> <%=purchase_order.unit %>
      </div>
      <div class="col-xs-5">
        <%=purchase_order.description%>
        <br />
        <span class="text-muted"><small><%=number_to_currency purchase_order.unit_cost %></small></span>
      </div>
      <div class="col-xs-2 text-right">
        <%=number_to_currency purchase_order.amount %>
      </div>
    </div>
    <hr>
  </li>
</ul>
