
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-warning text-center">
                                            <i class="glyphicon glyphicon-road"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p><%=Project.count%> Projects</p>

                                            <small><%=number_to_currency Project.sum(:cost) %></small>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr />
                                    <div class="stats">
                                        <i class="fa fa-user"></i> <small>Updated <%=time_ago_in_words(Project.last.created_at.to_date) %> ago </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-success text-center">
                                            <i class="fa fa-bar-chart"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>Collection</p>
                                            <small><%=number_to_currency Project.all.map{|a| a.total_payments}.sum %></small>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr />
                                    <div class="stats">
                                        <i class="ti-calendar"></i> Last day
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-danger text-center">
                                            <i class="fa fa-bar-chart"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>Remaining</p>
                                            <small><%=number_to_currency Project.all.map{|a| a.remaining_payments}.sum %></small>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr />
                                    <div class="stats">
                                       In the last hour
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-info text-center">
                                          <%=image_tag("engineer.png", height: 40, width: 40) %>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>Contractors</p>
                                            <%=Contractor.count%>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr />
                                    <div class="stats">
                                        <i class="ti-reload"></i> Updated now
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Project Status</h4>
                                <p class="category">Accomplishment Status Monitoring</p>
                            </div>
                            <div class="content">
                              <%=render 'monitoring/projects/performance' %>
                                <div class="footer">
                                    <div class="chart-legend">
                                        <i class="fa fa-circle text-warning"></i> On-going
                                        <i class="fa fa-circle text-danger"></i> Not Started
                                    </div>
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-server"></i> Updated <%=time_ago_in_words(WorkAccomplishment.last.created_at.to_date) %> ago
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

              <div class="row">
                  <div class="col-md-6">
                      <div class="card">
                          <div class="header">
                              <h4 class="title">Payments</h4>
                              <p class="category">Project Payment Status Monitoring</p>
                          </div>
                          <div class="content">
                            <%=render 'monitoring/payments/payments' %>
                              <div class="footer">
                                  <div class="chart-legend">
                                      <i class="fa fa-circle text-success"></i> Finished
                                      <i class="fa fa-circle text-warning"></i> On-going
                                      <i class="fa fa-circle text-danger"></i> Not Started
                                  </div>
                                  <hr>
                                  <div class="stats">
                                      <i class="ti-reload"></i> Updated <%=time_ago_in_words(Transactions::InvoicePayment.last.created_at.to_date) %> ago
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="card">
                          <div class="header">
                              <h4 class="title">Contractors</h4>
                              <p class="category">Subcontract Work Status Monitoring</p>
                          </div>
                          <div class="content">
                            <%=render 'monitoring/contractors/performance' %>
                              <div class="footer">
                                  <div class="chart-legend">
                                      <i class="fa fa-circle text-success"></i> Paid
                                      <i class="fa fa-circle text-warning"></i> On-going
                                      <i class="fa fa-circle text-danger"></i> Not Started
                                  </div>
                                  <hr>
                                  <div class="stats">
                                      <i class="ti-reload"></i> Updated <%=time_ago_in_words(Transactions::InvoicePayment.last.created_at.to_date) %> ago
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
            </div>
