<div class="row">
  <div class="col-lg-4 col-sm-6">
    <div class="card">
      <div class="content">
        <div class="row">
          <div class="col-xs-3">
            <div class="icon-big icon-warning text-center">
              <i class="glyphicon glyphicon-road"></i>
            </div>
          </div>
          <div class="col-xs-9">
            <div class="numbers">
              <p><%=Project.count%> Projects</p>

              <small><%=number_to_currency Project.sum(:cost) %></small>
            </div>
          </div>
        </div>
        <div class="footer">
          <hr />
          <div class="stats">
            <% if Project.any? %>
              <i class="fa fa-clock-o"></i> <small>Updated <%=time_ago_in_words(Project.last.created_at.to_date) %> ago </small>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-sm-6">
    <div class="card">
      <div class="content">
        <div class="row">
          <div class="col-xs-3">
            <div class="icon-big icon-success text-center">
                <i class="fa fa-bar-chart"></i>
            </div>
          </div>
          <div class="col-xs-9">
            <div class="numbers">
              <p>Collection</p>
              <small><%#=number_to_currency Project.all.map{|a| a.total_payments}.sum %></small>
            </div>
          </div>
        </div>
        <div class="footer">
          <hr />
          <div class="stats">
            <% if Transactions::InvoicePayment.any? %>
              <i class="fa fa-clock-o"></i> <small>Updated <%=time_ago_in_words(Transactions::InvoicePayment.last.created_at.to_date) %> ago </small>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-sm-6">
    <div class="card">
      <div class="content">
        <div class="row">
          <div class="col-xs-3">
            <div class="icon-big icon-danger text-center">
                <i class="fa fa-bar-chart"></i>
            </div>
          </div>
          <div class="col-xs-9">
            <div class="numbers">
              <p>Remaining</p>
              <small><%=number_to_currency Project.all.map{|a| a.remaining_payments}.sum %></small>
            </div>
          </div>
        </div>
        <div class="footer">
          <hr />
          <div class="stats">
            <% if Transactions::InvoicePayment.any? %>
              <i class="fa fa-clock-o"></i> <small>Updated <%=time_ago_in_words(Transactions::InvoicePayment.last.created_at.to_date) %> ago </small>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <h4 class="title"><center>Projects Progress</center> </h4>
        <div class="row"><hr></div>
      </div>
      <div class="content">
        <table class="table">
          <thead>
            <tr>
              <th class="hidden-xs" width="10%"></th>
              <th class="text-center" width="200px"></th>
              <th class="text-center title" width="10%">Accomplished</th>
              <th class="text-center title" width="10%">Target</th>
              <th class="text-center title" width="10%">Slippage</th>
            </tr>
          </thead>
          <tbody>
            <% @projects.each do |project| %>
              <tr>
                <td class="hidden-xs" width="10%">
                  <% if project.accomplishment_images.present? %>
                    <%=image_tag(project.accomplishment_images.last.photo.url(:large), height: 100, width: 100, class: "img-square") %>
                  <% else %>
                    <%=image_tag("equipment.png", height: 100, width: 100, class: "img-square") %>
                  <% end %>
                </td>
                <td width="200px">
                  <h4 class="title"><span class="text-warning"># <%=project.id_number %></span></h4>
                  <%= link_to project.name, monitoring_project_path(project) %>
                </td>
                <td class="text-right" width="10%">
                  <h4 class="title"><span class="text-info"><%=number_to_currency project.actual_accomplishment, unit: "" %> % </span></h4>
                </td>
                <td class="text-right" width="10%">
                  <h4 class="title"><span class="text-warning"><%=number_to_currency project.target_accomplishment, unit: "" %> %</span></h3>
                </td>
                <td class="text-right" width="10%">
                  <h4 class="title"><span class="text-danger"><i class="fa fa-angle-<%=project.slippage_sign%>"></i> <%=number_to_currency project.slippage, unit: "" %> %</span></h4>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="footer">
          <div class="chart-legend">
            <i class="fa fa-circle text-warning"></i> On-going
            <i class="fa fa-circle text-danger"></i> Not Started
          </div>
          <hr>
          <div class="stats">
            <% if WorkAccomplishment.any? %>
              <i class="fa fa-server"></i> Updated <%=time_ago_in_words(WorkAccomplishment.last.created_at.to_date) %> ago
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <%=render 'monitoring/payments/payments' %>
  <%=render 'monitoring/contractors/contractor' %>  
</div>
<script type="text/javascript">
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
