<div class="row">
  <div class="col-lg-4 col-sm-6">
    <div class="card">
      <div class="content">
        <div class="row">
          <div class="col-xs-3">
            <div class="icon-big icon-warning text-center">
              <i class="glyphicon glyphicon-road"></i>
            </div>
          </div>
          <div class="col-xs-9">
            <div class="numbers">
              <p><%=Project.count%> Projects</p>

              <small><%=number_to_currency Project.sum(:cost) %></small>
            </div>
          </div>
        </div>
        <div class="footer">
          <hr />
          <div class="stats">
            <% if Project.any? %>
              <i class="fa fa-clock-o"></i> <small>Updated <%=time_ago_in_words(Project.last.created_at.to_date) %> ago </small>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-sm-6">
    <div class="card">
      <div class="content">
        <div class="row">
          <div class="col-xs-3">
            <div class="icon-big icon-success text-center">
                <i class="fa fa-bar-chart"></i>
            </div>
          </div>
          <div class="col-xs-9">
            <div class="numbers">
              <p>Collection</p>
              <small><%#=number_to_currency Project.all.map{|a| a.total_payments}.sum %></small>
            </div>
          </div>
        </div>
        <div class="footer">
          <hr />
          <div class="stats">
            <% if Transactions::InvoicePayment.any? %>
              <i class="fa fa-clock-o"></i> <small>Updated <%=time_ago_in_words(Transactions::InvoicePayment.last.created_at.to_date) %> ago </small>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-sm-6">
    <div class="card">
      <div class="content">
        <div class="row">
          <div class="col-xs-3">
            <div class="icon-big icon-danger text-center">
                <i class="fa fa-bar-chart"></i>
            </div>
          </div>
          <div class="col-xs-9">
            <div class="numbers">
              <p>Remaining</p>
              <small><%=number_to_currency Project.all.map{|a| a.remaining_payments}.sum %></small>
            </div>
          </div>
        </div>
        <div class="footer">
          <hr />
          <div class="stats">
            <% if Transactions::InvoicePayment.any? %>
              <i class="fa fa-clock-o"></i> <small>Updated <%=time_ago_in_words(Transactions::InvoicePayment.last.created_at.to_date) %> ago </small>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%=render 'monitoring/projects/dashboard' %>

<div class="row">
  <%=render 'monitoring/payments/payments' %>
  <%=render 'monitoring/contractors/contractor' %>

<script type="text/javascript">
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
