<div class="col-md-12">
  <div class="card">
    <div class="header">
      <div class="row">
        <div class="col-md-2">
          <h4 class="title">Accounts</h4>
        </div>
        <div class="col-md-6">
          <%=form_tag accounting_accounts_path, method: :get do %>
            <div class="input-group stylish-input-group">
              <%=text_field_tag :name, params[:name], class: 'form-control', placeholder: 'Search for an Account' %>
              <span class="input-group-addon">
                <button type="submit">
                  <span class=" glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div>
          <% end %>
        </div>
        <div class="col-md-4">
          <span class="pull-right"><%=link_to "New Account", new_accounting_account_path, class: 'btn btn-primary' %></span>
        </div>
      </div>
    </div>
    <div class="content">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Type</th>
            <th>Credit Balance</th>
            <th>Debit Balance</th>
          </tr>
        </thead>
        <tbody>
          <% @accounts.each do |account| %>
            <tr>
              <td><%=account.code %></td>
              <td><%= link_to account.name, accounting_account_path(account) %></td>
              <td><%=account.type %></td>
              <td><%=number_to_currency account.credits_balance %></td>
              <td><%=number_to_currency account.debits_balance %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
