<div class="row">
  <div class="col-lg-4 col-sm-6">
    <div class="card">
      <div class="content">
        <div class="row">
          <div class="col-xs-3">
            <div class="icon-big icon-warning text-center">
              <i class="fa fa-pie-chart"></i>
            </div>
          </div>
          <div class="col-xs-9">
            <div class="numbers">
              <p>Balance</p>
              <small><%=number_to_currency @account.balance %></small>
            </div>
          </div>
        </div>
        <div class="footer">
          <hr />
          <div class="stats">
            <% if Project.any? %>
              <i class="fa fa-clock-o"></i> <small>Updated <%=time_ago_in_words(Project.last.created_at.to_date) %> ago </small>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="card">
    <div class="content">
          <div class="row">
            <div class="col-md-4">
              <h4 class="title">All Activity
              <span class=""><%=@account.entries.first.date.strftime("%B %e, %Y") %> - <%=@account.entries.last.date.strftime("%B %e, %Y") %> </span>
              </h4>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
              <span class="pull-right"><%=link_to "View PDF", accounting_entries_path(format: 'pdf'), class: "btn btn-default"  %>
              </span>
            </div>
          </div>

          <% @account.entries.order(:date).reverse.each do |entry| %>
          <div class="row">
            <div class="col-md-2">
              <%=entry.date.strftime("%B %e, %Y") %>
            </div>
            <div class="col-md-10">
              <div>
                <small class="pull-right"><i class="fa fa-clock-o"></i>
                   <%=entry.date.strftime("%H:%M %P") %></small>
                   <p>
              <% if entry.entriable_type  == "Employee" %>
                <%=image_tag(entry.entriable.profile_photo.url(:small), class:"img-circle") %>
              <% end %>
              <small><%=entry.entriable.name %></small>
            </p>
            <p>
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span class="text-light-gray"><%=entry.description %></span>
            </p>
          </div>
            </div>
          </div>
          <br>
          <% end %>
        </div>
      </div>
    </div>
