<div class="col-md-12">
  <div class="box box-solid">
    <div class="box-header with-border">
      <h3>Sales</h3>
    </div>
    <div class="box-body">
      <div class="col-md-8">
          <table class="table">
            <thead>
              <tr>
                <th>Recipient</th>
                <th>Item</th>
                <th>Quantity</th>
                <th><span class="pull-right">Amount</span></th>
                <th><span class="pull-right">Date</span></th>
              </tr>
            </thead>
            <tbody>
              <% @sales.each do |sale| %>
                <tr>
                  <td><%= sale.recipient %></td>
                  <td><%= sale.inventory.name %> - <%= sale.inventory.description %></td>
                  <td><%= sale.quantity %> <%= sale.inventory.unit %></td>
                  <td><span class="pull-right"><%= number_to_currency sale.amount %></span></td>
                  <td><span class="pull-right"><%= sale.date.strftime("%B %e, %Y") if sale.date.present? %></span></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="col-md-4">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    $(document).ready(function() {
        $("#sale_inventory_id").select2({
            theme: "bootstrap"
        });
    });
</script>

