<div class="row">
<div class='col-md-6 col-md-offset-3'>
  <div class="panel panel-default">
    <div class="panel-body">
      <h4 class="text-center">Employee Details </h4>
      <hr />
       <%= simple_form_for @user do |f| %>
      <%=f.error_notification %>

      <%if @user.profile_photo.blank? %>
        <%=image_tag("default-small.png", :class=>"img-square center-block ") %>
        <br>
        <% else %>
        <%= image_tag attachment_url(@taxpayer, :profile_photo, :fill, 150, 150), class: 'center-block img-responsive img-rounded'%>
        <% end %>
        <%= f.file_field :profile_photo, class: 'center-block'%>

      <hr>
      <div class="row">
        <div class="col-md-4">
          <%=f.input :first_name, autofocus: true  %>
        </div>
        <div class="col-md-4">
          <%=f.input :middle_name %>
        </div>
        <div class="col-md-4">
          <%=f.input :last_name %>
        </div>
      </div>
        <%=f.input :email %>
        <%=f.input :password %>
        <%=f.input :password_confirmation %>
        <%= f.input :role, collection: User.roles.keys.to_a.map{|role| [role.titleize, role]}, as: :radio_buttons %>

        <%= f.fields_for :additional_information do |ai| %>
          <%= render 'additional_information_fields', f: ai %>
        <% end %>
        <hr>
        <%= f.fields_for :address do |a| %>
          <%= render 'address_fields', f: a %>
        <% end %>
        </div>
        <div class="modal-footer">
          <%=f.submit 'Save Employee', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
