<%= simple_form_for @user do |f| %>
<%=f.error_notification %>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class='box box-solid'>
        <div class="box-header with-border">
          <h4 class="text-center">Employee Details </h4>
        </div>
        <div class="box-body">
          <div class="box-header with-border">
            <div class="col-md-4 col-md-offset-4">
              <%if @user.profile_photo.blank? %>
                <center><%=image_tag("default-small.png", :class=>"img-square center-block ") %></center>
              <% else %>
                <center><%= image_tag @user.profile_photo.url(:medium), class: 'center-block img-responsive img-rounded'%></center>
              <% end %>
              <br>
              <%= f.input :profile_photo, class: 'center-block', as: :file %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 border-right">
              <div class="col-md-10 col-md-offset-1">
                <%=f.input :first_name, autofocus: true  %>
                <%=f.input :middle_name %>
                <%=f.input :last_name %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="col-md-10 col-md-offset-1">
                <%= f.input :role, collection: User.roles.keys.to_a.map{|role| [role.titleize, role]}, as: :radio_buttons %>
              </div>
            </div>
          </div>
          <hr>
          <h4 class="text-center">Account Details</h4>
          <hr>
          <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
              <div class="col-md-10 col-md-offset-1">
                <%=f.input :email %>
                <%=f.input :password %>
                <%=f.input :password_confirmation %>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <%=f.submit 'Save Employee', class: 'btn btn-primary', data: {disable_with: "Saving Employee..."} %>
        </div>
      </div>
    </div>
  </div>
<% end %>