<%= simple_form_for @user do |f| %>
<%=f.error_notification %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class='card'>
        <div class="header">
        </div>
        <div class="content">
          <%if @user.profile_photo.blank? %>
            <%=image_tag("default.png", height: 80, width: 80, :class=>"img-square") %>
          <% else %>
            <center><%= image_tag @user.profile_photo.url(:large), class: 'center-block img-responsive img-rounded'%></center>
          <% end %>
          <%= f.input :profile_photo, as: :file %>

          <div class="row"><hr class="with-padding"></div>
          <h4 class="title"> General Info </h4>
          <br>
          <div class="row">
            <div class="col-md-6">
              <%=f.input :first_name, autofocus: true  %>
            </div>
            <div class="col-md-6">
              <%=f.input :last_name %>
            </div>
          </div>


          <div class="row"><hr class="with-padding"></div>

          <caption><b>Account Details</b></caption>

          <div class="row"><hr></div>


          <div class="row">
            <div class="col-md-6">
              <%= f.input :role, collection: User.roles.keys.to_a.map{|role| [role.titleize, role]}%>
            </div>
            <div class="col-md-6">
              <%=f.input :email %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <%=f.input :password %>
            </div>
            <div class="col-md-6">
              <%=f.input :password_confirmation %>
            </div>
          </div>
          <div class="alert alert-info">
            <small>Please fill in <b>password</b> and <b>password confirmation</b> before saving.</small>
          </div>
        </div>
        <div class="modal-footer">
          <%= link_to "Cancel", @user, class: 'btn btn-xs pull-left' %>
          <%=f.submit 'Save Employee', class: 'btn btn-primary', data: {disable_with: "Saving Employee..."} %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<script>
  $(document).ready(function() {
    $("#user_role").select2({
      theme: "bootstrap"
    });
  });
</script>
