<div class="container">
<div class='box box-solid'>
  <div class="box-header with-footer">
      <h4 class="text-center">Employee Details </h4>
      </div>
      <div class="box-body">
      <div class="row">
      <div class="col-md-6">
      </div>
      <div class="col-md-5">
       <%= simple_form_for @user do |f| %>
      <%=f.error_notification %>

      <%if @user.profile_photo.blank? %>
        <%=image_tag("default-small.png", :class=>"img-square center-block ") %>
        <br>
        <% else %>
        <%= image_tag attachment_url(@taxpayer, :profile_photo, :fill, 150, 150), class: 'center-block img-responsive img-rounded'%>
        <% end %>
        <%= f.file_field :profile_photo, class: 'center-block'%>


          <%=f.input :first_name, autofocus: true  %>

          <%=f.input :middle_name %>

          <%=f.input :last_name %>

        <%=f.input :email %>
        <%=f.input :password %>
        <%=f.input :password_confirmation %>
        <%= f.input :role, collection: User.roles.keys.to_a.map{|role| [role.titleize, role]}, as: :radio_buttons %>

        <div class="modal-footer">
          <%=f.submit 'Save Employee', class: 'btn btn-primary', data: {disable_with: "Saving Employee..."} %>
        </div>
      <% end %>
    </div>
    </div>
  </div>
</div>
</div>
