<%= simple_form_for [@project, @bid_expense], url: :monitoring_project_bid_expense do |f| %>
<%=f.error_notification %>
	<div class="row">
		<div class="col-md-5 col-md-offset-3">
			<div class="card">
				<div class="header">
					<h4 class="title">Update Bid Expense</h4>
					<div class="row"><hr></div>
				</div>
				<div class="content">
					<%=f.input :date, as: :string, label: 'Date', input_html: { class: 'datetimepicker'} %>
					<%=f.input :description, label: 'Description' %>
					<%=f.input :amount,  label: 'Amount' %>
					<div class="modal-footer">
				    <%=f.submit "Save Bid Expense", class: "btn btn-primary pull-right" %>
				    <%=link_to "Back to Project", monitoring_project_path(@project) , class: "btn btn-default pull-left"%>
				  </div>
				</div>
			</div>
		</div>
	</div>
<% end %>