<%= simple_form_for(@additional_information) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :sex %>
    <%= f.input :birth_date %>
    <%= f.input :birth_place %>
    <%= f.input :civil_status %>
    <%= f.input :nationality %>
    <%= f.association :user %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
