<p id="notice"><%= notice %></p>

<h1>Listing Additional Informations</h1>

<table>
  <thead>
    <tr>
      <th>Sex</th>
      <th>Birth date</th>
      <th>Birth place</th>
      <th>Civil status</th>
      <th>Nationality</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @additional_informations.each do |additional_information| %>
      <tr>
        <td><%= additional_information.sex %></td>
        <td><%= additional_information.birth_date %></td>
        <td><%= additional_information.birth_place %></td>
        <td><%= additional_information.civil_status %></td>
        <td><%= additional_information.nationality %></td>
        <td><%= additional_information.user %></td>
        <td><%= link_to 'Show', additional_information %></td>
        <td><%= link_to 'Edit', edit_additional_information_path(additional_information) %></td>
        <td><%= link_to 'Destroy', additional_information, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Additional information', new_additional_information_path %>
