<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="header">
        <h4 class="title"> Bank Account Details </h4>
        <hr class="with-padding">
      </div>
      <div class="content">
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="header">
        <h4 class="title">Deposits </h4>
        <hr class="with-padding">
      </div>
      <div class="content">
        <% @bank_account.debit_entries.each do |entry| %>
          <ul class="list-unstyled team-members">
            <li>
              <div class="row">
                <div class="col-xs-3">
                  <%=number_to_currency entry.debit_amounts.sum(:amount) %>
                </div>
                <div class="col-xs-6">
                  <%=entry.description %>
                  <br />
                  <span class="text-success"><small><%=entry.date.strftime("%B %e, %Y") %></small></span>
                </div>
                <div class="col-xs-3 text-right">
                  <% if entry.entriable %>
                    <%=image_tag(entry.entriable.profile_photo.url(:thumb), class: "img-circle center-block") %>
                  <% end %>
                  <!-- <btn class="btn btn-sm btn-success btn-icon"><i class="fa fa-check"></i></btn> -->
                </div>
              </div>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="header">
        <h4 class="title">Withdraws </h4>
        <hr>
      </div>
      <div class="content">
        <% @bank_account.credit_entries.each do |credit| %>
          <ul class="list-unstyled team-members">
            <li>
              <div class="row">
                <div class="col-xs-3">
                  <%=number_to_currency credit.debit_amounts.sum(:amount) %>
                </div>
                <div class="col-xs-6">
                  #<%=credit.description %>
                  <br />
                  <span class="text-success"><small><%=credit.date.strftime("%B %e, %Y") %></small></span>
                </div>
                <div class="col-xs-3 text-right">
                  <% if credit.entriable %>
                    <%=image_tag(credit.entriable.profile_photo.url(:thumb), class: "img-circle center-block") %>
                  <% end %>
                  <!-- <btn class="btn btn-sm btn-danger btn-icon"><i class="fa fa-times"></i></btn> -->
                </div>
              </div>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
