<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="header">
        <h4 class="title"> Bank Account Details </h4>
        <div class="row"><hr class="with-padding"></div>
      </div>
      <div class="content">
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="header">
        <h4 class="title">Deposits </h4>
        <div class="row"><hr></div>
      </div>
      <div class="content">
        <table class="table table-hover">
          <thead>
            <tr>
              <th><small><b>Recipient</b></small></th>
              <th><small><b>Description</b></small></th>
              <th><small><b>Amount</b></small></th>
            </tr>
          </thead>
          <tbody>
            <% @bank_account.debit_entries.each do |debit| %>
              <tr>
                <td>
                  <% if debit.entriable %>
                    <%=image_tag(debit.entriable.profile_photo.url(:thumb), class: "img-circle center-block") %>
                  <% end %>
                </td>
                <td>
                  <small># <%=debit.description %></small>
                  <br />
                  <span class="text-success"><small>&nbsp&nbsp&nbsp<%=debit.date.strftime("%B %e, %Y") %></small></span>
                </td>
                <td><small><%=number_to_currency debit.debit_amounts.sum(:amount) %><small></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="header">
        <h4 class="title">Withdraws </h4>
        <div class="row"><hr></div>
      </div>
      <div class="content">
        <table class="table table-hover">
          <thead>
            <tr>
              <th><small><b>Recipient</b></small></th>
              <th><small><b>Description</b></small></th>
              <th><small><b>Amount</b></small></th>
            </tr>
          </thead>
          <tbody>
            <% @bank_account.credit_entries.each do |credit| %>
              <tr>
                <td>
                  <% if credit.entriable %>
                    <%=image_tag(credit.entriable.profile_photo.url(:thumb), class: "img-circle center-block") %>
                  <% end %>
                </td>
                <td>
                  <small># <%=credit.description %></small>
                  <br />
                  <span class="text-success"><small>&nbsp&nbsp&nbsp<%=credit.date.strftime("%B %e, %Y") %></small></span>
                </td>
                <td><small><%=number_to_currency credit.debit_amounts.sum(:amount) %></small></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
