<%= simple_form_for ([@project, @work_detail]) do |f| %>
  <%=f.error_notification %>
  <div class="well">
    <h4>Work Details</h4>
    <hr>
    <%=f.input :code,  placeholder: 'Code' %>
    <%=f.input :description, placeholder: 'Descrption', as: :text, input_html:{rows: 3} %>
    <div class="row">
      <div class="col-md-6">
        <%=f.input :unit, placeholder: 'Unit' %>
      </div>
      <div class="col-md-6">
        <%=f.input :quantity,  placeholder: 'Quantity', input_html:{id: "quantity", oninput: "calculate()"} %>
      </div>
    </div>
    <%=f.input :unit_cost,  placeholder: 'Unit Cost', input_html:{id: "unit_price", oninput: "calculate()"}  %>
    <%=f.input :total_cost,  placeholder: 'Total Cost', readonly: true ,  input_html:{id: "amount"}%>
    <div class="modal-footer">
      <%=f.submit "Add this Work Detail", class: "btn btn-primary btn-block" %>
      <hr>
      <%=link_to "Back to Project", project_path(@project) , class: "btn btn-default btn-block"%>
    </div>
  </div>
<% end %>

