<div class="tab-pane" id="materials">
  <div class="box-header with-border">
    <div class="pull-right">
      <%=link_to "Add Issued Inventories", new_work_detail_issued_inventory_path(@work_detail), class: "btn btn-default bg-blue-active" %>
      <%=link_to "Add Purchases", new_work_detail_purchase_order_path(@work_detail), class: "btn btn-default bg-blue-active" %>
    </div>
  </div>
  <div class="box-body">
    <div class="table table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th style="width: 10%">Code</th>
            <th style="width: 30%">Description</th>
            <th>Quantity</th>
            <th>Unit</th>
            <th>Unit Cost</th>
            <th>Total Cost</th>
          </tr>
        </thead>
        <tbody>
          <% @work_detail.issued_inventories.each do |material| %>
            <tr>
              <td><%=material.code %></td>
              <td><%= material.inventory.name %> - <%=material.description %></td>
              <td><%=material.quantity %></td>
              <td><%=material.unit %></td>
              <td><%=number_to_currency material.unit_cost %></td>
              <td><%=number_to_currency material.total_cost %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

