<div class="tab-pane active" id="work_details_timeline">
        <ul class="timeline timeline-inverse">
                      <!-- timeline time label -->
                      <li class="time-label">
                        <span class="bg-red">
                          10 Feb. 2014
                        </span>
                      </li>
                      <!-- /.timeline-label -->
                      <!-- timeline item -->
                      <li>
                        <i class="fa fa-envelope bg-blue"></i>
                        <div class="timeline-item">
                          <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
                          <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>
                          <div class="timeline-body">
                            Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                            weebly ning heekya handango imeem plugg dopplr jibjab, movity
                            jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                            quora plaxo ideeli hulu weebly balihoo...
                          </div>
                          <div class="timeline-footer">
                            <a class="btn btn-primary btn-xs">Read more</a>
                            <a class="btn btn-danger btn-xs">Delete</a>
                          </div>
                        </div>
                      </li>
                      <!-- END timeline item -->
                      <!-- timeline item -->
                      <li>
                        <i class="fa fa-user bg-aqua"></i>
                        <div class="timeline-item">
                          <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>
                          <h3 class="timeline-header no-border"><a href="#">Sarah Young</a> accepted your friend request</h3>
                        </div>
                      </li>
                      <!-- END timeline item -->
                      <!-- timeline item -->
                      <li>
                        <i class="fa fa-comments bg-yellow"></i>
                        <div class="timeline-item">
                          <span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>
                          <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>
                          <div class="timeline-body">
                            Take me to your leader!
                            Switzerland is small and neutral!
                            We are more like Germany, ambitious and misunderstood!
                          </div>
                          <div class="timeline-footer">
                            <a class="btn btn-warning btn-flat btn-xs">View comment</a>
                          </div>
                        </div>
                      </li>
                      <!-- END timeline item -->
                      <!-- timeline time label -->
                      <li class="time-label">
                        <span class="bg-green">
                          3 Jan. 2014
                        </span>
                      </li>
                      <!-- /.timeline-label -->
                      <!-- timeline item -->
                      <li>
                        <i class="fa fa-camera bg-purple"></i>
                        <div class="timeline-item">
                          <span class="time"><i class="fa fa-clock-o"></i> 2 days ago</span>
                          <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>
                          <div class="timeline-body">
                            <img src="http://placehold.it/150x100" alt="..." class="margin">
                            <img src="http://placehold.it/150x100" alt="..." class="margin">
                            <img src="http://placehold.it/150x100" alt="..." class="margin">
                            <img src="http://placehold.it/150x100" alt="..." class="margin">
                          </div>
                        </div>
                      </li>
                      <!-- END timeline item -->
                      <li>
                        <i class="fa fa-clock-o bg-gray"></i>
                      </li>
                    </ul>
<h4 class="text-primary">Collections</h4>
<hr>
<% PublicActivity::Activity.where(recipient: @project, trackable_type: "Collection").each do |activity|%>
<%=(image_tag attachment_url(activity.owner, :profile_photo, :fill, 35, 35, fallback: "default-xs-small.png"), class: 'img-circle')%>
<b><%= activity.owner.full_name %></b> added a <b>Collection</b> of <b><%=number_to_currency activity.trackable.amount %>.</b>
<span class="pull-right text-muted"><%=activity.created_at.strftime("%B %d, %Y") %></span>
<hr>
<% end %>
<h4 class="text-primary">Accomplishments</h4>
<hr>
<% PublicActivity::Activity.where(recipient: @project, trackable_type: "Accomplishment").each do |activity|%>
<%=(image_tag attachment_url(activity.owner, :profile_photo, :fill, 35, 35, fallback: "default-xs-small.png"), class: 'img-circle')%>
<b><%= activity.owner.full_name %></b> added an <b>Accomplishment</b> of <b><%=activity.trackable.percent %> %.</b>
<span class="pull-right text-muted"><%=activity.created_at.strftime("%B %d, %Y") %></span>
<hr>
<% end %>
<h4 class="text-primary">Sub Contractors</h4>
<hr>
<% PublicActivity::Activity.where(recipient: @project, trackable_type: "Contract").each do |activity|%>
<%=(image_tag attachment_url(activity.owner, :profile_photo, :fill, 35, 35, fallback: "default-xs-small.png"), class: 'img-circle')%>
<b><%= activity.owner.full_name %></b> added a <b>Sub Contractor</b> <b><%=link_to activity.trackable.contractor.full_name,activity.trackable.contractor %> | <%=link_to activity.trackable.contractor.company, activity.trackable.contractor %></b>
<span class="pull-right text-muted"><%=activity.created_at.strftime("%B %d, %Y") %></span>
<hr>
<% end %>
<h4 class="text-primary">Notice to Proceed</h4>
<hr>
<% PublicActivity::Activity.where(recipient: @project, trackable_type: "NoticeToProceed").each do |activity|%>
<%=(image_tag attachment_url(activity.owner, :profile_photo, :fill, 35, 35, fallback: "default-xs-small.png"), class: 'img-circle')%>
<b><%= activity.owner.full_name %></b> saved the <b>NTP date of Award</b> as <b><%=activity.trackable.date.strftime("%B %d, %Y") %></b>
<span class="pull-right text-muted"><%=activity.created_at.strftime("%B %d, %Y") %></span><% end %>
<hr>
<h4 class="text-primary">Project Start</h4>
<hr>
<% PublicActivity::Activity.where(trackable: @project).each do |activity|%>
<%=(image_tag attachment_url(activity.owner, :profile_photo, :fill, 35, 35, fallback: "default-xs-small.png"), class: 'img-circle')%>
<b><%= activity.owner.full_name %></b> saved this project
 <span class="pull-right text-muted"><%=activity.created_at.strftime("%B %d, %Y") %></span>
<% end %>
<hr>
</div>
