<div class="tab-pane active" id="work_details_timeline">

  <div class="row">
    <div class="col-md-6">
      <div class="box-header with-border">
        <div class="col-md-4">
          <h4><center><%=@work_detail.quantity %></center>
          <h5 class="text-muted text-uppercase"><center>Quantity </center></h5>
        </div>
        <div class="col-md-4 border-left border-right">
          <h4><center class="text-green"><%=@work_detail.accomplished_quantity%></center>
          <h5 class="text-muted text-uppercase"><center class="text-success">Accomplished </center></h5>
        </div>
        <div class="col-md-4">
          <h4><center class="text-danger"><%=@work_detail.remaining_quantity%></center>
          <h5 class="text-muted text-uppercase"><center class="text-danger">Remaining</center></h5>
        </div>
      </div>
      <br>
      <br>

      <div class="col-md-12">
      <h4>Accomplishments
      <span class="pull-right"><%=link_to "Update Accomplishment", new_work_detail_work_accomplishment_path(@work_detail), class: "btn btn-primary btn-sm" %></span>
      </h4>
      <hr>
        <%@work_detail.work_accomplishments.each do |accomplishment| %>
          <h5><%=accomplishment.quantity %>
          <span class="pull-right"><%=accomplishment.date_accomplished.strftime("%B %e, %Y") %></span>
          <span><%=accomplishment.payment_status %></span>
          </h5>
          <hr>
        <% end %>
      </div>
    </div>
    <div class="col-md-4 col-md-offset-1 border-left">
      <div class="row">
        <div class="box-header">
          <h4>COSTS INCURRED</h4>
          <span class="text-muted">As of today ( <%=Time.zone.now.strftime("%B %e, %Y") %>)</span>
        </div>
      </div>
      <table class="table table-hover">
        <tr>
          <td><h4>Material</h4></td>
          <td><h4 class="pull-right text-danger"><%=number_to_currency @work_detail.material_costs_incurred %></h4></td>
        </tr>
        <tr>
          <td><h4>Labor</h4></td>
          <td></td>
        </tr>
        <tr>
          <td><h4>Equipment</h4></td>
          <td><h4 class="pull-right text-danger"><%=number_to_currency @work_detail.equipment_costs_incurred %></td>
        </tr>
        <tr>
          <td><h4>Subcontract</h4></td>
          <td></td>
        </tr>
        <tr>
          <td><h4>Overhead</h4></td>
          <td></td>
        </tr>
        <tr>
          <td><h4>Other Costs</h4></td>
          <td></td>
        </tr>
        <tr>
          <td><h4>TOTAL</h4></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
</div>

