<div class="container">
<div class="box box-solid">
<div class="box-header with-border">
<h4>Edit Work Details</h4>
</div>
  <div class="box-body">
   <div class="row">
<div class="col-md-6">
</div>
<div class="col-md-5">
<%= simple_form_for @work_detail, url: :project_work_detail do |f| %>
  <%=f.error_notification %>

   <%=f.input :code %>
  <%=f.input :description, as: :text %>
     <%=f.input :unit %>
     <%=f.input :quantity, input_html:{id: "quantity", oninput: "calculate()"} %>
      <%=f.input :unit_cost, input_html:{id: "unit_price", oninput: "calculate()"}  %>
   <%=f.input :total_cost, readonly: true ,  input_html:{id: "amount"}%>

    <div class="modal-footer">
      <%=f.submit "Update this Work Detail", class: "btn btn-primary" %>

    </div>
<% end %>
</div>
