<%= simple_form_for ([@project, @work_detail]) do |f| %>
  <%=f.error_notification %>
<div class="col-md-12">
  <div class="card">
    <div class="header">
      <span><%=link_to project_path(@work_detail.project), class: "btn btn-link" do %><i class="fa fa-chevron-left"></i> Back To Project<%end%></span>
      <div class="row"><hr></div>
    </div>
    <div class="content">
      <div class="row">
        <div class="col-md-7">
          <div class="box-header with-border">
            <div class="row">
              <div class="col-md-7">
                <h4 class="title">List of Work Details</h4>
              </div>
              <div class="col-md-5">
                <p class="text-muted">Total of Amounts: <span class="text-primary"><%= number_to_currency @project.work_details.total%></span></p>
              </div>
            </div>
            <div class="row"><hr class="with-padding"></div>
          </div>
          <table class="table table-hover">
            <thead>
              <tr class="text-uppercase">
                <th>Description</th>
                <th><span class="pull-right">Total Cost</span></th>
              </tr>
            </thead>
            <tbody>
              <% if @project.work_details.present? %>
                <% @project.work_details.each do |work_detail| %>
                  <tr>
                    <td><%= work_detail.description %></td>
                    <td><span class="pull-right"><%=number_to_currency work_detail.total_cost %></span></td>
                  </tr>
                <% end %>
                <tr>
                  <td><b class="pull-right">Total of Amounts: </b></td>
                  <td><b class="pull-right"><%= number_to_currency @project.work_details.total%></b></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="col-md-5">
          <%= render 'form', :f => f %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>