<div class="col-md-8 col-md-offset-2">
  <!-- Widget: user widget style 1 -->
  <div class="box box-widget widget-user">
    <!-- Add the bg color to the header using any of the bg-* classes -->
    <div class="widget-user-header bg-blue-active">
      <h3 class="widget-user-username">New Work Detail</h3>
    </div>
    <div class="box-footer">
      <div class="row">
        <div class="col-sm-12 border-right">
          <div>
            <table class="table table-compressed">
                  <%= simple_form_for [@project, @work_detail] do |f| %>
                   <thead>

                                <th style="width: 10%">Code</th>
                                <th style="width: 30%">Descrption</th>
                                <th>Unit</th>
                                <th>Quantity</th>
                                <th>Unit Cost</th>
                                <th>Total Cost</th>
                            </thead>
                            <tbody>
                               <tr>
<%=f.error_notification %>
<td><%=f.input :code, label: false %></td>
<td><%=f.input :description, label: false %></td>
<td><%=f.input :unit, label: false %></td>
<td><%=f.input :quantity, label: false, placeholder: 'Quantity', input_html:{id: "quantity", oninput: "calculate()"} %></td>
<td><%=f.input :unit_cost, label: false, placeholder: 'Unit Cost', input_html:{id: "unit_price", oninput: "calculate()"}  %></td>
<td><%=f.input :total_cost, label: false,  placeholder: 'Total Cost', readonly: true ,  input_html:{id: "amount"}%></td>
</tr>
                               </tbody>
                               </table>
<div class="modal-footer">
<%=f.submit "Add this Work Detail", class: "btn btn-primary" %>
<%=link_to "or I'm done adding work details",project_path(@project)%>

</div>
<% end %>
</div>

