<div class="col-md-8 col-md-offset-2">
  <!-- Widget: user widget style 1 -->
  <div class="box box-widget widget-user">
    <!-- Add the bg color to the header using any of the bg-* classes -->
    <div class="widget-user-header bg-blue-active">
      <h3 class="widget-user-username">New Work Detail</h3>
    </div>
    <div class="box-footer">
      <div class="row">
        <div class="col-sm-12 border-right">
          <div>
            <table class="table table-compressed table-hover">

                   <thead>
                            <tr>
                                <th style="width: 10%">Code</th>
                                <th style="width: 30%">Descrption</th>
                                <th>Unit</th>
                                <th>Quantity</th>
                                <th><span class="pull-right">Unit Cost</span></th>
                                <th><span class="pull-right">Total Cost</span></th>
                                <th style="width:60px"></th>
                              </tr>
                            </thead>
                            <tbody>
                            <% if @project.work_details.present? %>
                               <% @project.work_details.each do |work_detail| %>
                                <tr>
                                  <td><%=work_detail.code %></td>
                                  <td><b><%=work_detail.description %></b></td>
                                  <td><%=work_detail.unit %></td>
                                  <td><%=work_detail.quantity %></td>
                                  <td><span class="pull-right"><%=number_to_currency work_detail.unit_cost %></span></td>
                                  <td><span class="pull-right"><%=number_to_currency work_detail.total_cost %></span></td>
                                  <td>
                                    <div class="tools">
                                      <%= link_to edit_project_work_detail_path(@project, work_detail), method: :get, title: 'Edit' do %>
                                        <span class="fa fa-edit"></span>
                                      <% end %> | <%= link_to [@project, work_detail], method: :delete, data: { confirm: 'Are you sure?'}, title: 'Delete' do %>
                                        <span class="text-danger fa fa-trash-o"></span>
                                      <% end %>
                                    </div>
                                  </td>
                                </tr>
                               <% end %>
                               <tr>
                                 <td colspan="5"><h4 class="pull-right">Total of Amounts: </h4></td>
                                 <td><h4 class="pull-right"><%= number_to_currency @project.work_details.sum(:total_cost) %></h4></td>
                               </tr>
                            <% end %>
                            </tbody>
                            </table>
                                <%= render 'form' %>


              </div>
        </div>
    </div>
</div>
</div>
</div>
