
<div class="row">
<div class="col-md-12">
<div class="col-md-3">
<div class="box box-default">
<div class="box-header with-border">
<span><%=link_to project_path(@work_detail.project), class: "btn btn-link" do %><i class="fa fa-chevron-left"></i> Back To Project<%end%></span>
<h4><center><%=@work_detail.description.upcase %></center></h4>
<center><span class="help-block">Project: <%=@work_detail.project.id_number%></span></center>
<hr>
<span><%=link_to "Edit Work Detail", edit_project_work_detail_path(id: @work_detail.id), class: "btn btn-warning btn-block" %></span>

</div>
</div>
</div>
<div class="col-md-9">
<div class="box box-primary">
<br>
<div class="box-body">
<ul class="nav nav-tabs" role="tablist">
        <li  role="presentation" class="active">
           <a href="#work_details_timeline" aria-controls="timeline" role="tab" data-toggle="tab">Summary</a>
        </li>
         <li  role="presentation">
           <a href="#materials" aria-controls="materials" role="tab" data-toggle="tab">Materials</a>
        </li>
         <li  role="presentation">
           <a href="#labor" aria-controls="labor" role="tab" data-toggle="tab">Labor</a>
        </li>
          <li  role="presentation">
           <a href="#equipment" aria-controls="equipment" role="tab" data-toggle="tab">Equipment</a>
        </li>

         <li  role="presentation">
           <a href="#subcontract" aria-controls="subcontract" role="tab" data-toggle="tab">Subcontract</a>
        </li>

         <li  role="presentation">
           <a href="#subcontract" aria-controls="subcontract" role="tab" data-toggle="tab">Overhead</a>
        </li>
         <li  role="presentation">
           <a href="#subcontract" aria-controls="subcontract" role="tab" data-toggle="tab">Other</a>
        </li>

      </ul>
      <div class="tab-content">
      <%=render 'work_details_timeline' %>
      <%=render 'materials' %>
      <%=render 'labor' %>
      <%=render 'equipment' %>
      <%=render 'subcontract' %>
</div>
      </div><!-- /.tab-content -->
</div>
</div>

</div>
