
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <h4 class="title">List of Inventories
          <span class="pull-right"><%=link_to "New Inventory", new_supplies_inventory_path, class: "btn btn-primary" %></span>
        </h4>
        <div class="row"><hr></div>
      </div>
      <div class="content">
        <table class="table table-hover">
          <thead>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
            <th></th>
          </thead>
          <tbody>
            <% @inventories.each do |inventory| %>
              <tr class="<%="text-danger" if inventory.out_of_stock?%>">
                <td class="text-uppercase"><%=link_to inventory.name, inventory %></td>
                <td><%=inventory.quantity%> <%=inventory.unit %></td>
                <td><span><%=number_to_currency inventory.price%></span></td>
                <td>
                  <% if policy(Supplies::Stock.new).new? %>
                    <%=link_to "Add Stock", new_supplies_inventory_stock_path(inventory), class: "btn btn-info active btn-sm" %>
                  <% end %>
                </td>
                <td id='edit_inventory'>
                  <% if policy(inventory).edit? %>
                    <%=link_to "Edit", edit_supplies_inventory_path(inventory), class: "btn btn-info active btn-sm" %>
                  <% end %>
                </td>
                <td>
                  <% if inventory.out_of_stock? %>
                  <span class="label label-danger pull-right"> Out of Stock </span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="modal-footer">
          <center><%= paginate @inventories, :window => 1 %></center>
        </div>
      </div>
    </div>
  </div>
</div>
