<div class="card">
  <div class="header">
    <h4 class="title">Fuel and Lubrication 
      <span class="pull-right"><%=link_to "New", supplies_fuel_monitoring_index_path, class: "btn btn-primary btn-fill" %></span>
    </h4>
    <p class="category"><%= @equipment.name %></p>
    <div class="row"><hr></div>
  </div>
  <div class="content">
    <table class="table table-hover">
      <thead>
        <tr class="text-uppercase">
          <th>Date Issued</th>
          <th>Purpose</th>
          <th>Quantity</th>
          <th>Total Cost</th>
        </tr>
      </thead>
      <tbody>
        <% @line_items.each do |line_item| %>
          <tr>
            <td><%=line_item.date.strftime("%B %e, %Y") %></td>
            <td><%=line_item.order.purpose %></td>
            <td><%=line_item.quantity %> <%=line_item.inventory.unit %></td>
            <td><%=number_to_currency line_item.total_cost %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="modal-footer">
      <center><%= paginate @line_items, :window => 1 %></center>
    </div>
  </div>
</div>
