
		<h4>Maintenance Details</h4>
		<hr>
	  <%=f.input :equipment_id, collection: Equipment.all%>
	  <%=f.input :description, as: :text, label: false, placeholder: 'Description' %>
	  <div class="row">
	    <div class="col-md-6">
	      <%=f.input :quantity, label: false, placeholder: 'Quantity' %>
	    </div>
	    <div class="col-md-6">
	      <%=f.input :unit, label: false, placeholder: 'Unit' %>
	    </div>
	  </div>
	  <%=f.input :amount, label: false, placeholder: 'Amount' %>
	  <%=f.input :remarks, as: :text, label: false, placeholder: 'Remarks' %>
	  <div class="row">
		  <div class="modal-footer">
		  	<%=f.submit "Save Maintenace Expense", class: "btn btn-primary btn-sm" %>
		  	<hr>
		  	<%= link_to "I'm done issuing equipment.", @work_detail, class: "btn btn-default btn-sm" %>
		  </div>
		</div>
	</div>
<% end %>

