<div class="container">
         <div class="box box-solid">
         <div class="box-header with-border">
         <h4><center> Fund Transfer Details</center></h4>
         </div>
         <div class="box-body">

                  <%= simple_form_for  @fund_transfer, url: :petty_cash_fund_transfers do |f| %>
  <div class="row">
  <div class="col-md-6">

  </div>
  <div class="col-md-5">
<%=f.input :source_account_id, collection: Asset.all.map{|a| [a.name.titleize, a.id]} %>
<%=f.input :amount %>
<%=f.input :recipient_account_id, input_html: { value: "Petty Cash" }, readonly: true, as: :hidden %>
<%= f.input :date, as: :string, input_html: { class: 'datepicker'} %>
</div>
<div class="modal-footer">
<%=f.submit "Transfer Amount to Petty Cash", class: "btn btn-danger" %>
<%=link_to "I'm done adding Entries", petty_cash_index_path, class: "pull-left" %>
</div>
<% end %>
</div>
</div>


