<div class="tab-pane" id="billings">


<% @contractor.billings.each do |billing| %>
<div class="row">
  <div class="col-md-1 col-md-offfset-1">
    <p><%=billing.created_at.strftime("%D") %></p>
  </div>
  <div class="col-md-5">
  <h4><%=billing.quantity %> <%=billing.inventory.unit %> <%=billing.inventory.name %></h4>

  <span class="help-block"> <%=billing.project.name%> </span>

</div>

<div class="col-md-5">
  <h4>
  <span class="pull-right">  <%=number_to_currency billing.cost %></span>
</h4>
</div>

</div>
<hr/>
<% end %>
</div><!-- /.tab-pane -->
