<div class="tab-pane" id="change_orders">
<br>
  <div class="row">
    <div class="col-md-4 col-md-offset-1">
      <h4 class="text-danger">Time Extension</h4>

      <span class="help-block text-muted">Time extensions for a project due to weather, Suspension Order, or Variation Order.</span>
      <% if current_user.project_engineer? || current_user.project_manager? || current_user.monitoring_officer? %>
        <%=link_to new_project_time_extension_path(@project), class: "btn btn-danger btn-sm pull-right" do %>
          <span><i class="fa fa-clock-o"></i> New Time Extension</span>
        <%end%>
      <% end %>
    </div>
    <div class="col-md-5 col-md-offset-1">
      <table class="table">
        <tr>
          <td><h4 class="text-muted">Original Contract Time:</h4></td>
          <td><span class="help-block text-muted"><%=@project.duration %> days</span></td>
        </tr>
        <% if @project.time_extensions.present? %>
          <tr>
            <td colspan="2">
              <p class="text-danger">Revisions:</p>
              <% @project.time_extensions.each do |time_extension| %>
                <p class="text-success">
                  &nbsp&nbsp&nbsp<%=time_extension.number_of_days %> days added last <%=time_extension.created_at.strftime("%D")%>
                </p>
              <% end %>
            </td>
          </tr>
          <tr>
            <td><h5 class="text-muted">Revised Contract Time:</h5></td>
            <td><span class="help-block text-muted"><%=@project.latest_duration %> days</span></td>
          </tr>
        <% else %>
        <% end %>
      </table>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-4 col-md-offset-1">
      <h4 class="text-danger">Amount Revision</h4>
      <span class="help-block text-muted">Revised contract amount due to approved change order/ extra work order.</span>
      <% if current_user.project_engineer? || current_user.project_manager? || current_user.monitoring_officer? %>
        <%=link_to new_project_amount_revision_path(@project), class: "btn btn-danger btn-sm pull-right" do %>
          <span><i class="fa fa-rub"></i> New Amount Revision</span>
        <%end%>
      <%end%>
    </div>
    <div class="col-md-5 col-md-offset-1">
      <table class="table">
        <tr>
          <td><h4 class="text-muted">Original Contract Amount:</h4></td>
          <td><span class="help-block text-muted"><%=number_to_currency @project.cost%></span></td>
        </tr>
        <% if @project.amount_revisions.present? %>
          <tr>
            <td colspan="2">
              <p class="text-danger">Revisions:</p>
              <% @project.amount_revisions.each do |amount_revision| %>
                <p class="text-success">
                  &nbsp&nbsp&nbsp<%=number_to_currency amount_revision.amount %> added last <%=amount_revision.created_at.strftime("%D")%>
                </p>
              <% end %>
            </td>
          </tr>
          <tr>
            <td><h5 class="text-muted">Revised Contract Amount:</h5></td>
            <td><span class="help-block text-muted"><%=number_to_currency @project.revised_contract_amount %></span></td>
          </tr>
        <% else %>
        <% end %>
      </table>
    </div>
  </div>
</div>
