
<div class="tab-pane" id="collections">
  <br>
  <div class="row">
    <div class="col-md-3">
      <h4 class="text-success text-center"><%=number_to_currency @project.total_collection %> </h4>
      <span class="help-block text-center">Collected </span>
    </div>
    <div class="col-md-3 col-md-offset-1">
      <h4 class="text-danger text-center"><%=number_to_currency @project.remaining_collection %> </h4>
      <span class="help-block text-center">Remaining </span>
    </div>
    <div class="col-md-2">
      <span class="pull-right"><%=link_to new_project_collection_path(@project), class: "btn btn-primary btn-flat" do %><i class="fa fa-plus-circle"></i> New Collection <%end%>
      </span>
     </div>
    </div>
    <hr />

      <% @project.collections.each do |collection| %>
      <div class="row">
      <div class="col-md-3 col-md-offset-1">
        <h5><%= number_to_currency collection.amount %></h5>
        </div>
        <div class="col-md-5">
        <span class="pull-right"><%=collection.date.strftime("%B %e, %Y") %></span>
        </div>

        </div>
      <% end %>

  </div>





