<div class="tab-pane" id="contractors">
<br>
<div class="row">
<div class="col-md-3">
<h4>Project Amount: <span class="pull-right"><%=number_to_currency @project.cost %></span> </h4>
<h4 class="text-danger">Sub Contract: <span class="pull-right"><%=number_to_currency @project.contracts.sum(:amount) %></span></h4>
<hr>
<h4>Remaining: <span class="pull-right"><%=number_to_currency (@project.cost) - (@project.contracts.sum(:amount)) %></span></h4>
</div>
<div class="col-md-4">
  <span class="pull-right"><%=link_to new_project_contract_path(@project), class: "btn btn-primary" do %><i class="fa fa-user-plus"></i> Add Subcontractor <%end%>
  </span>
  </div>
  </div>
<hr>
<div class="row">
 <% @project.contracts.each do |contract| %>
             <div class="row">
            <div class="col-md-1  col-sm-3 col-xs-3">
            <%= image_tag attachment_url(contract.contractor, :profile_image, :fill, 60, 60, format: "jpg", fallback: "default-small.png"),  class: "img-circle" %>
            </div>
            <div class="col-md-4 col-sm-9 col-xs-9">
            <h4><%= contract.contractor %></h4>
            <span class="help-block"><%=contract.contractor %></span>
            <p class="text-danger"><%=link_to "New Material Request", new_project_billing_path(@project), class: "text-danger" %></p>
           
            </div>
            <div class="col-md-3">
               <span><%=number_to_currency contract.amount %></span>
            </div>
            </div>
           <hr />
            <% end %>
            </div>
</div><!-- /.tab-pane -->
 
  
 
