<div class="tab-pane" id="contractors">
  <div class="box-header with-border">
    <div class="row">
      <div class="col-md-6">
        <h4>List of Contractors on this Project</h4>
      </div>
      <div class="col-md-6">
        <%if policy(Contract.new).create? %>
          <%=link_to new_project_contract_path(@project), class: "btn btn-primary btn-sm pull-right" do %><i class="fa fa--user-plus"></i> Add Subcontractor<%end%>
        <%end%>
      </div>
    </div>
  </div>
  <br>
  <div class="box-body">
    <div class="col-md-6 border-right">
      <table class="table">
        <%@project.contracts.each do |contract| %>
          <tr>
            <td width="65px"><%= image_tag contract.contractor.profile_photo.url(:thumb),  class: "img-circle" %></td>
            <td>
              <%= link_to contract.contractor do %>
                <h5><p><%=contract.contractor %></p>
                <p class="help-block"><%=contract.contractor.full_name %></p></h5>
              <% end %>
            </td>
            <td><h5 class="text-danger pull-right"><%= number_to_currency contract.amount_subcontracted%></h5></td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="col-md-4 col-md-offset-1">
      <h4 class="text-success text-center"><%=number_to_currency @project.cost %></h4>
      <span class="help-block text-center">Project Amount</span>
      <hr>
      <h4 class="text-danger text-center"><%=number_to_currency @project.contracts.sum(:amount_subcontracted) %></h4>
      <span class="help-block text-center">Amount Subcontracted</span>
      <hr>
      <h4 class="text-success text-center"><%=number_to_currency @project.remaining_uncontracted_amount %></h4>
      <span class="help-block text-center">Remaining Amount</span>
    </div>
  </div>
</div>


