<div class="tab-pane" id="contractors">
  <div class="box-header with-border">
    <div class="row">
      <div class="col-md-6">
        <h4>List of Contractors for this Project</h4>
      </div>
      <div class="col-md-6">
        <span><%=link_to new_project_contract_path(@project), class: "btn btn-default bg-blue-active pull-right" do %><i class="fa fa--user-plus"></i> Add Subcontractor<%end%></span>
      </div>
    </div>
  </div>
  <br>
  <div class="box-body">
    <div class="col-md-6 border-right">
      <table class="table">
        <%@project.contracts.each do |contract| %>
          <tr>
            <td width="65px"><%= image_tag attachment_url(contract.contractor, :profile_image, :fill, 60, 60, format: "jpg", fallback: "default-small.png"),  class: "img-circle" %></td>
            <td>
              <%= link_to contract.contractor do %>
                <h5><p><%=contract.contractor %></p>
                <i class="help-block"><%=contract.contractor.full_name %></i></h5>
              <% end %>
            </td>
            <td><h5 class="text-danger pull-right"><%= number_to_currency contract.amount_subcontracted%></h5></td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="col-md-4 col-md-offset-1">
      <h5>Project Amount: <span class="pull-right"><%=number_to_currency @project.cost %></span></h5>
      <hr>
      <h5 class="text-danger">Amount Subcontracted: <span class="pull-right"><%=number_to_currency @project.contracts.sum(:amount_subcontracted) %></span></h5>
      <hr>
      <h5>Remaining: <span class="pull-right"><%=number_to_currency @project.remaining_uncontracted_amount %></span></h5>
    </div>
  </div>
</div>


