<div class="tab-pane" id="expenses">
<br>
<% if @project.expenses.blank? %>
<div class="row">
<div class="col-md-4 col-md-offset-4">
 <div class="pad box-pane-right bg-gray-light" style="min-height: 200px">
    
        <div class="alert alert-dismissable">
          <h4><i class="fa fa-money"></i> Project Expenses Page.</h4> 
          <hr>
          <span>This is where you save expenses of this project. </span>
          <br>
          <span class="text-center"><%=link_to new_project_expense_path(@project), class: "btn btn-link bg-red-active pull-right" do %><i class="fa fa-plus-circle"></i> New Expense<%end%></span>
        </div>
      </div> 
</div>
</div>
  <% else %>

  <div class="row">
<div class="col-md-6 col-md-offset-1">
<h4 class="text-danger">Total Expenses: <%=number_to_currency @project.total_expenses %> </h4>
<span class="help-block">As of <%=@project.expenses.last.created_at.strftime("%B %e, %Y")%></span>
</div>
<div class="col-md-3">
 <span class="pull-right"><%=link_to new_project_expense_path(@project), class: "btn btn-danger" do %><i class="fa fa-plus-circle"></i> New Expense <%end%>
 </span>
 </div>
 
 </div>
 <hr />
 <% @project.expenses.each do |expense| %>
             <div class="row">
           
<div class="col-md-2 col-md-offset-1">
            <h5 class="text-danger"><%=number_to_currency expense.debit_amounts.last.amount %>
            </h5>
            </div>
            <div class="col-md-5">
            <span class="text-danger"><%=expense.description %></span>
         
</div>
            <div class="col-md-4">
<span class="help-block"><%=expense.created_at.strftime("%B %d, %Y %I:%M%p") %></span>

               </div>
            
          
         
           </div>
           <hr>
            <% end %> 
 <% end %>
  </div><!-- /.tab-pane -->
