<%= simple_form_for @project do |f| %>
<%=f.error_notification %>
  <div class="col-md-10 col-md-offset-1">
    <div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="text-center">Project Details</h3>
        <span class="help-block text-center"> </span>
      </div>         
      <div class="box-body">
        <div class="col-md-6 col-md-offset-3">
          <%=f.input :name, as: :text, input_html: {rows: 5}, label: "Project Name", autofocus: true, placeholder: "Enter name of project" %>
          <%= f.input :id_number, label: "Contract ID:", placeholder: "Contract ID" %>

          <%=f.input :duration, label: "Duration", as: :string, placeholder: "Contract Duration" %>

          <%= f.input :cost, placeholder: "0.00" %>

          <%=f.input :address, label: "Location", placeholder: "Contract Location" %>
          <%=f.input :implementing_office, label: "Implementing Office" %>

          <%=f.input :main_contractor_id, collection: Contractor.main_contractors.map{|a| [a.company.titleize, a.id]}, as: :radio_buttons, label: "Main Contractor" %>
        </div>
      </div>
      <div class="box-footer">
        <div class="pull-right">
          <%=f.submit "Save Project", class: "btn btn-primary", data: {disable_with: 'Saving Project...'} %> or <%= link_to "Cancel", @project %>
        </div>
      </div>
    </div>
  </div>
<% end %>
