<div class="container">
  <div class="card">
    <div class="header">
      <h4 class="title"> Project Details </h4>
    </div>
    <div class="content">
      <%= simple_form_for @project do |f| %>
        <%=f.error_notification %>
        <div class="row">
          <div class="col-md-6">
          </div>
          <div class="col-md-5">
          <%=f.input :name, as: :text, input_html: {rows: 5}, label: "Project Name", autofocus: true, placeholder: "Enter name of project" %>
          <%= f.input :id_number, label: "Contract ID:", placeholder: "Contract ID" %>

          <%=f.input :duration, label: "Duration", as: :string, placeholder: "Contract Duration" %>

          <%= f.input :cost, placeholder: "0.00" %>

          <%=f.input :address, label: "Location", placeholder: "Contract Location" %>
          <%=f.input :implementing_office, label: "Implementing Office" %>

          <%=f.input :main_contractor_id, collection: Contractor.main_contractors.map{|a| [a.company.titleize, a.id]}, as: :radio_buttons, label: "Main Contractor" %>

      <div class="modal-footer">
        <div class="pull-right">
          <%=f.submit "Save Project", class: "btn btn-primary", data: {disable_with: 'Saving Project...'} %> or <%= link_to "Cancel", @project %>
        </div>
      </div>
      <% end %>

    </div>
  </div>
