
<div class="active tab-pane" id="profile">
<br>
 <div class="box-footer">
                  <div class="row">
                    <div class="col-sm-3 col-xs-6">
                      <div class="description-block border-right">
                        <span class="description-percentage text-green"></span>
                        <h5 class="description-header"><%=number_to_currency @project.revised_contract_amount %></h5>
                        <span class="description-text">PROJECT COST</span>
                      </div><!-- /.description-block -->
                    </div><!-- /.col -->
                    <div class="col-sm-3 col-xs-6">
                      <div class="description-block border-right">
                        <span class="description-percentage text-yellow"></span>
                        <h5 class="description-header text-yellow"><%=number_to_currency @project.total_expenses %></h5>
                        <span class="description-text">TOTAL EXPENSES</span>
                      </div><!-- /.description-block -->
                    </div><!-- /.col -->
                    <div class="col-sm-3 col-xs-6">
                      <div class="description-block border-right">
                            <h5 class="description-header"><%=number_to_currency @project.total_expenses %></h5>
                        <span class="description-text">TOTAL BUDGET</span>
                      </div><!-- /.description-block -->
                    </div><!-- /.col -->
                    <div class="col-sm-3 col-xs-6">
                      <div class="description-block">
                       
                        <h5 class="description-header"><%=@project.slippage %></h5>
                        <span class="description-text">GOAL COMPLETIONS</span>
                      </div><!-- /.description-block -->
                    </div>
                  </div><!-- /.row -->
                </div><!-- /.box-footer -->
                <hr>
                NPT Date of Award:
                <% if @project.notice_to_proceed.present? %>
                <%=@project.notice_to_proceed.date.strftime("%B %d, %Y") %>
                <% else %>
        <%=link_to "Add NTP Date", new_project_notice_to_proceed_path(@project) %>
        <% end %>
            </div>
