<div class="active tab-pane" id="profile">
  <div class="row">
    <div class="col-md-3 well">
      <h4 class="text-uppercase">Project Details</h4>
      <table class="table">
        <tr>
          <td>
            <strong><i class="fa fa-map-marker margin-r-5"></i>  Contract ID:</strong>
            <p class="text-muted">
              #<%=@project.id_number %>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <strong><i class="fa fa-calendar margin-r-5"></i>  Notice to Proceed</strong>
            <% if @project.notice_to_proceed.present? %>

                <p class="text-muted"><%=@project.notice_to_proceed.date.strftime("%b %e, %Y")%>
                <span class="pull-right">
                  <%= link_to "Edit", edit_project_notice_to_proceed_path(@project, @project.notice_to_proceed.id) %></span>
                </p>
            <% else %>
              <p class="text-muted">No NTP Date of Award yet.</p>
              <% if policy(ProjectDetails::NoticeToProceed.new).create? %>
                <p><%=link_to "Add NTP Date", new_project_notice_to_proceed_path(@project), class: "btn btn-primary btn-sm" %></p>
              <% end %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            <strong><i class="fa fa-map-marker margin-r-5"></i>  Location</strong>
            <p class="text-muted">
              <%=@project.address.capitalize %>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <strong><i class="fa fa-book margin-r-5"></i>  Implementing Office</strong>
            <p class="text-muted">
             <%=@project.implementing_office %>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <strong><i class="fa fa-book margin-r-5"></i>  Main Contractor</strong>
            <p class="text-muted">
             <%=@project.main_contractor %>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <%= link_to "Update", edit_project_path(@project), class: 'btn btn-block btn-primary' %>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-5">
      <h4>REMARKS (<%=@project.remarks.count %>)</h4>
      <table class="table">
        <tbody>
          <% @project.remarks.each do |remark| %>
            <tr>
              <td style="width: 5%"><%= image_tag attachment_url(remark.remarker, :profile_photo, :fill, 50, 40, fallback: "default-xs-small.png"),  class: "img-rounded" %></td>
              <td>
                <b class="text-muted"><%=remark.remarker.full_name %> -> <%=remark.title %></b>
                <small class="pull-right text-muted"> <i class="fa fa-clock-o"></i> <%=remark.created_at.strftime("%e %b, %H:%M") %></small>
                <p><span class="text-muted"><%=remark.content %></span></p>
                <br>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
      <br>
    </div>
    <div class="col-md-4 border-left">
      <div class="box box-success">
        <div class="box-header with-border">
          <h4 class="text-uppercase">At a Glance</h4>
        </div>
        <div class="box-body">
          <h3><center class="text-primary"><%=@project.slippage %>%</center></h3>
          <span class="text-muted"><center>Slippage</center> </span>
          <hr>
          <h4><%=number_to_currency @project.cost %></h4>
          <span class="text-muted">PROJECT COST </span>
          <hr>
          <div class="row">
            <div class="col-md-4">
              <h4><%=@project.revised_duration %> Days</h4>
              <span class="text-uppercase text-muted">Duration </span>
            </div>
            <div class="col-md-4">
              <h4><%=@project.days_elapsed %> Days</h4>
              <span class="text-uppercase text-muted">Days Elapsed </span>
            </div>
            <div class="col-md-4">
              <h4><%=@project.remaining_days%> Days</h4>
              <span class="text-uppercase text-muted">Days Left </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 border-right">
      <h4 class="text-uppercase">Recent Work Accomplishments</h4>
      <span class="text-muted">Here's what you've accomplished for this project recently.</span>
      <table class="table">
        <tbody>
          <%@project.work_accomplishments.recent(10).each do |work_accomplishment| %>
            <div class="row">
              <div class="col-md-2">
                <h4><center><%=work_accomplishment.quantity %> <%=work_accomplishment.work_detail.unit %> </center></h4>
              </div>
              <div class="col-md-10">
                <h4 class="text-success"><%=work_accomplishment.work_detail.description %></h4>
                <p class"text-muted"><%=work_accomplishment.remarks %></p>
                <span class="text-muted"><%=work_accomplishment.date_accomplished.strftime("%B %e, %Y") %></span>
              </div>
            </div>
            <hr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <h4 class="text-uppercase">Personnel Assigned to this project</h4>
    </div>
  </div>
</div>



