<div class="tab-pane" id="remarks">
  <div class="box-header with-border">
    <div class="pull-right">
      <%if policy(Remark.new).create? %>
        <%=link_to new_project_remark_path(@project), class: "btn btn-primary btn-sm" do %><i class="fa fa-plus-circle"></i> Add Remarks<%end%>
      <%end%>
    </div>
  </div>
  <div class="box-body">
    <div class="col-md-6 col-md-offset-2">
      <table class="table with-border">
        <%@project.remarks.each do |remark| %>
          <tr>
            <td width="55px"><%= image_tag remark.remarker.profile_photo.url(:thumb),  class: "img-rounded" %></td>
            <td>
              <span class="text-success"><b><%=remark.title %></b></span>
              <small class="help-block text-muted">by: <%=remark.remarker.full_name if remark.remarker %> at <%=remark.created_at.strftime("%B %d, %Y %I:%M%p") %></small>
              <span class="help-block text-muted"><%= remark.content %></span>
            </td>
          </tr>
        <% end %>
      </table>          
    </div>
  </div>
</div>
