<div class="tab-pane" id="settings">
<br>
<div class="row">
  <div class="col-md-4 col-md-offset-1">
  <h5 class="text-danger">Time Extension</h5>
  <span class="help-block text-muted">Time extensions for a project due to weather, Suspension Order, or Variation Order.</span>

  <span class=""><%=link_to new_project_time_extension_path(@project), class: "btn btn-danger btn-sm btn-flat" do %><i class="fa fa-clock-o"></i> New Time Extension <%end%>
      </span>
  </div>
  <div class="col-md-4 col-md-offset-1">
     <h5 class="text-muted">Original Contract Time</h5>
  <span class="help-block text-muted"><%=@project.duration %> days</span>
  <% if @project.time_extensions.present? %>
      <p class="text-danger">Revisions</p>
      <% @project.time_extensions.each do |time_extension| %>
      <p class="text-success"><%=time_extension.number_of_days %> days added last <%=time_extension.created_at.strftime("%D")%></p>
      <% end %> 
  <br>
      <h5 class="text-muted">Revised Contract Time</h5>
      <span class="help-block text-muted"><%=@project.latest_duration %> days</span>
    
      <% else %>
      <% end %>
  
  </div>
</div>

<div class="row">
   <div class="col-md-4 col-md-offset-1">
  <h5 class="text-danger">Amount Revision</h5>
  <span class="help-block text-muted">Revised contract amount due to approved change order/ extra work order.</span>
  <hr>
  <span class=""><%=link_to new_project_amount_revision_path(@project), class: "btn btn-danger btn-sm btn-flat" do %><i class="fa fa-rub"></i> New Amount Revision <%end%>
      </span>
  </div>
 <div class="col-md-4 col-md-offset-1">
     <h5 class="text-muted">Original Contract Amount</h5>
  <span class="help-block text-muted"><%=number_to_currency @project.cost%> </span>
   <% if @project.amount_revisions.present? %>
  <p class="text-danger">Revisions</p>
  <% @project.amount_revisions.each do |amount_revision| %>
  <p class="text-success"><%=number_to_currency amount_revision.amount %> added last <%=amount_revision.created_at.strftime("%D")%></p>
  <% end %> 

  <h5 class="text-danger">Revised Contract Amount</h5>
  <span class="help-block text-muted"><%=number_to_currency @project.revised_contract_amount %> </span>
  
  <% end %>
 
  
  </div>
</div>

</div><!-- /.tab-pane -->
