<div class="tab-pane" id="workers">
  <div class="box-header">
    <h4>List of Workers
  <%if policy(Employment.new).create? %>
  <span class="pull-right"><%=link_to new_project_employment_path(@project), class: "btn btn-primary" do %><i class="fa fa-user-plus"></i> Add Workers <%end%>
  </span>
  <% end %>
  <span class="pull-right"><%=link_to payroll_project_path(@project, @project.employees, format: 'pdf'), class: "btn btn-link" do %><i class="fa fa-document"></i> Generate Payroll <%end%>
  </span>
  </h4>
  </div>

<div class="box-body">

    <table class="table">
    <thead>
      <tr>
      <th></th>
        <th>Employee</th>
        <th>Days Worked</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
      <% @project.employments.each do |employee| %>
        <tr>
            <td style="width:65px"><%= image_tag attachment_url(employee.employee, :photo, :fill, 60, 60, fallback: "default-small.png"),  class: "img-circle" %></td>
            <td>
              <b class="text-primary"><%=link_to employee.full_name.upcase, @employee%></b><br>
              <span class="text-block"><%=employee.position.titleize %></span><br>
              <span class="text-block"><%=employee.mobile_number %></span>

            </td>
            <td><%=employee.unpaid_worked_days_for(@project)%> Days <br>
             <span><%=link_to "Add Days Worked", new_employee_worked_day_path(employee.employee), class: "btn" %></span>

           </td>
           <td></td>
           <td><%= link_to 'Remove', project_employment_path(@project, employee.id), method: :delete, data: { confirm: 'Are you sure you want to remove this employee from this project?' }, class: "btn btn-danger btn-xs" %></td>


        </tr>
            <% end %>
      </table>
            </div>
            </div>

