
<div class="tab-pane" id="work_details">
<div class="row">
    <div class="col-md-12">
    <%if policy(WorkDetail.new).create? %>
        <span><%=link_to new_project_work_detail_path(@project), class: "btn btn-default bg-blue-active pull-right" do %><i class="fa fa-plus-circle"></i> Add Work Detail <%end%></span>
        <% end %>
    </div>
    <hr>
    <div class="col-md-12">
<table class="table table-hover">
<thead>
  <tr class="text-uppercase">

    <th>Item No.</th>
    <th style="width: 30%">Description</th>
    <th>Unit</th>
    <th>Total Contract Quantity</th>
    <th>Unit Price</th>
    <th>Total Contract Cost</th>
    <th>Wt. %</th>
    <th>Total Qty Approved in Previous Billing</th>
    <th>Quantity Approved in this Billing</th>
    <th>Total Quantity to this Date</th>
    <th>Balance of Quantity</th>
    <th>Cost of Previous Billing</th>

    <th>Cost of this Billing</th>


    <th>Actual Accomplished</th>
  <th></th>
  </tr>
</thead>

<tbody>
<% @project.work_details.each do |work_detail| %>
<tr>
<td><%=work_detail.code%></td>

<td><%=link_to work_detail.description.upcase,[@project, work_detail] %>
</td>

<td><%=number_to_currency work_detail.total_cost %></td>
<td><%=work_detail.quantity %></td>
<td><%=number_to_currency(work_detail.target_accomplishment_percent, unit: '') %> %</td>
<td class="text-success"><%=number_to_currency(work_detail.actual_accomplishment_percent, unit: '')%> %</td>
<td class="text-danger"><%=number_to_currency(work_detail.slippage, unit: '')%></td>


</tr>
<% end %>
</tbody>
</table>
</div>
</div>
</div>


