<div class="tab-pane" id="workers">
  <div class="box-header with-border">
    <div class="pull-right">
      <%if policy(Employment.new).create? %>
        <%=link_to new_project_employment_path(@project), class: "btn btn-default bg-blue-active" do %><i class="fa fa-user-plus"></i> Add Workers <%end%>
      <% end %>
      <%=link_to payroll_project_path(@project, @project.employees, format: 'pdf'), class: "btn btn-default" do %><i class="fa fa-document"></i> Generate Payroll <%end%>
    </div>
  </div>
  <div class="box-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th>Employee</th>
          <th>Days of Work</th>
          <th>Status</th>
          <th width="100px"><center>Action</center></th>
        </tr>
      </thead>
      <tbody>
        <% @project.employments.each do |employee| %>
          <tr>
            <td style="width:70px"><%= image_tag employee.employee.profile_photo.url(:thumb), class: "img-rounded" %></td>
            <td>
              <b class="text-primary"><%=link_to employee.full_name.upcase, @employee%></b><br>
              <span class="text-block"><%=employee.position.titleize %></span>
            </td>
            <td>
              <%= employee.unpaid_worked_days_for(@project)%> Days <br>
              <span><%=link_to "Add Worked Days", new_employee_worked_day_path(employee.employee), class: "btn btn-xs" %></span>
            </td>
            <td></td>
            <td><span class="pull-right"><%= link_to 'Remove', project_employment_path(@project, employee.id), method: :delete, data: { confirm: 'Are you sure you want to remove this employee from this project?' }, class: "btn btn-danger btn-xs" %></span></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

