
<div class="tab-pane" id="work_details">
<%=link_to "Add Item", new_project_work_detail_path(@project) %>
<table class="table table-compressed">
<thead>
  <tr>
    <th>Item Code</th>
    <th>Item Description</th>
    <th>Unit</th>
    <th>Unit Cost</th>
    <th>Quantity</th>
    <th>Total Cost</th>
    <th>Accomplished</th>
    <th>Remaining</th>
  </tr>
</thead>
<% @project.work_details.each do |work_detail| %>
<tbody>
<tr>
<td><%=work_detail.code%> </td>
<td><%=link_to work_detail.description,[@project, work_detail] %></td>
<td><%=work_detail.unit%></td>
<td><%=work_detail.quantity %></td>
<td><%=number_to_currency work_detail.unit_cost %></td>
<td><%=number_to_currency work_detail.total_cost %></td>
<td><%=work_detail.accomplished %></td>
<td><%=work_detail.remaining %></td>
</tr>
</tbody>
<% end %>
</table>


</div>

