
<div class="tab-pane" id="work_details">
<div class="col-row">
<span><%=link_to new_project_work_detail_path(@project), class: "btn btn-default bg-blue-active" do %><i class="fa fa-plus-circle"></i> Add Work Detail <%end%></span>

<hr>
<table class="table table-compressed">
<thead>
  <tr class="bg-gray-light text-uppercase">

    <th>Code</th>
    <th style="width: 30%">Description</th>
    <th>Budget Estimate</th>
    <th>Actual Cost Incurred</th>
    <th>Quantity</th>
    <th>Qty. Accomplished</th>
    <th>Remaining</th>
    <th>Target Acc. (%)</th>
    <th>Actual Acc. (%)</th>
    <th>Slippage</th>
  </tr>
</thead>
<% @project.work_details.each do |work_detail| %>
<tbody>
<tr>
<td><%=work_detail.code%> </td>
<td><%=link_to work_detail.description.upcase,[@project, work_detail] %></td>
<td><%=number_to_currency work_detail.total_cost %></td>
<td><%#=number_to_currency work_detail.actual_cost_incurred %></td>
<td><%=work_detail.quantity %></td>
<td class="text-success"><%=work_detail.accomplished_quantity%></td>
<td class="text-danger"><%=work_detail.remaining_quantity %></td>
<td><%=work_detail.target_accomplishment_percent %>%</td>
<td><%=work_detail.actual_accomplishment_percent %>%</td>
<td class="<%=work_detail.slippage_color %>"><i class="fa fa-chevron-<%=work_detail.slippage_sign %>"></i> <%=work_detail.slippage %>%</td>
<td></td>

</tr>
</tbody>
<% end %>
</table>

</div>
</div>


