
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">List of Projects</h3>
                   <span class="pull-right"><%=link_to projects_path, class: "btn btn-default" do %><i class="fa fa-ellipsis-v"></i><%end%></span>
                  <span class="pull-right"><%=link_to new_project_path, class: "btn btn-default bg-blue-active pull-right" do %><i class="fa fa-user-plus"></i> New Project <%end%></span>
                </div><!-- /.box-header -->
                <div class="box-body">
                <div class="table table-responsive">
                  <table class="table table-striped">
<thead>  
<tr>
  <th>ID</th>
  <th style="width: 20%" class="text-uppercase">Project Name</th>
  <th style="width: 10%" class="text-uppercase">Amount</th>
  <th style="width: 20%" class="text-uppercase">Contractors</th>
  <th style="width: 10%" class="text-uppercase">Duration</th>
  <th style="width: 10%" class="text-uppercase">NPT Date Awarded</th>
  <th style="width: 10%" class="text-uppercase">Time Extension/Suspension</th>
  <th style="width: 10%" class="text-uppercase">Slippage</th> 
  <th style="width: 10%" class="text-uppercase">Remarks</th>
</tr>
</thead>
<tbody> 
 <% @projects.each do |project| %> 
 <tr>
 <td><%=project.id_number %></td>
  <td><%=link_to project.name.upcase, project %></td>
  
  <% if project.amount_revisions.present? %>
            <td class="text-danger"><strike><%=number_to_currency project.cost %> </strike>
            <span class="text-success"><%=number_to_currency project.final_cost %></span></td>
            <% else %>
            <td class="text-success"><%=number_to_currency project.cost %> </td>
            <% end %>
  <td><% project.contractors.each do |contractor| %>
           <p><%=contractor.company.upcase %></p>
           <% end %>
  </td>
  <td><%=project.duration %> Days</td>
 <td><%= project.ntp %></td>
 <td></td>
  <td class="text-<%=project.slippage_color %> text-center"><i class="fa fa-caret-<%=project.slippage_sign %>"></i> <%=project.slippage%> %</td>
  <td><%= project.remarks.count %></td>
  </tr>
  </tbody>
  <% end %>
</table>
</div>
</div>
</div>
</div>
