<div class="row">
<div class="col-md-8 col-md-offset-2">
  <!-- Widget: user widget style 1 -->
  <div class="box box-widget widget-user">
    <!-- Add the bg color to the header using any of the bg-* classes -->
    <div class="widget-user-header bg-blue-active">
      <h4 class="widget-user-username">New Project</h4>
    </div>
    <div class="box-footer">
      <div class="row">
        
 
                  <%= simple_form_for @project do |f| %>
<%=f.error_notification %>

  <div class="col-md-4 col-sm-6">
  <br> 
  <h4 class="text-muted">
  <i class="fa fa-suitcase text-muted"></i> Project Information
  </h4>
       
  </div> 
  <div class="col-md-6 col-sm-6">
  <%=f.input :name, as: :text, input_html: {class: "input-lg", rows: 6 }, label: "Project Name", autofocus: true, placeholder: "Enter name of project" %>
      <br>
  <div class="row"> 
  <div class="col-md-6 col-sm-6">
  <%= f.input :id_number, label: "Contract ID:", placeholder: "Contract ID", input_html: {class: "input-lg"}%>

  </div>
  <div class="col-md-6 col-sm-6">
  <%=f.input :duration, label: "Duration (Number of Days)", input_html: {class: "input-lg"}, as: :string, placeholder: "Contract Duration" %> 
 
</div>
  </div>
  <div class="row"> 
   <div class="col-md-6 col-sm-6">
   <%= f.input :cost, label: "Contract Cost", input_html: {class: "input-lg"}, as: :string, placeholder: "Contract Cost"%>
</div>
 <div class="col-md-6 col-sm-6">
<%=f.input :address, label: "Contract Location",input_html: {class: "input-lg"}, placeholder: "Contract Location" %>
</div>
</div>  
</div>
</div>
<hr>
<div class="row">
<div class="col-md-4 col-sm-6">
<h4 class="text-muted"><i class="fa fa-road text-muted"></i> Category
</h4>
</div>
<div class="col-md-8 col-sm-6">
<%=f.input :category_id,
   collection: Category.all.map { |a| [a.name.titleize , a.id] }, as: :radio_buttons, label: false %>
</div>
</div>
<hr>
<div class="row">
<div class="col-md-4 col-sm-6">
<h4 class="text-muted"><i class="fa fa-user text-muted"></i>  Main Contractor
</h4>
</div>
<div class="col-md-8">
<%=f.association :main_contractor, collection: Contractor.main_contractors.map { |a| [a.company.titleize , a.id] }, as: :radio_buttons, label: false %>
</div>
</div>
</div>
<div class="modal-footer">  
<%=f.submit "Save Continue", class: "btn btn-primary" %>
</div>
<% end %>
</div>

</div>
 
</div>
