<div class="row">
<div class="col-md-9 col-md-offset-1">
<div class="box box-solid">
<div class="box-body">
<br>
<h4 class="text-center text-muted">New Project Details</h4>
<span class="help-block text-center">Attrbutes for a new project sdads asdas ds </span>
<hr>
        
 
                  <%= simple_form_for @project do |f| %>
<%=f.error_notification %>

  <div class="col-md-4 col-sm-6">
  <br> 
  <h5 class="text-center">
   Project Information
  </h5>
       
  </div> 
  <div class="col-md-6 col-sm-6">
  <%=f.input :name, as: :text, input_html: {rows: 6 }, label: "Project Name", autofocus: true, placeholder: "Enter name of project" %>
      <br>
  
  <%= f.input :id_number, label: "Contract ID:", placeholder: "Contract ID" %>

 
  <%=f.input :duration, label: "Duration (Number of Days)", as: :string, placeholder: "Contract Duration" %> 
 

   <%= f.input :cost, label: "Contract Cost",  as: :string, placeholder: "Contract Cost"%>

<%=f.input :address, label: "Contract Location", placeholder: "Contract Location" %>

</div>
</div>
<hr>
<div class="row">
<div class="col-md-4 col-sm-6">
<h5 class="text-center"> Category
</h5>
</div>
<div class="col-md-8 col-sm-6">
<%=f.input :category_id,
   collection: Category.all.map { |a| [a.name.titleize , a.id] }, as: :radio_buttons, label: false %>
</div>
</div>
<hr>
<div class="row">
<div class="col-md-4 col-sm-6">
<h5 class="text-center"> Main Contractor
</h5>
</div>
<div class="col-md-8">
<%=f.association :main_contractor, collection: Contractor.main_contractors.map { |a| [a.company.titleize , a.id] }, as: :radio_buttons, label: false %>
</div>
</div>
<div class="modal-footer">  
<%=f.submit "Save Project", class: "btn btn-primary" %>
</div>
<% end %>
</div>

</div>
 
</div>
