
<div class="container">

<div class="row">
<div class="col-md-4">
<div class="box box-solid">
<div class="box-body">
<br>
<br>
<%= link_to new_project_path do %>
  <%= image_tag "plus.png", size: "150x150", class: "center-block" %>
<% end %>
  <%=link_to "Add A new Project", new_project_path, class: "btn btn-link btn-block" %>
  <br>
  <br>
  <br>
  <br>
  </div>
  </div>
  </div>
<%@projects.each do |project| %>
<div class="col-md-4">
              <!-- Widget: user widget style 1 -->
              <div class="box box-default">
                <!-- Add the bg color to the header using any of the bg-* classes -->

                <div class="box-body">

                <h3><center><%=link_to "##{project.id_number}", project %></center></h3>
<p class="text-uppercase"><%=link_to project.name, project %></p>
 <br>
 <br>
 <center><%=link_to "View Project", project_path(project), class: "btn btn-primary img-rounded" %></center>
<hr>

                </div>

              </div><!-- /.widget-user -->

            </div><!-- /.col -->

<% end %>
</div>
</div>




