<div class="container">
    <div class="row">
    <div class="col-md-4">
    <a href="/projects/new">
    <div class="box box-solid">


              <div class="box-body">

<center><i class="fa fa-plus-circle fa-4x text-primary"></i>
<h4>New Project</h4>
</center>


</div>
            </div>
            </a>
</div>
      <div class="row">
      <%@projects.each do |project| %>
        <div class="col-md-4">
          <div class="box box-<%=project.box_status%>">
            <div class="box-header with-border">
             <a href="/projects/<%=project.id%>">
              <span class="text-primary" data="tooltip" title="<%=project.category%> dsf">#<%=project.id_number%></span>   <h4 class="text-info"><%=project.name.truncate(200)%></h4>
              </div>

              <div class="box-body">





  <span class="text-muted" title="Contract Amount"> <span class="text-muted"> <%=number_to_currency project.revised_contract_amount %></span></span>
              &nbsp; &nbsp;
              <span class="text-muted" title="Days Elapsed"><i class="fa fa-calendar"></i> <span class="text-danger"> <%=project.days_elapsed%></span> /<%=project.revised_duration%></span>
              &nbsp; &nbsp;

               <span class="text-success" data="tooltip" title="<%=project.category%> dsf"><i class="fa fa-hand-paper-o"></i> <%=project.actual_accomplishment%> %</span>
                  &nbsp; &nbsp;

               <span class="text-success" data="tooltip" title="<%=project.category%> dsf"><i class="fa fa-bookmark-o"></i> <%=project.target_accomplishment%> %</span>
               <span class=" pull-right text-<%=project.slippage_color %> text-center"><i class="fa fa-caret-<%=project.slippage_sign %>"></i> <%=project.slippage%> %</span>

            </div>

            </div>
              </a>
            </div>
            <% end %>

           </div>
    </div>
  </div>
  </div>

