<% breadcrumb :project, @project %>
<div class="row">
 
    <div class="col-md-12"> 
 
    <div class="nav-tabs-custom">
    
  
      <ul class="nav nav-tabs">
      <br>
      <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-10">
<h4 class="text-info"><%=@project.name.upcase %></h4>
<hr>
</div>
</div>

        <li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
        
        <li><a href="#timeline" data-toggle="tab">Activities</a></li>
        <li><a href="#accomplishment" data-toggle="tab"></i> Accomplishments</a></li>
         <li><a href="#expenses" data-toggle="tab">Expenses</a></li>
       
        <li><a href="#budget" data-toggle="tab"></i> Budget</a></li>
        <li><a href="#budget" data-toggle="tab"></i> Inspections</a></li>
       
       
        <li><a href="#billings" data-toggle="tab">Billings</a></li>
        <li><a href="#collections" data-toggle="tab">Collections</a></li>
      
        <!-- <li><a href="#bidding" data-toggle="tab"><i class="fa fa-balance-scale"></i> Bidding</a></li> -->
        <li><a href="#settings" data-toggle="tab">Settings</a></li>
        <li><a href="#settings" data-toggle="tab">Reports</a></li>
         
    
      </ul>
     
      <div class="tab-content">
        <%=render 'profile' %>
        <%=render 'accomplishment' %>

        <%=render 'expenses' %>
        <%=render 'timeline' %>
          <%=render 'projects/billings/billings' %>
          <%=render 'contractors' %>
          <%=render 'collections' %>

          <%=render 'bidding' %>

        <%=render 'settings' %>
      </div><!-- /.tab-content -->
    </div><!-- /.nav-tabs-custom -->
  </div><!-- /.col -->
</div><!-- /.row -->
