<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <h4 class="title">Projects Progress</h4>
      </div>
      <div class="content">
        <% @projects.each do |project| %>
          <%=link_to monitoring_project_path(project) do %>
            <ul class="list-unstyled team-members">
              <li>
                <div class="row">
                  <div class="col-md-2">
                    <% if project.accomplishment_images.present? %>
                      <%=image_tag(project.accomplishment_images.last.photo.url(:large), height: 100, width: 100, class: "img-square") %>
                    <% else %>
                      <%=image_tag("bg.jpg", height: 100, width: 100, class: "img-square") %>
                    <% end %>
                  </div>
                  <div class="col-md-6">
                    <h4 class="title"><span># <%=project.id_number_and_location %></span></h4>
                    <span class="text-yellow"><%=project.name %></span>
                  </div>
                  <div class="col-md-1">
                    <p><span class="text-success"><%=number_to_currency project.actual_accomplishment, unit: "" %> % </span></p>
                  </div>
                  <div class="col-md-1">
                    <p><span class="text-yellow"><%=number_to_currency project.target_accomplishment, unit: "" %> %</span></p>
                  </div>
                  <div class="col-md-1">
                    <p><span class="text-danger"><i class="fa fa-angle-<%=project.slippage_sign%>"></i> <%=number_to_currency project.slippage, unit: "" %> %</span></p>
                  </div>
                </div>
              </li>
            </ul>
          <% end %>
          <hr>
        <% end %>
        <div class="footer">
          <div class="chart-legend">
            <i class="fa fa-circle text-warning"></i> On-going
            <i class="fa fa-circle text-danger"></i> Not Started
          </div>
          <hr>
          <div class="stats">
            <% if WorkAccomplishment.any? %>
              <i class="fa fa-server"></i> Updated <%=time_ago_in_words(WorkAccomplishment.last.created_at.to_date) %> ago
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
