
    <ul class="list-unstyled team-members">
      <li>
        <p>
        <i><%=image_tag("material_cost.png", width: 30, height: 30) %></i> &nbsp; <%=link_to "Materials", monitoring_project_line_items_path(@project) %>
          <span class="pull-right"> <%=number_to_currency @project.direct_material_costs %></span>
        </p>
      </li>
      <li>
        <p>
          <i><%=image_tag("labor.png", width: 30, height: 30) %></i> &nbsp; <%=link_to "Labor", monitoring_project_labor_costs_path(@project) %>
          <span class="pull-right"> <%=number_to_currency @project.labor_costs.total %></span>
        </p>
      </li>
      <li>
        <p>
          <i><%=image_tag("contractor.png", width: 30, height: 30) %></i> &nbsp; <%=link_to "Sub Contract", monitoring_project_line_items_path(@project) %>
          <span class="pull-right"> <%=number_to_currency @project.sub_contract_costs.total %></span>
        </p>
      </li>
      <li>
        <p>
          <i><%=image_tag("equipment.png", width: 30, height: 30) %></i> &nbsp;<%=link_to "Equipment", monitoring_project_line_items_path(@project) %>
          <span class="pull-right"> <%=number_to_currency @project.equipment_costs.total %></span>
        </p>
      </li>
      <li>
        <p>
          <i><%=image_tag("document.png", width: 30, height: 30) %></i> &nbsp; <%=link_to "Bid Expenses", monitoring_project_bid_expenses_path(@project) %>
          <span class="pull-right">
            <%=number_to_currency @project.bid_expenses.sum(:amount) if @project.bid_expenses.present? %>
          </span>
        </p>
      </li>
      <li>
        <p>
          <i><%=image_tag("engineer.png", width: 30, height: 30) %></i> &nbsp; <%=link_to "Other Costs", monitoring_project_line_items_path(@project) %>
          <span class="pull-right"><%=number_to_currency @project.other_costs.total %></span>
        </p>
      </li>
      <li>
        <p>
          Total
          <span class="pull-right"> <%=number_to_currency @project.total_direct_costs %></span>
        </p>
      </li>
    </ul>
