<div class="card">
  <div class="header">
    <h5 class="title"> <%=image_tag("work_detail_icon.png", height: '35', width: '35') %>( <%=@project.work_details.count%> ) Work Details
      <% if policy(WorkDetail.new).create? %>
        <%=link_to new_monitoring_project_work_detail_path(@project), title: "Add New Work Detail" do %>
      <span class="btn btn-primary btn-icon pull-right" data-toggle="tooltip" data-placement="bottom" title="Add New Work Detail"><i class="fa fa-plus"></i></span>
      <% end %>
      <% end %>
    </h5>
    <div class="row"><hr></div>
  </div>
  <div class="content">
    <% if @project.work_details.empty? %>
      <span> No Work Details are added to this project yet.
        <%=link_to "Start adding work detail", new_monitoring_project_work_detail_path(@project) %>
      </span>
    <% else %>
      <table class="table table-striped">
        <thead>
          <tr class="title">
            <th style="width: 60%">Description</th>
            <th>Quantity</th>
            <th>Acc.</th>
            <th>Remaining </th>
            <th style="width: 10%">% Acc.</th>
            <th> </th>

          </tr>
        </thead>
        <tbody>
          <%@project.work_details.each do |work_detail| %>
            <tr>
              <td><%=link_to work_detail.description.truncate(100), monitoring_work_detail_path(work_detail) %></td>
              <td>
                <span class="pull-right"><%=number_to_currency work_detail.quantity, unit: '' %> <%=work_detail.unit %></span>
              </td>
              <td>
                <span class="text-success pull-right"><%=number_to_currency work_detail.accomplished_quantity, unit: '' %> <%=work_detail.unit %></span>
              </td>
              <td>
                <span class="text-danger pull-right"><%=number_to_currency work_detail.remaining_quantity, unit: '' %> <%=work_detail.unit %></span>
              </td>
              <td>
                <small>
                  <% if work_detail.work_accomplishments.present? %>
                    <%=number_to_currency work_detail.actual_accomplishment_percent, unit: '' %> %
                  <% else %>
                    0
                  <% end %>
                </small>
              </td>
              <td>
                <%=link_to new_monitoring_work_detail_work_accomplishment_path(work_detail) do %>
                  <span class="btn btn-primary btn-icon" data-toggle="tooltip" data-placement="bottom" title="New Work Accomplishment"><i class="fa fa-pencil"></i></span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
    </div>
</div>
