\
      <div class="row">
      <div class="col-md-6 col-xs-8">
        <%=form_tag monitoring_projects_path, method: :get do %>
          <div class="input-group stylish-input-group">
            <%=text_field_tag :name, params[:name], class: 'form-control', placeholder: 'Search for a Product' %>
            <span class="input-group-addon">
              <button type="submit">
                <span class=" glyphicon glyphicon-search"></span>
              </button>
            </span>
          </div>
        <% end %>
      </div>
      <div class="col-md-6 col-sm-4 hidden-xs">
        <%=link_to "Summary (PDF)", monitoring_projects_path(@projects, format: 'pdf'), class: 'btn btn-primary' %>
        <% if policy(Project.new).create? %>
        <%=link_to new_monitoring_project_path, title: "New Project" do %>
          <span class="btn btn-warning active btn-icon pull-right" data-toggle="tooltip" data-placement="bottom" title="New Project"><i class="fa fa-plus-circle"></i> New Project </span>
        <% end %>
        <% end %>
    </div>
  </div>

<div class="row">
    <%@projects.each do |project| %>
      <%=link_to monitoring_project_path(project) do %>
      <div class="col-md-4">
        <div class="card card-project">
          <div class="image">
            <% if project.accomplishment_images.any? %>
              <%=image_tag(project.accomplishment_images.last.photo.url(:original)) %>
            <% else %>
              <%=image_tag("bg.jpg") %>
          <% end %>
        </div>
          <div class="header">
            <b class="title text-yellow"><%="##{project.id_number.upcase}"%></b>
            <p class="pull-right btn btn-<%=project.slippage_color%> btn-icon active text-<%=project.slippage_color%>" data-toggle="tooltip" data-placement='bottom' title"Slippage"><i class="fa fa-angle-<%=project.slippage_sign%>"></i><%=number_to_currency project.slippage, unit: ""%> % </p>
            <div class="row"></div>
          </div>
          <div class="content">
            <small><%=project.name.truncate(100) %></small><br>
            <br>
<div class="card-footer">

              <i class="fa fa-map-marker"></i><%=project.address %>
            </div>
          </div>

        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
