<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <div class="row">
          <div class="col-md-10">
            <b>#<%=@project.id_number_and_location %></b>
            <h5><%=@project.name %></h5>
          </div>
          <div class="col-md-2">
            <% if policy(@project).edit? %>
              <%=link_to "Edit Project", edit_monitoring_project_path(@project), class: "btn btn-warning pull-right" %>
            <% end %>
          </div>
        </div>
        <div class="row"><hr class="with-padding no-top-padding"></div>
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-4">
            <h5 class="title">Project Info </h5>
            <ul class="list-unstyled team-members">
              <li>
                <div class="row">
                  <div class="col-xs-8">
                    <i class="fa fa-clock-o text-success"></i> &nbsp; Notice to Proceed
                    <br>
                    <%  if @project.notice_to_proceed.present? %>
                      &nbsp; &nbsp; &nbsp; &nbsp;  <b><%=@project.notice_to_proceed.date.strftime("%B %e, %Y") %></b>
                    <% else %>
                      <span class="text-muted">&nbsp; &nbsp; &nbsp; &nbsp;  No NTP yet </span>
                    <% end %>
                  </div>
                  <div class="col-xs-4">
                    <% if @project.notice_to_proceed.blank? %>
                      <% if policy(ProjectDetails::NoticeToProceed.new).create? %>
                        <%=link_to new_monitoring_project_notice_to_proceed_path(@project), title: "Add Notice To Proceed" do %>
                        <span class="btn btn-success btn-icon-sm pull-right" data-toggle="tooltip" data-placement="bottom" title="Add Notice To Proceed"><i class="fa fa-plus"></i> </span>
                        <% end %>
                      <% end %>
                    <% else %>
                    <% if policy(ProjectDetails::NoticeToProceed.new).edit? %>
                      <%=link_to edit_monitoring_project_notice_to_proceed_path(@project, @project.notice_to_proceed), title: 'Edit Notice To Proceed' do %>
                        <span class="btn btn-warning btn-icon btn-xs" data-toggle="tooltip" data-placement="bottom" title="Edit Notice To Proceed"><i class="fa fa-pencil"></i> </span>
                      <% end %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="col-xs-12">
                    <i class="fa fa-clock-o text-danger"></i>  &nbsp; Expiry Date
                    <br>
                    <% if @project.has_no_time_extensions? %>
                      &nbsp; &nbsp; &nbsp; &nbsp; <b><%= @project.expiry_date %></b>
                      <% else %>
                        &nbsp; &nbsp; &nbsp; &nbsp; <small class="text-danger"><strike><%= @project.expiry_date %></strike></small><br>
                        &nbsp; &nbsp; &nbsp; &nbsp; <b><%= @project.revised_expiry_date.strftime("%B %e, %Y") %></b>
                      <% end %>
                  </div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="col-xs-12">
                    <i class="fa fa-money text-success"></i>  &nbsp; Contract Amount
                    <br>
                    <% if @project.no_amount_revisions? %>
                      &nbsp; &nbsp; &nbsp; &nbsp;    <b><%= number_to_currency @project.cost %></b>
                    <% else %>
                        &nbsp; &nbsp; &nbsp; &nbsp;    <small class="text-danger"><strike><%= number_to_currency @project.cost %></strike></small><br>
                          &nbsp; &nbsp; &nbsp; &nbsp;    <b><%= number_to_currency @project.revised_contract_amount %></b>
                    <% end %>
                  </div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="col-xs-12">
                    <i class="fa fa-map-marker text-success"></i>  &nbsp; Location
                    <br>
                    &nbsp; &nbsp; &nbsp; &nbsp;    <b><%= @project.address %></b>
                  </div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="col-xs-12">
                    <i class="fa fa-calendar text-success"></i>  &nbsp; Duration
                    <br>
                    <% if @project.has_no_time_extensions? %>
                      &nbsp; &nbsp; &nbsp; &nbsp;    <b><%= @project.duration %> Days</b>
                    <% else %>
                      &nbsp; &nbsp; &nbsp; &nbsp;    <small class="text-danger"><strike><%= @project.duration %> Days</strike></small><br>
                      &nbsp; &nbsp; &nbsp; &nbsp;    <b><%= @project.revised_duration %> Days</b>
                    <% end %>
                  </div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="col-xs-12">
                    <i class="fa fa-building text-success"></i>  &nbsp; Implementing Office
                    <br>
                    &nbsp; &nbsp; &nbsp; &nbsp;    <b><%= @project.implementing_office %></b>
                  </div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="col-xs-12">
                    <i class="fa fa-user text-success"></i>  &nbsp; Main Contractor
                    <br>
                    &nbsp; &nbsp; &nbsp;  &nbsp;    <b><%= @project.main_contractor %></b>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-md-6 col-md-offset-1">
            <h5 class="title"> Project Status </h5>
            <ul class="list-unstyled team-members">
              <li>
                <%=image_tag("target.png", height: 25, width: 25) %> &nbsp;  Target Accomplishment
                <span class="pull-right"> <%=number_to_currency @project.target_accomplishment, unit: '' %> % </span>
              </li>
              <li>
                <%=image_tag("engineer.png", height: 25, width: 25) %> &nbsp; Actual Accomplishment
                <span class="pull-right text-success"> <%=number_to_currency @project.actual_accomplishment, unit: '' %> % </span>
              </li>
              <li>
                <%=image_tag("reporting.png", height: 25, width: 25) %> &nbsp; Slippage
                <span class="pull-right text-<%=@project.slippage_color%>"><i class="fa fa-angle-<%=@project.slippage_sign%>"></i><%=number_to_currency @project.slippage, unit: '' %> % </span>
              </li>
            </ul>
            <br>
            <h5 class="title card-title"> Change Orders </h5>
            <ul class="list-unstyled team-members">
              <li>
                <div class="row">
                  <div class="col-md-6 col-xs-6">
                    <%=image_tag("coin.png", height: 25, width: 25) %> &nbsp; Amount Revisions
                  </div>
                  <div class="col-md-3 col-xs-3">
                    <span class="text-success pull-right"> + <%=number_to_currency @project.amount_revisions.additive.total %> </span><br>
                    <span class="text-danger pull-right"> - <%=number_to_currency @project.amount_revisions.subtractive.total %> </span>
                  </div>
                  <div class="col-md-3 col-xs-3">
                    <%=link_to "View Details", monitoring_project_amount_revisions_path(@project), class: "btn btn-info btn-xs pull-right" %>
                  </div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="col-md-6 col-xs-6">
                    <%=image_tag("calendar.png", height: 25, width: 25) %> &nbsp; Time Extensions
                  </div>
                  <div class="col-md-3 col-xs-3">
                    <span class="pull-right"> <%=@project.time_extensions.total %> Days</span>
                  </div>
                  <div class="col-md-3 col-xs-3">
                    <%=link_to "View Details", monitoring_project_time_extensions_path(@project), class: "btn btn-info btn-xs pull-right" %>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%=render 'work_details' %>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <%=render 'payments' %>
    </div>
  </div>
  <div class="col-md-6">
    <%=render 'contractors' %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= render 'direct_costs' %>
  </div>
  <div class="col-md-6">
    <div class="card">
      <%= render 'file_attachments' %>
      <div class="header">
        <h4 class="title"><%=image_tag("expenses_icon.png", height: '35', width: '35')%> Direct Costs </h4>
        <div class="row"><hr></div>
      </div>
      <div class="content">
        <%=render 'direct_costs' %>
        <br>
      </div>
    </div>
  </div>
</div>
