<div class="col-md-12">
  <!-- Widget: user widget style 1 -->
  <div class="box box-solid">
    <!-- Add the bg color to the header using any of the bg-* classes -->
    <div class="row">
      <div class="col-md-12">
        <div class="box-header with-border">
          <h4 class="text-uppercase">List of Workers for this project</h4>
        </div>
        <div class="box-body">
          <div class="col-md-7">
            <table class="table">
              <% @work_detail.employees.each do |worker| %>
                <tr>
                    <td style="width:65px"><%= image_tag worker.profile_photo.url(:medium), class: "img-rounded" %></td>
                    <td>
                      <b><%=worker.full_name.upcase%></b><br>
                      <span class="text-uppercase text-muted"><%=worker.position.titleize %></span><br>
                      <%=worker.mobile_number %>
                    </td>
                </tr>
              <% end %>
            </table>
          </div>
          <div class="col-md-5">
            <%= render 'form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
