<%= simple_form_for @contractor, url: :monitoring_contractors do |f| %>
          <%=f.error_notification %>
<div class="col-md-6 col-md-offset-3">
  <div class="card">
    <div class="header">
      <h4 class="title">Contractor Details </h4>
        <div class="row"><hr></div>
      </div>
      <div class="content">

        <%= image_tag @contractor.profile_photo.url(:medium), class: 'center-block img-rounded'%>
        <center><%= f.input :profile_photo, class: 'center-block', as: :file %></center>
        <br>
        <div class="row">
          <div class="col-md-6">
            <%=f.input :first_name, autofocus: true, label: false, placeholder: "First Name" %>
          </div>
          <div class="col-md-6">
            <%=f.input :last_name, label: false, placeholder: "Last Name"  %>
          </div>
        </div>
        <%=f.input :company, label: false, placeholder: "Company Name" %>
        <%=f.input :position, label: false, placeholder: "Position" %>
        <%=f.input :main_contractor, label: "Main Contractor?" %>
        <div class="modal-footer">
          <%= link_to "Cancel", monitoring_contractors_path, class: "btn  pull-left" %>
          <%=f.submit 'Save Contractor', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
