<%@contractors.each do |contractor| %>
    <%=link_to monitoring_contractor_path(contractor) do %>
      <div class="col-md-4">
        <div class="card card-user">
          <div class="image">
            <%= image_tag "hero.jpg", class: "img-square center-block", alt: "contractor profile picture" %>
          </div>
          <div class="content">
            <div class="author">
              <%= image_tag contractor.profile_photo.url(:medium), class: "avatar border-white", alt: "contractor profile picture" %>
              <h4 class="title"><%=contractor.full_name %><br />
                <small><%=contractor.position %></small>
              </h4>
            </div>
            <br>
            <p class="description text-center">
              <%=contractor.company %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  <%end %>