
        <div class="row">
          <div class="col-md-6">
            <%=form_tag monitoring_contractors_path, method: :get do %>
              <div class="input-group stylish-input-group">
                <%=text_field_tag :query, params[:query], class: 'form-control', placeholder: 'Search for a Contractor' %>
                <span class="input-group-addon">
                  <button type="submit">
                    <span class=" glyphicon glyphicon-search"></span>
                  </button>
                </span>
              </div>
            <% end %>
          </div>
          <div class="col-md-6">
            <%=link_to new_monitoring_contractor_path, title: "New Contractor" do %>
              <span class="btn btn-primary btn-icon pull-right" data-toggle="tooltip" data-placement="bottom" title="New Contractor"><i class="fa fa-user-plus"></i> New Contractor </span>
            <% end %>
          </div>
        </div>
      <div class="content">
        <table class="table table-hover">
          <thead>
            <tr>
              <th></th>
              <th>Contractor </th>
              <th>Company</th>
              <th>Position</th>
              <th> Projects</th>
            </tr>
          </thead>
          <tbody>
            <%@contractors.each do |contractor| %>
              <tr>
                <td><%=image_tag(contractor.profile_photo.url(:thumb), class: "img-circle img-responsive") %></td>
                <td> <%=link_to contractor.full_name, monitoring_contractor_path(contractor) %></td>
                <td> <%= contractor.company %> </td>
                <td> <%= contractor.position %> </td>
                <td> <%= contractor.contracts.count %> </td>
              </tr>
            <%end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
