<div class="col-md-8 col-md-offset-2">
  <div class="card">
    <div class="header">
      <h4 class="Contractor Details" </h4>
        <hr>
      </div>
      <div class="content">
        <%= simple_form_for @contractor do |f| %>
          <%=f.error_notification %>
          <%= image_tag @contractor.profile_photo.url(:thumb), class: 'center-block img-responsive img-circle'%>
          <center><%= f.input :profile_photo, class: 'center-block', as: :file %></center>
          <hr>
            <div class="row">
              <div class="col-md-6">
                <%=f.input :first_name, autofocus: true, label: false, placeholder: "First Name" %>
              </div>
              <div class="col-md-6">
                <%=f.input :last_name, label: false, placeholder: "Last Name"  %>
              </div>
            </div>
            <%=f.input :company, label: false, placeholder: "Company Name" %>
            <%=f.input :position, label: false, placeholder: "Position" %>
            <%=f.input :main_contractor, label: "Main Contractor?" %>
          </div>
        </div>
        <div class="box-footer">
          <%=f.submit 'Save Contractor', class: 'btn btn-primary pull-right' %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
