<div class="col-md-12">
  <div class="card">
    <div class="header">
      <h4 class="title"> List of Contractors
        <%=link_to new_contractor_path do %>
          <span class="btn btn-primary btn-icon pull-right"><i class="fa fa-user-plus"></i> New Contractor </span>
        <% end %>
      </h4>
    </div>
    <div class="content">
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Contractor </th>
            <th>Company</th>
            <th>Position</th>
            <th> Projects
          </tr>
        </thead>
        <tbody>
          <%@contractors.each do |contractor| %>
            <tr>
              <td><%=image_tag(contractor.profile_photo.url(:thumb), class: "img-circle img-responsive") %></td>
              <td> <%=link_to contractor.full_name, contractor %></td>
              <td> <%= contractor.company %> </td>
              <td> <%= contractor.position %> </td>
              <td> <%= contractor.contracts.count %> </td>
            </tr>
          <%end %>
        </tbody>
      </table>
    </div>
    </div>
  </div>
</div>
