<div class="tab-pane active" id ='issued_materials'>
	<div class="box-header with-border">
              <div class="col-md-8">
                <label class="text-muted">Report Filter:</label>
                <%= form_tag({:action => 'show'}, {:method => :get, class: 'form-inline'}) do %>
                  <div class="form-group">
                    <%= text_field_tag :from_date, @from_date, class: 'datetimepicker form-control', placeholder: 'Date From', :as => :datetime_picker %>
                    <%= text_field_tag :to_date, @to_date, class: 'datetimepicker form-control', placeholder: 'Date To', :as => :datetime_picker %>
                    <%= select_tag :project_id, options_for_select(@contractor.projects.all.collect{ |e| [e.id_number, e.id] }), class: 'form-control', prompt: 'Select Project' %>
                    <button type="submit" class="btn btn-default" format="pdf">Generate Report</button>
                  </div>
                <% end %>
              </div>
              <div class="col-md-4">
                  <%=link_to "Print Report(PDF)", contractor_path(@contractor, format: 'pdf', :from_date => @from_date, :to_date => @to_date, :project_id => @project), class: 'btn btn-primary btn-sm pull-right' %>
              </div>
	</div>
	<div class="box-header with-border">
        <div class="row">
          <% if current_user.supply_officer? %>
            <%=link_to "Issue Materials", new_contractor_issued_inventory_path(@contractor), class: 'btn btn-sm btn-primary' %>
          <% end %>
        </div>
	</div>
	<div class="box-body">
		<div class="row">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Material</th>
							<th>Date</th>
							<th>Quantity</th>
							<th>Price</th>
							<th>Amount</th>
						</tr>
					</thead>
					<tbody>
						<% @contractor.issued_inventories.entered_on(:from_date => @from_date, :to_date => @to_date, :project_id => @project).each do |issued_inventory| %>
							<tr>
								<td><%=issued_inventory.inventory.try(:name) %></td>
								<td><%=issued_inventory.date_issued.strftime("%B %e, %Y") %></td>
								<td><%=issued_inventory.quantity %> <%=issued_inventory.inventory.unit %></td>
								<td><%=number_to_currency issued_inventory.unit_cost %></td>
								<td><%=number_to_currency issued_inventory.total_cost %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
		</div>
	</div>
</div>
<script>
  $(document).ready(function() {
      $("#project_id").select2({
          theme: "bootstrap"
      });
  });
</script>
