<div class="col-md-10 col-md-offset-1">
  <div class="box box-widget widget-user">
    <div class="widget-user-header bg-blue-active">
      <h4 class="widget-user-username">Contractors
      <span class="pull-right">
        <%=link_to new_contractor_path, class: "btn btn-default bg-blue-active pull-right" do %><i class="fa fa-user-plus"></i> New Contractor <%end%>
      </span>
    </h4>
    </div>
    <div class="box-footer">
      <div class="row">
        <div class="col-sm-12 border-right">
          <div>
            <% @contractors.main_contractors.each do |contractor| %>
              <div class="row">
                <div class="col-md-2 col-md-offset-1  col-sm-3 col-xs-3">
                  <%= image_tag attachment_url(contractor, :profile_image, :fill, 60, 60, format: "jpg", fallback: "default-small.png"),  class: "img-square" %>
                </div>
                <div class="col-md-7 col-sm-9 col-xs-9">
                  <h4><%= link_to contractor.full_name.upcase, contractor %></h4>
                  <span class="pull-right"><%=contractor.contracts.count %> Projects </span>
                  <span class="help-block"><%=contractor.company %></span>
                </div>
              </div>
              <hr />
            <% end %>

            <% @contractors.sub_contractors.each do |contractor| %>
              <div class="row">
                <div class="col-md-2 col-md-offset-1  col-sm-3 col-xs-3">
                  <%= image_tag attachment_url(contractor, :profile_image, :fill, 60, 60, format: "jpg", fallback: "default-small.png"),  class: "img-circle" %>
                </div>
                <div class="col-md-7 col-sm-9 col-xs-9">
                  <h4><%= link_to contractor.full_name.upcase, contractor %></h4>
                  <span class="pull-right"><%=contractor.contracts.count %> Projects </span>
                  <span class="help-block"><%=contractor.company %></span>
                </div>
              </div>
              <hr />
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>