<div class="col-md-12">
  <div class="box box-solid">
    <div class="box-body">
      <div class="col-md-3">
        <div class="box-body box-profile">
          <%= image_tag attachment_url(@contractor, :profile_image, :fill, 60, 60, format: "jpg", fallback: "default.png"),  class: "profile-user-img img-responsive img-circle" %>
          <h3 class="profile-username text-center"><%=@contractor.full_name %></h3>
          <p class="text-muted text-center"><%=@contractor.company %></p>
        </div>
      </div>
      <div class="col-md-9 border-left">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#activity" data-toggle="tab">Activity</a></li>
          <li><a href="#projects" data-toggle="tab">Projects</a></li>
          <li><a href="#billings" data-toggle="tab">Billings</a></li>
          <li><a href="#settings" data-toggle="tab">Settings</a></li>
        </ul>
        <div class="tab-content">
          <%#=render 'timeline' %>
          <%=render 'projects' %>
          <%=render 'issued_materials' %>
        </div>
      </div>
    </div>
  </div>
</div>