<div class="col-md-12">
  <div class="card">
    <div class="header">
      <div class="row">
        <div class="col-md-2">
          <h5 class="title" title="Back to Project" data-toggle="tooltip" data-placement="bottom"> <%=link_to (image_tag 'left_arrow.png', height: 40, width: 40, class: "img-circle"), monitoring_project_path(@contract.project) %>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-2 col-xs-2">
              <%=image_tag(@contract.contractor.profile_photo.url(:thumb), class: 'img-circle') %>
            </div>
            <div class="col-md-10">
              <%=@contract.contractor %><br>
              <%=@contract.contractor.full_name %>
            </div>
          </div>
        </div>
        <div class="col-md-4">
         Amount: <%=number_to_currency @contract.amount_subcontracted %>
        </div>
      </div>
      <hr>
    </div>
    <div class="content">
      <%=@contract.project.name.truncate(200) %><br>
      <%=number_to_currency @contract.project.cost %>
      <div class="modal-footer">
        <%=link_to edit_monitoring_contract_path(@contract) do %>
          <span class="btn btn-warning btn-icon" data-toggle="tooltip" data-placement="top" title="Edit Contract"><i class="fa fa-pencil"></i></span>
        <% end %>
      </div>
    </div>
  </div>
</div>
