<div class="row">
<div class="col-md-8 col-md-offset-3">
  <!-- Widget: user widget style 1 -->
  <div class="box box-widget widget-user">
    <!-- Add the bg color to the header using any of the bg-* classes -->
    <div class="widget-user-header bg-red-active">
      <h3 class="widget-user-username">New Expense | <%=@project.name %></h3>
    </div>
    <div class="box-footer">
      <div class="row">
        <div class="col-sm-12 border-right">
          <div>
                 

 <%= simple_form_for [@project, @entry], url: project_expenses_path, html: { class: 'form-horizontal' },
                            wrapper: :horizontal_form,
                            wrapper_mappings: {
                            check_boxes: :vertical_radio_and_checkboxes,
                           radio_buttons: :vertical_radio_and_checkboxes,
                            file: :horizontal_file_input,
                            boolean: :horizontal_boolean
                            } do |f| %> 
<%=f.error_notification %>
<div class="row">
  <div class="col-md-2">
  </div> 
  <div class="col-md-9">
<%=f.input :description, as: :text %>
<%=f.simple_fields_for :credit_amounts do |d| %>
<%=d.input :amount, as: :string %>
<div class="row">
<div class="col-md-4 col-md-offset-4">
<%=d.input :account, collection: Plutus::Asset.all.pluck(:name), as: :radio_buttons, label: false, checked: "Cash", input_html: {value: "Cash"}, as: :hidden %>
 
</div>
</div> 
<% end %>
<h4>Expense Account:</h4>
<%=f.simple_fields_for :debit_amounts do |c| %>
<%=c.input :amount,  read_only: true, as: :hidden %> 
<div class="row">
<div class="col-md-4 col-md-offset-4">
<%=c.input :account, collection: Plutus::Expense.all.pluck(:name), as: :radio_buttons, label: false %>
</div>
</div>
<% end %>
</div>
</div>
<div class="modal-footer">
<%=f.submit "Record Expense", class: "btn btn-danger" %>

</div>
<% end %>
