<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <h4 class="title">Expenses Activity
        </h4>
        <div class="row"><hr></div>
      </div>
      <div class="content">

        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
          <li>
            <%= link_to accounting_employee_expenses_path do %>
              <span class="tab-icon"><%=image_tag("contractor.png", height: '30', width: '30') %></span><span class="tab-caption"> Employee</span>
            <% end %>
          </li>
          <li>
            <%= link_to accounting_project_expenses_path do %>
              <span class="tab-icon"><%=image_tag("project_icon.png", height: '30', width: '30', class: 'img-circle') %></span><span class="tab-caption"> Project</span>
            <% end %>
          </li>
          <li class="active">
            <%= link_to accounting_equipment_expenses_path do %>
              <span class="tab-icon"><%=image_tag("equipment_cost.png", height: '30', width: '30') %></span><span class="tab-caption"> Equipment</span>
            <% end %>
          </li>
          <li>
            <a href="#green" data-toggle="tab">
              <span class="tab-icon"><%=image_tag("plus.png", height: '30', width: '30') %></span><span class="tab-caption"> Others</span>
            </a>
          </li>
        </ul>
        <div id="my-tab-content" class="tab-content">
          <%= render 'index' %>
        </div>
      </div>
    </div>
  </div>
</div>
