
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="header">
        <h4 class="title"> Entries Filter</h4>
        <div class="row"><hr></div>
      </div>
      <div class="content">
        <%= form_tag({:action => 'index'}, {:method => :get}) do%>
          <div class="form-group">
            <%= label_tag :from_date, nil%>
            <%= text_field_tag :from_date, @from_date, :class => 'datetimepicker form-control border-input ', :placeholder => "Date" %>
          </div>
          <div class="form-group">
            <%= label_tag :to_date, nil%>
            <%= text_field_tag :to_date, @to_date, :class => 'form-control border-input datetimepicker', :placeholder => "Date" %>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary active">Get Report</button>
            <%=link_to "View (PDF)", accounting_petty_cash_index_path(format: 'pdf', from_date: @from_date, to_date: @to_date), class: "btn btn-default pull-left"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="header">
      </div>
      <div class="content">
        <div class="row">
        <div class="col-md-4">
          <h4 class="title"><span class="text-success"><center><%=number_to_currency @petty_cash.debits_balance(from_date: @from_date, to_date: @to_date) %></center></span></h4>
          <span class="text-success"><small><center> DEBITS </center></small></span>
        </div>
        <div class="col-md-4">
          <h4 class="title"><center class="text-danger"><%=number_to_currency @petty_cash.credits_balance(from_date: @from_date, to_date: @to_date) %> </center></h4>
          <span class="text-danger"><small><center>CREDITS</center></small></span>
        </div>
        <div class="col-md-4">
          <h4 class="title"><center class="text-primary"><%=number_to_currency @petty_cash.balance(from_date: Time.zone.now.beginning_of_year, to_date: @to_date) %> </center></h4>
          <span class="text-primary"><small><center> BALANCE </center></small></span>
        </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="header">
        <h4 class="title">Credit Transactions
          <span class="pull-right">
            <%=link_to new_accounting_petty_cash_disbursement_path(@petty_cash) do %>
              <span class="btn btn-danger btn-icon-sm pull-right" data-toggle="tooltip" data-placement="bottom" title="New Disburement"><i class="fa fa-plus"></i></span>
            <% end %>
          </span>
        </h4>
        <div class="row"><hr></div>
      </div>
      <div class="content">
        <table class="table table-hover">
          <thead>
            <tr>
              <th> Description </th>
              <th> Recipient </th>
              <th> Amount </th>
              <th> Date </th>
            </tr>
          </thead>
          <tbody>
            <% Account.find_by_name("Petty Cash").credit_entries.order(:date).reverse.each do |disbursement| %>
              <tr>
                <td><%=link_to truncate(disbursement.description, length: 35), accounting_entry_path(disbursement), data: {toggle: 'tooltip', placement: 'bottom'}, title: disbursement.description %></td>
                <td><%=disbursement.entriable.try(:name) %> </td>
                <td><%=number_to_currency disbursement.credit_amounts.sum(:amount) %></td>
                <td><%=disbursement.date.strftime("%B %e, %Y")%></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="modal-footer">
          <center><%= paginate @disbursements, :window => 1 %></center>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="header">
        <h4 class="title">Debit Transactions
          <span class="pull-right">
            <%=link_to new_accounting_petty_cash_fund_transfer_path(@petty_cash) do %>
              <span class="btn btn-primary btn-icon-sm pull-right" data-toggle="tooltip" data-placement="bottom" title="New Fund Transfer"><i class="fa fa-plus"></i></span>
            <% end %>
          </span>
        </h4>
        <div class="row"><hr></div>
      </div>
      <div class="content">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Amount</th>
              <th>Account</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <% Account.find_by_name("Petty Cash").debit_entries.order(:date).reverse.each do |fund_transfer| %>
              <tr>
                <td><%=number_to_currency fund_transfer.credit_amounts.sum(:amount) %></td>
                <td><%=fund_transfer.credit_amounts.last.account.name %></td>
                <td><%=fund_transfer.date.strftime("%B %e, %Y") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="modal-footer">
          <center><%= paginate @fund_transfers, :window => 1 %></center>
        </div>
      </div>
    </div>
  </div>
</div>
