<div class="col-md-6 col-md-offset-3">
	<div class="box box-solid card">
		<div class="box-header with-border">
			<h4><center>Pay Slip Detail</center></h4>
			<span><center><%=Time.zone.now.strftime("%B %e, %Y") %></center></span>
		</div>
		<div class="box-header with-border">
			<div class="row">
				<div class="col-md-6">
					<h5 class="text-muted">EMPLOYEE INFO</h5>
					<p><%=@employee.full_name %><br>
					<span class"text-muted"><%=@employee.position.titleize %></span></p>
				</div>
				<div class="col-md-6">
					<h5 class="text-muted">PAY PERIOD</h5>
					<% if @employee.worked_days.unpaid.present? %>
						<p>
							<%=@employee.worked_days.unpaid.first.created_at.strftime("%B %e") %> - <%= @employee.worked_days.unpaid.last.created_at.strftime("%B %e, %Y") %>
						</p>
					<% else %>
						<h5>No Unpaid Worked Days </h5>
					<% end %>
				</div>
			</div>
		</div>
		<div class="box-header with-border">
			<h5 class="text-muted">Days Worked<span class="pull-right"><%=@employee.unpaid_worked_days%> Days </span></h5>
			<h5 class="text-muted">Rate <span class="pull-right"><%=number_to_currency @employee.rate%></span></h5>
		</div>
		<div class="box-header with-border">
			<h5>Earned Income <span class="pull-right"><%=number_to_currency @employee.unpaid_worked_days_amount %></span></h5>
			<hr>
			<h5>Deductions </h5>
			<div class="col-md-12">
				<h5 class="text-danger">Cash Advances <span class="pull-right"> - <%=number_to_currency @employee.unpaid_cash_advances %></span></h5>
			</div>
		</div>
		<div class="box-header with-border">
			<h5 class="text-muted">Gross Pay<span class="pull-right"><%= number_to_currency @employee.total_gross_pay %></span>
			</h5>
		</div>
		<div class="box-header">
			<%=simple_form_for [@employee, @payment] do |f| %>
				<%=f.input :amount,	input_html: {value: @employee.total_gross_pay, class: "input-lg text-right" }, as: :hidden  %></h3>
				<label class="text-muted">Date: </label>
				<%=f.input :date, label: false, as: :string, input_html:{class: "datepicker input-sm"} %>
				<div class="modal-footer">
					<%=f.submit "Pay Employee", class: "btn btn-primary" %>
				</div>
			<% end %>
		</div>
	</div>
</div>
