
<div class="row">
  <div class="col-lg-3 col-sm-6">
    <div class="card">
      <div class="content">
        <h5 class="title"><%=image_tag("cash_on_hand.png", height: '55', width: '55') %>
          <p class="pull-right">Cash on Hand</p>
        </h5>
        <div class="numbers">
          <small><%=number_to_currency Account.find_by_name("Cash on Hand").balance %></small>
        </div>
        <div class="footer">
          <hr>
          <div class="stats">
            <% if Account.find_by_name("Cash on Hand").entries.any? %>
              <i class="fa fa-user"></i> <small>Updated <%=time_ago_in_words(Account.find_by_name("Cash on Hand").entries.last.date) %> ago </small>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="card">
      <div class="content">
        <h5 class="title"><%=image_tag("cash_in_bank.png", height: '55', width: '55') %>
          <p class="pull-right">Cash in Bank</p>
        </h5>
        <div class="numbers">
          <small><%=number_to_currency Project.all.map{|a| a.total_payments}.sum %></small>
        </div>
        <div class="footer">
          <hr />
          <div class="stats">
            <i class="ti-calendar"></i> Last day
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="card">
      <div class="content">
        <h5 class="title"><%=image_tag("atm-in.png", height: '55', width: '55') %>
          <p class="pull-right">Accounts<br>Receivable</p>
        </h5>
        <div class="numbers">
          <small><%=number_to_currency Account.find_by_name("Accounts Receivable-Trade").balance %></small>
        </div>
        <div class="footer">
          <hr />
          <div class="stats">
            In the last hour
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="card">
      <div class="content">
        <h5 class="title"><%=image_tag("atm-out.png", height: '55', width: '55') %>
          <p class="pull-right">Accounts<br>Payable</p>
        </h5>
        <div class="numbers">
          <small><%=number_to_currency Account.find_by_name("Accounts Payable-Trade").balance %></small>
        </div>
        <div class="footer">
          <hr />
          <div class="stats">
            <i class="ti-reload"></i> Updated now
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="content">
        <%=render 'accounting/entries/entries' %>
        <div class="footer">
          <div class="chart-legend">
            <i class="fa fa-circle text-success"></i> Debit
            <i class="fa fa-circle text-danger"></i> Credit
          </div>
          <hr>
          <div class="stats">
            <% if WorkAccomplishment.any? %>
              <i class="fa fa-server"></i> Updated <%=time_ago_in_words(WorkAccomplishment.last.created_at.to_date) %> ago
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
