<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="card">
      <div class="header">
        <h4 class="title"> Restock Inventory </h4>
        <hr>
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-5">
            <div class="col-md-10">
              <h5 class="title"><%=@inventory.name %></h5>
              <hr>
              <label class="text-muted">Price</label><br>
              <h5 class="title"><%=number_to_currency @inventory.price %></h5>
              <hr>
              <label class="text-muted">Remaining Quantity</label><br>
              <h5 class="title"><%=@inventory.quantity %> <%=@inventory.unit %></h5>
            </div>
          </div>
          <div class="col-md-6">
            <div class="col-md-10 col-md-offset-2">
              <%=simple_form_for [@inventory, @stock] do |f| %>
                <%=f.error_notification %>
                <%= f.input :date, as: :string, input_html: {class: "datetimepicker"} %>
                <%= f.input :quantity, label: 'Enter Quantity' %>
                <div class="modal-footer">
                  <%= link_to "Cancel", supplies_inventories_path, class: 'btn btn-xs btn-warning pull-left' %>
                  <%= f.submit "Save Stock", class: "btn btn-primary" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
