<div class="tab-pane" id="billings">

  <%=link_to new_project_billing_path(@project), class: "btn btn-danger" do %><i class="fa fa-plus-circle"></i> New Billing <%end%>
<hr>
<% @project.billings.each do |billing| %>
<div class="row">
  <div class="col-md-1">
    <%=billing.created_at.strftime("%D") %>
  </div>
  <div class="col-md-5">
  <h4><%=billing.contractor %></h4>
  <span class="help-block"><%=billing.quantity %> <%=billing.inventory.unit %> <%=billing.inventory.name %></span>


</div>
<div class="col-md-5">
  <h4>
  <span class="pull-right">  <%=number_to_currency billing.cost %></span>
</h4>
</div>
</div>

<% end %>
</div><!-- /.tab-pane -->
