<div class="col-md-8 col-md-offset-1">
  <!-- Widget: user widget style 1 -->
  <div class="box box-widget widget-user">
    <!-- Add the bg color to the header using any of the bg-* classes -->
    <div class="widget-user-header bg-blue-active">
      <h3 class="widget-user-username">New Billing</h3>
    </div>
    <div class="box-footer">
      <div class="row">
        <div class="col-sm-12 border-right">
          <div>
                  <%= simple_form_for [@project, @billing] do |f| %>
<%=f.error_notification %>
<div class="row">

  <div class="col-md-5 col-md-offset-1">
  <%=f.input :contractor_id, collection: @project.contractors, prompt: "Please select Contractor:" %>
      </div>
      <div class="col-md-6">
      </div>
      </div>
      <hr>
<div class="row">
<div class="col-md-3 col-md-offset-1">
<%=f.association :inventory, collection: Inventory.all, prompt: "Please select Inventory:" %>
</div>

<div class="col-md-2">
<%=f.input :quantity, as: :string %>
 </div>
 </div>

<div class="modal-footer">
<%=f.submit "Record Billing", class: "btn btn-primary" %>
</div>
<% end %>
</div>
