<div class="col-md-4">
<div class="box box-solid">
<%= simple_form_for [@contractor, @issued_inventory], url: :contractor_issued_inventories do |f| %>
<%=f.error_notification %>
  <div class="well">
    <h4>Details</h4>
    <hr>
  
    <%=f.input :inventory_id, label: false, collection: Inventory.all, prompt: "Select Item", input_html: {style: 'width:100%'} %>
    <%=f.input :date_issued, as: :string, input_html:{class: "datetimepicker"} %>
    <%=f.input :quantity, label: false, placeholder: 'Quantity', input_html:{id: "quantity", oninput: "calculate()"} %>
    <%=f.input :unit_cost, label: false, placeholder: 'Inventory Cost', input_html:{id: "unit_price", value: :inventory_cost, oninput: "calculate()"}  %>
    <%=f.input :total_cost, label: false,  placeholder: 'Total Cost', readonly: true ,  input_html:{id: "amount"}%>
    <div class="row">
      <div class="modal-footer">
        <%=f.submit "Issue Inventory", class: "btn btn-primary" %>
        <hr>
        <%=link_to "I'm done issuing inventories", inventories_path %>
      </div>
    </div>
  </div>
<% end %>
<script>
    $(document).ready(function() {
        $("#issued_inventory_inventory_id").select2({
            theme: "bootstrap"
        });
    });
</script>
