<div class="row">
	<div class="col-md-6">
		<div class="card">
			<div class="header">
				<div class="row">
					<div class="col-md-5">
						Issued Materials to Projects</h4>
					</div>
					<div class="col-md-7">
						<%=form_tag supplies_reports_path, class: 'sidebar-form', method: :get do %>
				      <div class="input-group">
				        <%=text_field_tag :name, params[:name], class: 'form-control border-input', placeholder: 'Search Project...' %>
				        <span class="input-group-btn">
				          <%= button_tag(type: 'submit', class: "btn btn-flat") do %>
				            <i class="fa fa-search"></i>
				          <% end %>
				        </span>
				      </div>
				    <% end %>
				  </div>
				</div>
				<hr>
			</div>
			<div class="content">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Project Name</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<% @projects.all.each do |project| %>
							<tr>
								<td><%=project.name.truncate(200) %></td>
								<td><%=link_to "Print Report", monitoring_project_line_items_path(project, format: 'pdf') %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card">
			<div class="header">
				<div class="row">
					<div class="col-md-5">
						<h4 class="title">Issued Materials to Contractors</h4>
					</div>
					<div class="col-md-7">
						<div class="pull-right">
							<%=form_tag supplies_reports_path, class: 'sidebar-form', method: :get do %>
					      <div class="input-group">
					        <%=text_field_tag :contractor_name, params[:contractor_name], class: 'form-control border-input', placeholder: 'Search Project...' %>
					        <span class="input-group-btn">
					          <%= button_tag(type: 'submit', class: "btn btn-flat") do %>
					            <i class="fa fa-search"></i>
					          <% end %>
					        </span>
					      </div>
					    <% end %>
					  </div>
				  </div>
				 </div>
			</div>
			<div class="content">
				<table class="table table-hover">
					<% @contractors.all.each do |contractor| %>
						<tr>
							<td><%=contractor.name %></td>
							<td><%=link_to "Print Report", contractor_line_items_path(contractor, format: 'pdf') %></td>
						</tr>
					<% end %>
				</table>
			</div>
		</div>
	</div>
</div>
