<div class="container">
<div class="box box-solid">
<div class="box-header with-border">
<h4>New Worker Details</h4>
</div>
<div class="box-body">
<%=simple_form_for @worker  do |f| %>
<%=f.error_notification %>
<div class="col-md-5">

      <%if @worker.photo.blank? %>
        <%=image_tag("default.png", :class=>"img-square center-block ") %>
        <br>
        <% else %>
        <%= image_tag attachment_url(@worker, :profile_image, :fill, 150, 150), class: 'center-block img-responsive img-rounded'%>
        <% end %>
        <%= f.file_field :photo, class: 'center-block'%>

</div>
<div class="col-md-6">
<p>Full Name:</p>
<div class="row">
<div class="col-md-5">
<%=f.input :first_name, label: false, placeholder: "First Name" %>
</div>
<div class="col-md-2">
<%=f.input :middle_name, label: false, placeholder: "M.I." %>
</div>
<div class="col-md-5">
<%=f.input :last_name, label: false, placeholder: "Last Name" %>
</div>
</div>
<%=f.input :position, collection: Worker.positions.keys.to_a.map{|a| [a.titleize, a]}, prompt: "Please Select Position" %>
<%=f.input :mobile_number %>
<%=f.input :address %>
<%=f.input :email %>
<%=f.input :birth_date, as: :string, input_html:{:class => 'datepicker'} %>
<%=f.input :sex, collection: Worker.sexes.keys.to_a.map{|a| [a.titleize, a]}, prompt: "Please Select Gender" %>

<div class="modal-footer">
<%=f.submit "Save Worker", class: "btn btn-primary bg-blue-active" %>
</div>
<% end %>
</div>


