<div class="container">
    <div class="box box-solid">
      <div class="box-header with-border bg-gray-light">
        <h4> List of Workers
       <span class="pull-right"><%=link_to new_worker_path, class: "btn btn-default bg-blue" do %><i class="fa fa-user-plus"></i> Add a New Worker <%end%></span>
        </h4>
      </div>
      <div class="box-body">

      <hr>
      <div class="table table-responsive">
      <table class="table table-hover">
      <thead>
        <tr class="text-uppercase">
         <th style="width: 5%"></th>
          <th>Name</th>
          <th>Mobile Number</th>
          <th>Position</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
      <% @workers.each do |worker| %>
      <td><%= image_tag attachment_url(worker, :photo, :fill, 40, 40, fallback: "default-small.png"),  class: "img-rounded" %>
    </td>
        <td><%=link_to worker.full_name.upcase %>
        </td>
        <td><%=worker.mobile_number %></td>
        <td><%=worker.position %></td>

          </tr>
</tbody>
      <% end %>
      </table>
      </div>
    </div>
  </div>




