<div class="col-md-6 col-md-offset-3">
  <div class="card">
    <div class="header">
      <div class="row">
        <div class="col-md-3">
          <span data-toggle="tooltip" data-placement="right" title="Back to Project">
            <%=link_to (image_tag 'left_arrow.png', height: 40, width: 40, class: "img-circle"), monitoring_project_path(@project)  %>
          </span>
        </div>
        <div class="col-md-9">
          <p><%=@project.name %></p>
        </div>
      </div>
      <hr>
    </div>
    <div class="content">
      <h5 class="title"><%=image_tag("calendar.png", height: 30, width: 30) %> Time Extension Details
        <span class="pull-right"><%=link_to "New Time Extension", new_monitoring_project_time_extension_path(@project), class: "btn btn-primary" %>
      </h5>
      <hr>
      <%=render @project.time_extensions %>
    </div>
  </div>
</div>
