<%=simple_form_for [:monitoring, @project, @time_extension], url: :monitoring_project_time_extensions do |f| %>
  <div class="col-md-5 col-md-offset-3">
    <div class="card">
      <div class="header">
        <h5 class="title"> Time Extension Details </h5>
        <div class="row"><hr></div>
      </div>
      <div class="content">
        <%=f.input :number_of_days %>
        <%=f.input :date, as: :string, input_html: { class: "datetimepicker" } %>
        <%=f.input :remarks, as: :text %>
        <div class="modal-footer">
          <%= link_to 'Cancel', monitoring_project_path(@project), class: 'btn btn-xs pull-left' %>
          <%=f.submit "Save", class: "btn btn-success", data: { disable_with: "Saving..."} %>
        </div>
      </div>
    </div>
  </div>
<% end %>
