<%= simple_form_for @entry, url: :accounting_petty_cash_fund_transfers do |f| %>
      <%=f.error_notification %>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="card">
      <div class="header">
        <h4 class="title"> Fund Transfer Details </h4>
        <hr>
      </div>
      <div class="content">
      
        <%= f.input :date, as: :string, input_html: { class: 'datetimepicker'}, label: "Date" %>

        <%=f.input :reference_number %>
        <%=f.input :entriable_type, input_html: { value: "Employee" }, as: :hidden %>
        <%=f.input :entriable_id, input_html: { value: Employee.find_by(first_name: "Joydee", last_name: "Ngayawon").id }, as: :hidden  %>
        <%=f.simple_fields_for :debit_amounts do |c| %>
          <%=c.input :amount,  read_only: true, input_html: { id: "accounting_entry_debit_amounts_attributes_0_amount"} %>
          <%=c.input :account, input_html: { value: "Petty Cash" }, readonly: true %>

        <% end %>
        <%=f.simple_fields_for :credit_amounts do |d| %>
          <%=d.input :amount, input_html:{autocomplete: "off", id: "accounting_entry_credit_amounts_attributes_0_amount"}, as: :hidden %>
          <%=d.input :account, collection: Account.fund_transfer_sources.map{|a| [a.name.titleize, a.name]}, as: :radio_buttons %>
        <% end %>
        <%=f.input :description, as: :text, placeholder:"Describe the transaction e.g. Check Number if Cash from Bank" %>
        <div class="modal-footer">
          <%= link_to "Cancel", accounting_petty_cash_index_path, class: 'btn btn-default btn-xs pull-left' %>
          <%=f.submit "Save Fund Transfer", data: {disable_with: 'Transfering Fund...'}, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  </div>
</div>

<% end %>