<ul class="list-unstyled team-members">
  <li id="current_item">
    <div class="row">
      <div class="col-xs-2">
          <%=line_item.quantity %> <%=line_item.inventory.unit %>
      </div>
      <div class="col-xs-5">
        <%=line_item.inventory.name%>
        <br />
        <span class="text-muted"><small><%=number_to_currency line_item.unit_cost %></small></span>
      </div>
      <div class="col-xs-3 text-right">
        <%=number_to_currency line_item.total_price %>
      </div>
      <div class="col-xs-2 pull-right">
        <%=link_to line_item, method: :delete, confirm: 'Are you sure?' do %>
        <span class="btn btn-danger btn-icon-sm" data-toggle="tooltip" title="Remove Item"><i class="fa fa-times"></i> </span>
        <% end %>
      </div>
    </div>
  </li>
</ul>

