<ul class="list-unstyled team-members">
  <li id="current_item">
    <div class="row">
      <div class="col-xs-2">
          <%=number_to_currency amount_revision.amount %>
      </div>
      <div class="col-xs-6">
        <%=amount_revision.remarks%>
        <br />
        <span class="text-muted">
          <small><i class="fa fa-clock-o"></i> <%=amount_revision.date.strftime("%B %e, %Y") %></small><br>
          <%=image_tag(amount_revision.recorder.profile_photo.url(:small), class: "img-circle") if amount_revision.recorder %>
          <%=amount_revision.recorder.full_name  if amount_revision.recorder %>
        </span>
      </div>
      <div class="col-xs-2 text-right">
      </div>
    </div>
  </li>
</ul>
