<%@work_details.each do |work_detail| %>
  <tr>
    <td><%=work_detail.code %></td>
    <td><p><%=link_to work_detail.description, monitoring_work_detail_path(work_detail) %></p></td>
    <td>
      <span><%=work_detail.quantity %> <%=work_detail.unit %></span>
    </td>
    <td><%=number_to_currency work_detail.unit_cost %>
    </td>
    <td>
      <span class="text-success"><%=work_detail.accomplished_quantity %></span>
    </td>
    <td>
      <span class="text-danger"><%=work_detail.remaining_quantity %></span>
    </td>
    <td>
      <span>
        <% if work_detail.work_accomplishments.present? %>
          <%=number_to_currency work_detail.actual_accomplishment_percent, unit: '' %> %
        <% else %>
          0
        <% end %>
      </span>
    </td>
    <td><%= number_to_currency work_detail.total_cost %></td>
    <td><%= link_to "Edit", edit_monitoring_work_detail_path(work_detail), remote: true, class: "btn btn-default" %></td>
  </tr>
<% end %>
