<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">New Work Detail</h4>
    </div>
    <%= simple_form_for [:monitoring, @project, @work_detail], remote: true do |f| %>
    <%=f.error_notification %>
      <div class="modal-body">
        <ul class="errors text-danger">
        </ul>
        <div class="row">
          <div class="col-md-4">
            <%=f.input :code,  placeholder: 'Code' %>
          </div>
          <div class="col-md-8">
            <%=f.input :description, placeholder: 'Description' %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <%=f.input :unit, placeholder: 'Unit' %>
          </div>
          <div class="col-md-4">
            <%=f.input :quantity,  placeholder: 'Quantity', input_html: {id: "work_detail_quantity", oninput: "calculateWorkDetailCost()"} %>
          </div>
          <div class="col-md-4">
            <%=f.input :unit_cost,  placeholder: 'Unit Cost', input_html: {id: "work_detail_unit_cost", oninput: "calculateWorkDetailCost()"}  %>
          </div>
        </div>

        <%=f.input :total_cost,  placeholder: 'Total Cost', readonly: true ,  input_html: {id: "work_detail_total_cost"}%>
      </div>
      <div class="modal-footer">
        <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
        <%=f.submit "Save", class: "btn btn-primary pull-right" %>
      </div>
    <% end %>
  </div>
</div>
