<div class="col-md-12">
  <div class="card">
    <div class="header">
      <%=link_to monitoring_project_path(@project) do %>
      <span class="btn btn-default btn-icon btn-sm" data-toggle="tooltip" data-placement="right" title="Back to Project"> <i class="fa fa-chevron-left"> </i> </span>
      <% end %>
    </div>
    <div class="content">
      <div class="row">
        <div class="col-md-7">
          <div class="box-header with-border">
          </div>
          <table class="table table-hover">
            <thead>
              <tr class="text-uppercase">
                <th style="width: 60%">Description</th>
                <th><span class="pull-right">Cost</span></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% if @project.work_details.present? %>
                <% @project.work_details.each do |work_detail| %>
                  <tr>
                    <td style="width: 30%" ><%= work_detail.description %></td>
                    <td><span class="pull-right"><%=number_to_currency work_detail.total_cost %></span></td>
                  </tr>
                <% end %>
                <tr>
                  <td><h4 class="title pull-right">Total Cost: </h4></td>
                  <td><h4 class="pull-right"><%= number_to_currency @project.work_details.total%></h4></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="col-md-4">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
