<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="header">
        <div class="row">
          <div class="col-md-2 col-xs-2">
            <h5 class="title" title="Back to Project" data-toggle="tooltip" data-placement="bottom"> <%=link_to (image_tag 'left_arrow.png', height: 40, width: 40, class: "img-circle"), monitoring_project_path(@work_detail.project) %>
          </div>
          <div class="col-md-7 col-xs-7">
            <%=@work_detail.description %></h5>
          </div>
          <div class="col-md-3 col-xs-3">
            <span class="pull-right">
              <%=image_tag("prize.png", height: 25, width: 25)%>
              <%=number_to_currency @work_detail.actual_accomplishment_percent, unit: '' %> %
            </span>
          </div>
        </div>
        <hr>
      </div>
      <div class="content">
        <ul class="list-unstyled team-members">
          <li>
            <div class="row">
              <div class="col-md-2">
              </div>
              <div class="col-md-6 text-success">
                <%=image_tag("check_icon.png", height: 30, width: 30, class: "img-square" )%> &nbsp; Accomplished
              </div>
              <div class="col-md-4">
                90
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-md-2">
              </div>
              <div class="col-md-6 text-danger">
                <%=image_tag("remaining.png", height: 30, width: 30, class: "img-square" )%>  &nbsp; Remaining
              </div>
              <div class="col-md-4">
                67
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <%=link_to "Update", edit_monitoring_work_detail_path(@work_detail), class: "btn btn-warning btn-block" %>
        </div>
      </div>
      <br>
    </div>
    <div class="card">
      <div class="header">
        <h5 class="title"> Amount Revisions
          <%=link_to new_monitoring_work_detail_amount_revision_path(@work_detail), title: "New Amount Revision" do %>
            <span class="btn btn-danger btn-icon pull-right" data-toggle="tooltip" data-placement="bottom" title="New Amount Revision"><i class="fa fa-plus"></i></span>
          <% end %>
        </h5>
        <hr>
      </div>
      <div class="content">

      </div>
    </div>
    <div class="card">
      <div class="header">
        <h5 class="title"> Time Extensions
          <%=link_to new_monitoring_work_detail_time_extension_path(@work_detail), title: "New Time Extension" do %>
            <span class="btn btn-danger btn-icon pull-right" data-toggle="tooltip" data-placement="bottom" title="New Time Extension"><i class="fa fa-plus"></i></span>
          <% end %>
        </h5>
        <hr>
      </div>
      <div class="content">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="header">
        <h5 class="title">
          <%=image_tag("reporting.png", height: 35, width: 35 )%> Accomplishments
          <%=link_to new_monitoring_work_detail_work_accomplishment_path(@work_detail), title: "New Work Accomplishment" do %>
            <span class="btn btn-primary btn-icon pull-right" data-toggle="tooltip" data-placement="bottom" title="New Work Accomplishment"><i class="fa fa-plus"></i></span>
          <% end %>
        </h5>
        <hr>
      </div>
      <div class="content">
        <% @work_detail.work_accomplishments.each do |accomplishment| %>
          <ul class="list-unstyled team-members">
            <li>
              <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3">
                  <br>
                    <%=accomplishment.quantity %> <%=accomplishment.work_detail.unit %></span>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <small class="text-muted pull-right"><i class="fa fa-clock-o"></i><%=accomplishment.date_accomplished.strftime("%B %e, %Y") %></small><br>
                  <%=accomplishment.remarks %><br>
                  <small class="text-muted" data-toggle="tooltip" title="<%=accomplishment.recorder.full_name if accomplishment.recorder %>">
                    <%=image_tag(accomplishment.recorder.profile_photo.url(:small), height: 30, width: 30, class: "img-circle") if accomplishment.recorder %>
                    <%=accomplishment.recorder.full_name if accomplishment.recorder %>
                  </small>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">

                </div>
              </div>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
