
  
<div class="row">

  <div class="col-md-4">
  
    <div class="card">
      <div class="header">
        <div class="row">
          <div class="col-md-2">
            <%=link_to (image_tag 'left_arrow.png', height: 40, width: 40, class: "img-circle", title: "Back to Project", data: {toggle: "tooltip", placement: "bottom"}), monitoring_project_path(@work_detail.project) %>
          </div>
          <div class="col-md-8">
            <h5 class="text-center"><%=@work_detail.description.upcase %></h5>
            <h5 class="text-success text-center"><%=number_to_currency @work_detail.actual_accomplishment_percent, unit: '' %> % </h5>
          </div>
          <div class="col-md-2">
          </div>
        </div>
        <div class="row"><hr class="no-top-padding"></div>
      </div>
      <div class="content">
        <ul class="list-unstyled team-members">
          <li>
            <div class="row">
              <div class="col-md-8 text-success">
                <%=image_tag("check_icon.png", height: 30, width: 30, class: "img-square" )%> &nbsp; Accomplished
              </div>
              <div class="col-md-4">
                <%=@work_detail.accomplished_quantity %> <%=@work_detail.unit %>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-md-8 text-danger">
                <%=image_tag("remaining.png", height: 30, width: 30, class: "img-square" )%>  &nbsp; Remaining
              </div>
              <div class="col-md-4">
                  <%=@work_detail.remaining_quantity %> <%=@work_detail.unit %>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <%=link_to "Update", edit_monitoring_work_detail_path(@work_detail), class: "btn btn-warning btn-block" %>
        </div>
      </div>
      <br>
    </div>
    <div class="card">
      <div class="header">
        <h5 class="title"> Amount Revisions
          <%=link_to new_monitoring_work_detail_amount_revision_path(@work_detail), title: "New Amount Revision" do %>
            <span class="btn btn-danger btn-icon pull-right" data-toggle="tooltip" data-placement="bottom" title="New Amount Revision"><i class="fa fa-plus"></i></span>
          <% end %>
        </h5>
        <div class="row"><hr></div>
      </div>
      <div class="content">
        <%=render @work_detail.amount_revisions %>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="header">
        <h5 class="title">
          <%=image_tag("reporting.png", height: 35, width: 35 )%> Accomplishments
          <%=link_to new_monitoring_work_detail_work_accomplishment_path(@work_detail), title: "New Work Accomplishment" do %>
            <span class="btn btn-primary btn-icon pull-right" data-toggle="tooltip" data-placement="bottom" title="New Work Accomplishment"><i class="fa fa-plus"></i></span>
          <% end %>
        </h5>
        <div class="row"><hr></div>
      </div>
      <div class="content">
        <%=render @work_detail.work_accomplishments %>
      </div>
    </div>
  </div>
</div>
