<%=simple_form_for [@project, @equipment_cost], url: :monitoring_project_equipment_costs do |f| %>
  <%= f.error_notification %>
  <div class="col-md-8 col-md-offset-2">
    <div class="card">
      <div class="header">
        <h4 class="title"> Equipment Cost </h4>
        <div class="row"><hr></div>
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-6">
            <%=f.input :date, as: :string, input_html: { class: "date_picker" } %>
          </div>
          <div class="col-md-6">
            <%=f.input :costable_type, input_html: {value: "Equipment"}, as: :hidden %>
            <%=f.input :costable_id, collection: Equipment.all, label: "Equipment" %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <%=f.input :unit %>
          </div>
          <div class="col-md-10">
            <%=f.input :description %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <%=f.input :quantity %>
          </div>
          <div class="col-md-4">
            <%=f.input :unit_cost %>
          </div>
          <div class="col-md-4">
            <%=f.input :total_cost %>
          </div>
        </div>
        <div class="modal-footer">
          <%= link_to 'Cancel', monitoring_project_path(@project), class: 'btn btn-default pull-left' %>
          <%=f.submit "Save", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
