<%= simple_form_for [@project, @attachment_file] do |f| %>
	<div class="col-md-5 col-md-offset-4">
    <div class="box box-widget widget-user">
      <div class="widget-user-header bg-blue-active">
        <h3 class="widget-user-username">New Attachment</h3>
      </div>
			<div class="box-body">
				<div class="col-md-10 col-md-offset-1">
					<br>
	        <%= f.input :attachment_report, as: :file %>
	        <%= f.input :description, as: :text %>
	      </div>
			</div>
			<div class="box-footer">
				<div class="pull-right">
					<%= link_to "Cancel", @project, class: 'btn btn-warning' %>
					<%= f.submit 'Save Attachment', class: 'btn btn-primary' %>
				</div>
			</div>
		</div>
	</div>
<% end %>