<%=simple_form_for [@project, @labor_cost], url: :monitoring_project_labor_costs do |f| %>
<%= f.error_notification %>
  <div class="col-md-5 col-md-offset-3">
    <div class="card">
      <div class="header">
        <h4 class="title"> Labor Cost </h4>
        <div class="row"><hr></div>
      </div>
      <div class="content">
        <%=f.input :date, as: :string, input_html: { class: "date_picker" } %>
        <%=f.input :costable_type, input_html: {value: "Employee"}, as: :hidden %>
        <%=f.input :costable_id, collection: Employee.all, label: "Employee" %>
        <%=f.input :quantity, label: "Number of Days" %>
        <%=f.input :unit, input_html: { value: "Days" } %>
        <%=f.input :unit_cost %>
        <%=f.input :total_cost %>
        <div class="modal-footer">
          <%= link_to 'Cancel', monitoring_project_path(@project), class: 'btn btn-default pull-left' %>
          <%=f.submit "Save", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
