

  <div class="col-md-12">
    <div class="box box-solid">
      <div class="box-header with-border bg-gray-light">
        <h4>Expense Transactions
       <span class="pull-right"><%=link_to new_entry_path, class: "btn btn-default bg-red" do %><i class="fa fa-plus-circle"></i> New Transaction <%end%></span>
        </h4>
      </div>
      <div class="box-body">
      <span><i class="fa fa-print"></i>Print</span>
    <%= form_tag({:action => 'filtered_data'}, {:method => :get, :class => 'form-inline'}) do%>
      <div class="form-group">
      <%= label_tag :from_date, nil, class: 'sr-only'%>
      <%= text_field_tag :from_date, @from_date, :class => 'datepicker form-control', :placeholder => "Date" %>
      </div>
      <div class="form-group">
      <%= label_tag :to_date, nil, class: 'sr-only'%>
      <%= text_field_tag :to_date, @to_date, :class => 'datepicker form-control', :placeholder => "Date" %>
      </div>
      <button type="submit" class="btn btn-default">Get Report</button>
    <% end %>
      <hr>
      <div class="table table-responsive">
      <table class="table table-hover">
      <thead>
        <tr class="text-uppercase">
          <th style="width: 10%">Date</th>
          <th style="width: 30%">Payee</th>
          <th>Description</th>
          <th>Category</th>
          <th>Amount</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
      <% @expenses.each do |expense| %>
        <%expense.debit_entries.each do |entry| %>
      <% if entry.commercial_document.blank?%>
        <tr class="text-danger">
        <% else %>
        <tr>
        <% end %>
        <td><%=entry.created_at.strftime("%b %e, %Y") %></td>
        <td><%=entry.commercial_document.try(:name)  %></td>
        <td><%=entry.description %></td>
        <td><%=entry.debit_amounts.last.account.name %></td>
        <td><%=number_to_currency entry.debit_amounts.last.amount %></td>
        <td></td>
          </tr>
        <% end %>
      <% end %>
      </table>
      </div>
    </div>
  </div>
