<div class="container">
<div class="row">
<%@expenses.each do |expense| %>
<div class="col-md-4">
                <div class="box box-solid">
                 <div class="box-header">
                   <b class="text-muted"><%=expense.name%></b>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                      <table class="table with-border">
                      <%expense.debit_entries.each do |entry| %>
                         <tr>
                        <td  width="55px"><%= image_tag attachment_url(entry.owner, :profile_photo, :fill, 50, 50, format: "jpg", fallback: "default-xs-small.png"),  class: "img-circle" %>
                        <small><%=entry.owner.full_name if entry.owner.present? %></small>
                        </td>

                        <td><small class="text-danger"><b><%=entry.description %></b></small>
                        <span class="help-block text-muted"><%=number_to_currency entry.debit_amounts.last.amount %></span >
                        <span class="help-block text-muted"><%=entry.debit_amounts.last.amount %></span >

                        
                        <!-- <div class="row">
                        <div class="col-md-4">
                        <span class="help-block"> Billings </span> 
                        <small class="text-muted">900,000.00</small>
                        </div>
                        <div class="col-md-4">
                         <span class="help-block"> Paid </span>
                         <small class="text-success">100,000.00</small>
                         </div>
                         <div class="col-md-4">
                         <span class="help-block"> Remaining </span>
                         <small class="text-danger">800,000.00</small>
                         </div>
                         </div> -->
                        </td>
                        </tr>
                      <% end %>
                     </table>
                      <br>
                    </div> 
                  </div>
                </div>
<% end %>
</div>
