

<div class="row">
<div class="col-md-4 col-sm-4">
                      <div class="pad box-pane-right bg-blue-active" style="min-height: 780px">
                     
                        <h4 class="widget-user-username">Expense Accounts</h4>
                        <hr>
                        <% Plutus::Expense.all.each do |account| %>
                        <div class="row">
                        <div class="col-md-10">
                        <h5><%=account.name.upcase %>
                        <span class="pull-right"><%=number_to_currency account.balance %></span>
                        </h5>
                        </div>
                        </div>
                        <% end %>
                        </div>
                   </div><!-- /.col -->
<div class="col-md-8">
  <!-- Widget: user widget style 1 -->
  <div class="box box-widget widget-user">
    <!-- Add the bg color to the header using any of the bg-* classes -->
    <div class="widget-user-header bg-blue-active">
      <h4 class="widget-user-username">Expenses
      <span class="pull-right"><%=link_to new_entry_path, class: "btn btn-default bg-blue-active pull-right" do %><i class="fa fa-user-plus"></i> New Expense <%end%></span>
    </h4>
    </div>
    <div class="box-footer">
      <div class="row">
        <div class="col-sm-12 border-right">

          <div> 
            <% @expenses.each do |entry| %>
             <div class="row">
            <div class="col-md-4 col-md-offset-1  col-sm-3 col-xs-3">
            <%=entry.debit_amounts.last.account.name%>
             <span class="help-block"><%#=entry.commercial_document.name %></span>
            </div>
            <div class="col-md-7 col-sm-9 col-xs-9">
            <h5><%=  entry.description%>
            <span class="pull-right"><%=number_to_currency entry.debit_amounts.last.amount %></span>
            </h5>
            <span class="help-block"><%#=entry.company %></span>
            </div>
            </div>
           <hr />
            <% end %>
 

          </div><!-- /.description-block -->
        </div><!-- /.col -->

          </div><!-- /.description-block -->
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div>
  </div><!-- /.widget-user -->
</div><!-- /.col -->
</div>
