<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">New Category</h4>
    </div>
    <%= simple_form_for @item_category, url: :supplies_item_categories, remote: true do |f| %>
    <%=f.error_notification %>
      <div class="modal-body">
        <div class="form-group">
          <%=f.input :name %>
        </div>
      </div>
      <div class="modal-footer">
        <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
        <%= f.submit 'Save', class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
