<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Editing Notice to Proceed</h4>
    </div>
    <%= simple_form_for [@project, @notice_to_proceed],  url: :monitoring_project_notice_to_proceeds, remote: true do |f| %>
    <%=f.error_notification %>
      <div class="modal-body">
        <ul class="errors text-danger">
        </ul>
        <%=f.input :date, as: :string, input_html:{:class => 'datetimepicker'} %>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="modal-footer">
          <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
          <%=f.submit "Update", class: "btn btn-primary pull-right", data: {disable_with: "Saving NTP..."} %>
        </div>
      </div>
    <% end %>
  </div>
</div>
