<%= simple_form_for [@project, @notice_to_proceed],  url: :monitoring_project_notice_to_proceeds, html: { class: 'form-horizontal' }, wrapper: :horizontal_form, wrapper_mappings: { check_boxes: :vertical_radio_and_checkboxes, radio_buttons: :vertical_radio_and_checkboxes, file: :horizontal_file_input, boolean: :horizontal_boolean } do |f| %>
<%=f.error_notification %>
<div class="col-md-5 col-md-offset-3">
  <div class="card">
    <div class="header">
      <h4 class="title">Notice to Proceed</h4>
      <div class="row"><hr></div>
    </div>
    <div class="content">
      <%=f.input :date, as: :string, input_html:{:class => 'datetimepicker'} %>
      <div class="modal-footer">
        <%= link_to 'Cancel', monitoring_project_path(@project), class: 'btn btn-default pull-left' %>
        <%=f.submit "Save", class: "btn btn-primary pull-right", data: {disable_with: "Saving NTP..."} %>
      </div>
    </div>
  </div>
</div>
<% end %>
