
<%= simple_form_for @entry, url: :petty_cash_disbursements do |f| %>
	<%= f.input :date, as: :string, input_html: { class: 'datepicker'} %>
  <%=f.input :recipient_id, collection: Employee.all.map{|a| [a.name, a.id]} %>	

  <%=f.simple_fields_for :credit_amounts do |d| %>
		<%=d.input :amount, input_html:{autocomplete: "off"} %>
		<%=d.input :account, input_html: { value: "Petty Cash" }, readonly: true, as: :hidden %>
	<% end %>

	<%=f.simple_fields_for :debit_amounts do |c| %>
		<%=c.input :amount,  read_only: true, as: :hidden %>
		<%=c.input :account, collection: Account.petty_cash_expenses.map{|a| [a.name.titleize, a.name]} %>
	<% end %>

  <%=f.input :description, as: :text %>

	<div class="modal-footer">
		<%=f.submit "Record Entry", data: {disable_with: 'Saving Entry...'}, class: "btn btn-danger" %>
		<hr>
		<%=link_to "I'm done adding Entries", petty_cash_index_path %>
	</div>
<% end %>


