<%= simple_form_for [@employee, @worked_day] do |f| %>
<%=f.error_notification %>
<div class="col-md-8 col-md-offset-2">
  <div class="box box-solid">
    <div class="box-header with-border">
      <h3 class="widget-user-username">Worked Days Detail</h3>
    </div>
    <div class="box-body">
      <div class="col-md-6 col-md-offset-3">
      <%=f.input :project_id, collection: @employee.employments.map{ |a| [a.project.name, a.project.id]} %>
        <%=f.input :number_of_days%>
        <div class="row">
          <div class="col-md-6">
            <label>Date</label>
            <%=f.input :start_date, label: false, placeholder: 'From', as: :string, input_html:{class: "datepicker"} %>
          </div>
          <div class="col-md-6">
            <label>&nbsp</label>
            <%=f.input :end_date, label: false, placeholder: 'To', as: :string, input_html:{class: "datepicker"} %>
          </div>
        </div>
      </div>
    </div>
    <div class="box-footer">
      <%= link_to 'Cancel', @employee , class: 'btn btn-default' %>
      <%=f.submit "Save", class: "btn btn-primary pull-right" %>
    </div>
  </div>
</div>
<% end %>
