<div class="col-md-6">
  <div class="card">
    <div class="header">
      <h4 class="title"> Days Worked Details </h4>
    </div>
    <div class="content">
      <%= simple_form_for [@employee, @worked_day] do |f| %>
        <%=f.error_notification %>
        <%#=f.input :project_id, collection: @employee.employments.map{ |a| [a.project.id_number, a.project.id]} %>
        <%=f.input :number_of_days%>
        <div class="row">
          <div class="col-md-6">
            <label>Date</label>
            <%=f.input :start_date, label: false, placeholder: 'From', as: :string, input_html:{class: "datetimepicker"} %>
          </div>
          <div class="col-md-6">
            <label>&nbsp</label>
            <%=f.input :end_date, label: false, placeholder: 'To', as: :string, input_html:{class: "datetimepicker"} %>
          </div>
        </div>
        <div class="box-footer">
          <%= link_to 'Cancel', @employee , class: 'btn btn-default' %>
          <%=f.submit "Save", class: "btn btn-primary pull-right" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
