<ul class="list-unstyled team-members">
  <%=link_to equipment do %>
  <li>
    <div class="row">
      <div class="col-md-2">
        <%=image_tag(equipment.photo.url(:large), width: 90, height: 90, class: "img-square") %>
      </div>
      <div class="col-md-4">
        <b class="text-black"><%=equipment.plate_number %></b><br>
        <span class="text-yellow"><%=equipment.make_and_model.upcase %></span><br>
        <i class="fa fa-circle text-<%=equipment.status_color%>"></i> <span class="text-<%=equipment.status_color %>"> <%=equipment.status %> </span><br>
      </div>
      <div class="col-md-4">
        <% if equipment.equipment_schedules.any? && equipment.active? %>
        <small class="text-black text-uppercase">  <i class="fa fa-calendar"></i>  Current Schedule: </small><br>

          <span class="text-yellow"><i class="fa fa-circle text-light-gray"></i><b>(<%=equipment.current_assignment_id_number_and_location %> )</b></span><br>
            <i class="fa fa-map-marker text-light-gray"></i><span class="text-light-gray"><%=equipment.current_assignment.truncate(100) %></span><br>
          <i class="fa fa-clock-o text-light-gray"></i><span class="text-light-gray"><%=equipment.current_assignment_start_date%> to <%=equipment.current_assignment_end_date %></span>
          <i class="fa fa-user text-light-gray"></i><span class="text-light-gray"><%=equipment.current_assignment_operator.try(:full_name) %></span>
        <% elsif equipment.inactive? %>
          <span class="text-black"> <%=equipment.equipment_status.description %> </span>

        <% else %>
          <span class="text-black"> No Schedule found for this equipment.</span>
        <% end %>
      </div>
      <div class="col-md-2">
        <br>
        <span class="btn btn-warning btn-icon pull-right"><i class="fa fa-angle-right"></i></span>
      </div>
    </div>
  </li>
  <% end %>
  <hr>
</ul>
