<div class="sidebar" data-background-color="white" data-active-color="warning">

 <!--
 Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
 Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
-->

   <div class="sidebar-wrapper">
         <div class="logo">
             <a href="/petty_cash" class="simple-text">
                accounting
             </a>
         </div>

         <ul class="nav">
           <li class="<%="active" if current_page? petty_cash_index_path %>">
                <a href="/petty_cash">
                    <i class="fa fa-rub"></i>
                    <p>Petty Cash</p>
                </a>
            </li>
            <li class="<%="active" if current_page? accounts_path %>">
                 <a href="/accounts">
                     <i class="fa fa-server"></i>
                     <p>Accounts</p>
                 </a>
             </li>

             <li class="<%="active" if current_page? entries_path %>">
                  <a href="/entries">
                      <i class="fa fa-certificate"></i>
                      <p>Entries</p>
                  </a>
              </li>

              <li class="<%="active" if current_page? accounts_income_statement_path %>">
                   <a href="/accounts/income_statement">
                       <i class="fa fa-bar-chart"></i>
                       <p>Income Statement</p>
                   </a>
               </li>

               <li class="<%="active" if current_page? accounting_balance_sheet_index_path %>">
                    <a href="/accounting/balance_sheet">
                        <i class="fa fa-pie-chart"></i>
                        <p>Balance Sheet</p>
                    </a>
                </li>
                <li class="<%="active" if current_page? payroll_index_path %>">
                     <a href="/employees">
                         <i class="fa fa-users"></i>
                         <p>Employees</p>
                     </a>
                 </li>

                <li class="<%="active" if current_page? payroll_index_path %>">
                     <a href="/payroll">
                         <i class="fa fa-users"></i>
                         <p>Payroll</p>
                     </a>
                 </li>

                 <li class="<%="active" if current_page? accounting_reports_path %>">
                      <a href="/accounting/reports">
                          <i class="fa fa-file-text"></i>
                          <p>Reports</p>
                      </a>
                  </li>

         </ul>
   </div>
 </div>

 <div class="main-panel">
     <nav class="navbar navbar-default">
         <div class="container-fluid">
             <div class="navbar-header">
                 <button type="button" class="navbar-toggle">
                     <span class="sr-only">Toggle navigation</span>
                     <span class="icon-bar bar1"></span>
                     <span class="icon-bar bar2"></span>
                     <span class="icon-bar bar3"></span>
                 </button>
                 <a class="navbar-brand" href="#">
                   <%#="Dashboard" if current_page?(dashboard_path) %>
                   <%#="Taxpayers" if current_page?(taxpayers_path) %>
                   <%#="Businesses" if current_page?(businesses_path) %>
                   <%#="Settings" if current_page?(settings_path) %>
                   <%#="Reports" if current_page?(reports_path) %>
                   <%#="Payments" if current_page?(entries_path) %>
                 </a>
             </div>
             <div class="nav navbar-nav navbar-left">


           </div>
             <div class="collapse navbar-collapse">
                 <ul class="nav navbar-nav navbar-right">
                     <li class="dropdown">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                 <i class="fa fa-user"></i>

               <p><%=current_user.email %></p>

               <b class="caret"></b>
                           </a>
                           <ul class="dropdown-menu">
                             <li><a href="#">Notification 1</a></li>
                             <li><a href="#">Notification 2</a></li>
                             <li><a href="#">Notification 3</a></li>
                             <li><a href="#">Notification 4</a></li>
                            <li><%=link_to "Sign out", destroy_user_session_path, method: :delete %></li>
                           </ul>
                     </li>
                 </ul>

             </div>
         </div>
     </nav>
