<div class="sidebar" data-background-color="white" data-active-color="success">  
  <div class="sidebar-wrapper">
    <div class="logo">
      <a href="/petty_cash" class="simple-text">
        Alfalfa
      </a>
    </div>
    <ul class="nav">
      <li class="<%="active" if current_page? accounting_petty_cash_index_path %>">
        <a href="/accounting/petty_cash">
          <p><%=image_tag("dashboard.png", height: '30', width: '30', class: "img-circle") %> &nbsp; &nbsp; Dashboard</p>
        </a>
      </li>
      <li class="<%="active" if current_page? accounting_petty_cash_index_path %>">
        <a href="/accounting/petty_cash">
          <p>  <%=image_tag("petty_cash_icon.png", height: '30', width: '30') %> &nbsp; &nbsp; Petty Cash</p>
        </a>
      </li>
      <li class="<%="active" if current_page? accounting_bank_account_index_path %>">
        <a href="/accounting/bank_account">
          <p>  <%=image_tag("bank_icon.png", height: '30', width: '30') %> &nbsp; &nbsp; Bank Account</p>
        </a>
      </li>
      <li class="<%="active" if current_page? accounting_entries_path %>">
        <a href="/accounting/entries">
          <p>  <%=image_tag("cashier.png", height: '30', width: '30') %> &nbsp; &nbsp; Entries</p>
        </a>
      </li>
      <li class="<%="active" if current_page? employees_path %>">
        <a href="/employees">
          <p>  <%=image_tag("employee.png", height: '30', width: '30') %> &nbsp; &nbsp; Employees</p>
        </a>
      </li>
      <li class="<%="active" if current_page? payroll_index_path %>">
        <a href="/payroll">
          <p>  <%=image_tag("payroll.png", height: '30', width: '30') %> &nbsp; &nbsp; Payroll</p>
        </a>
      </li>
      <li class="<%="active" if current_page? accounting_reports_path %> dropdown">
        <a href="#reportCollapse" class="collapsed" data-toggle="collapse" aria-expanded="false">
          <p>  <%=image_tag("report_accounting.png", height: '30', width: '30') %> &nbsp; &nbsp; Reports
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="reportCollapse" aria-expanded="false" style="height: 0px;">
          <ul class="nav">
            <li>
              <a href="/accounting/accounts">
                <p>  <%=image_tag("payment_icon.png", height: '20', width: '20') %> &nbsp; &nbsp; Accounts</p>
              </a>
            </li>
            <li>
              <a href="/accounting/income_statement">
                <p>  <%=image_tag("income_statement.png", height: '20', width: '20') %> &nbsp; &nbsp; Income Statement</p>
              </a>
            </li>
            <li>
              <a href="/accounting/balance_sheet">
                <p>  <%=image_tag("balance_sheet.png", height: '20', width: '20') %> &nbsp; &nbsp; Balance Sheet</p>
              </a>
            </li>
            <li>
              <a href="/accounting/cash_flow">
                   <p>  <%=image_tag("cash_flow.png", height: '20', width: '20') %> &nbsp; &nbsp; Cash Flow </p>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>


            