<div class="container">
	<div class="card">
		<div class="header">
			<h4 class="title"><center>Pay Slip Detail</center></h4>
			<span><center><%=Time.zone.now.strftime("%B %e, %Y") %></center></span>
			<hr>
		</div>
		<div class="content">
			<div class="row">
				<div class="col-md-4 col-md-offset-3">
					<h5 class="title">EMPLOYEE INFO</h5>
					<p><%=@employee.full_name %><br>
					<span class"text-muted"><%=@employee.position.titleize %></span></p>
				</div>
				<div class="col-md-4">
					<h5 class="title">PAY PERIOD</h5>
					<% if @employee.worked_days.unpaid.present? %>
						<p>
							<%=@employee.worked_days.unpaid.last.start_date.strftime("%B %e") %> - <%= @employee.worked_days.unpaid.last.end_date.strftime("%B %e, %Y") %>
						</p>
					<% else %>
						<h5>No Unpaid Worked Days </h5>
					<% end %>
				</div>
			</div>
      <hr>
      <div class="row">
		    <div class="col-md-6 col-md-offset-3">
			    <h5 class="text-title">Days Worked<span class="pull-right"><%=@employee.unpaid_worked_days%> Days </span></h5>
			    <h5 class="text-title">Rate <span class="pull-right"><%=number_to_currency @employee.rate%></span></h5>
					<h5 class="text-title">Overtime<span class="pull-right"><%=@employee.unpaid_overtimes %> Hours </span></h5>
					<h5 class="text-title">Overtime Rate <span class="pull-right"><%=number_to_currency @employee.overtime_rate %></span></h5>
			    <h5>Earned Income <span class="pull-right"><%=number_to_currency @employee.earned_income %></span></h5>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h5>Deductions </h5>

				<h5 class="text-danger"> Cash Advances <span class="pull-right"> - <%=number_to_currency @employee.unpaid_cash_advances %></span></h5>
<hr>

			<h4 class="title">Gross Pay<span class="pull-right"><%= number_to_currency @employee.total_gross_pay %></span>
		</h4>
		<hr>
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
			<%=simple_form_for [@employee, @entry], url: :employee_salaries do |f| %>
				<%=f.error_notification %>
						<%=f.input :date, as: :string, input_html: { class: "datetimepicker" } %>
						<% if @employee.unpaid_cash_advances > 0 %>
						  <%=f.input :description, as: :text, input_html: {value: "Salary Payment for #{@employee.name} and Cash Advance Payments"}, as: :hidden  %>
						<% else %>
						  <%=f.input :description, as: :text, input_html: {value: "Salary Payment For #{@employee.name}"}, as: :hidden  %>
						<% end %>
						<%=f.input :reference_number %>
						<%=f.input :entriable_type, input_html: { value: "Employee" }, as: :hidden %>
						<%=f.input :entriable_id, input_html: { value: @employee.id }, as: :hidden %>

						<%=f.simple_fields_for :debit_amounts do |c| %>
							<%=c.input :amount, input_html: {value: @employee.total_gross_pay }, as: :hidden  %>
							<%=c.input :account, input_html: {value: "Employee Wages and Salaries"}, as: :hidden %>
						<% end %>

						<%=f.simple_fields_for :credit_amounts do |d| %>
							<%=d.input :amount, input_html: { autocomplete: 'off', value: @employee.total_gross_pay }, as: :hidden  %>
							<%=d.input :account, input_html: { value: "Petty Cash" }, as: :hidden %>
						<% end %>


            <!-- Cash Advance Payment -->
						<% if @employee.unpaid_cash_advances > 0 %>
						<%=f.simple_fields_for :debit_amounts do |d| %>
							<%=d.input :amount, input_html: { autocomplete: 'off', value: @employee.unpaid_cash_advances }, as: :hidden  %>
							<%=d.input :account, input_html: { value: "Cash on Hand" }, as: :hidden  %>
						<% end %>

						<%=f.simple_fields_for :credit_amounts do |c| %>
							<%=c.input :amount, input_html: {value: @employee.unpaid_cash_advances }, as: :hidden  %>
							<%=c.input :account, input_html: {value: "Advances to Employees"}, as: :hidden  %>
						<% end %>
          <% end %>
						<div class="modal-footer">
							<%=f.submit "Pay Employee", class: "btn btn-danger pull-right" %>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>
<br>
<br>
<br>
<br>
</div>
