<div class="col-md-8 col-md-offset-2">
  <div class="card card-user">
     <div class="image">
     </div>
     <div class="header">
         <div class="author">
           <%=image_tag(@employee.profile_photo.url(:medium), class: "avatar border-white") %>
           <h4 class="title"><%=@employee.full_name %><br />
              <a href="#"><small><%=@employee.position.titleize%></small></a>
           </h4>
         </div>
     </div>
     <div>
		<div class="content">
			<div class="row">
				<div class="col-md-4 col-md-offset-2">
					<h5 class="title">PAY PERIOD</h5>
					<% if @employee.worked_days.unpaid.present? %>
						<p>
							<%=@employee.worked_days.unpaid.last.start_date.strftime("%B %e") %> - <%= @employee.worked_days.unpaid.last.end_date.strftime("%B %e, %Y") %>
						</p>
					<% else %>
						<h5>No Unpaid Worked Days </h5>
					<% end %>
				</div>
			</div>
      <hr>

					<div class="row">
						<div class="col-md-2 col-md-offset-2">
							<h5>Days Worked</h5>
						</div>
						<div class="col-md-3">
							<h5><%=@employee.unpaid_worked_days %> Days * <%=number_to_currency @employee.rate %></h5>
						</div>
						<div class="col-md-2">
							<h5 class="pull-right"><%=number_to_currency @employee.unpaid_worked_days_amount %></h5>
						</div>
					</div>
					<div class="row">
						<div class="col-md-2 col-md-offset-2">
							<h5>Overtime</h5>
						</div>
						<div class="col-md-3">
							<h5><%=@employee.unpaid_overtimes %> Hours * <%=number_to_currency @employee.overtime_rate %></h5>
						</div>
						<div class="col-md-2">
							<h5 class="pull-right"><%=number_to_currency @employee.unpaid_overtimes_amount %></h5>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-md-2 col-md-offset-2">
							<h5>Earned Income</h5>
						</div>
						<div class="col-md-3">
						</div>
						<div class="col-md-2">
							<h5 class="pull-right"><%=number_to_currency @employee.earned_income %></h5>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-md-offset-2">
						  <h5>Deductions </h5>
					  </div>
				  </div>
					<div class="row">
						<div class="col-md-2 col-md-offset-2">
								<h5 class="text-danger">Cash Advances</h5>
						</div>
						<div class="col-md-3">

						</div>
						<div class="col-md-2">
							<h5 class="text-danger pull-right">- <%=number_to_currency @employee.unpaid_cash_advances %></h5>
						</div>
					</div>
					<div class="row">
						<div class="col-md-2 col-md-offset-2">
								<h5 class="text-danger">Philhealth</h5>
						</div>
						<div class="col-md-3">
						</div>
						<div class="col-md-2">
							<h5 class="text-danger pull-right">- <%=number_to_currency @employee.philhealth %></h5>
						</div>
					</div>
					<div class="row">
						<div class="col-md-2 col-md-offset-2">
								<h5 class="text-danger">SSS Contribution</h5>
						</div>
						<div class="col-md-3">
						</div>
						<div class="col-md-2">
							<h5 class="text-danger pull-right">- <%=number_to_currency @employee.sss_contribution %></h5>
						</div>
					</div>
					<hr>

          <div class="row">
	          <div class="col-md-2 col-md-offset-2">
			        <h5 class="title">Gross Pay</h5>
						</div>
						<div class="col-md-3">
						</div>
						<div class="col-md-2">
							<h5 class="text-success pull-right"><b><%= number_to_currency @employee.total_gross_pay %></b></h5>
						</div>
	        </div>

<div class="row">
	<div class="col-md-7 col-md-offset-2">
			<%=simple_form_for [@employee, @entry], url: :employee_salaries do |f| %>
				<%=f.error_notification %>
						<%=f.input :date, as: :string, input_html: { class: "datetimepicker" } %>
						<% if @employee.unpaid_cash_advances > 0 %>
						  <%=f.input :description, as: :text, input_html: {value: "Salary Payment for #{@employee.name} and Cash Advance Payments"}, as: :hidden  %>
						<% else %>
						  <%=f.input :description, as: :text, input_html: {value: "Salary Payment For #{@employee.name}"}, as: :hidden  %>
						<% end %>
						<%=f.input :reference_number %>
						<%=f.input :entriable_type, input_html: { value: "Employee" }, as: :hidden %>
						<%=f.input :entriable_id, input_html: { value: @employee.id }, as: :hidden %>

						<%=f.simple_fields_for :debit_amounts do |c| %>
							<%=c.input :amount, input_html: {value: @employee.total_gross_pay }, as: :hidden  %>
							<%=c.input :account, input_html: {value: "Employee Wages and Salaries"}, as: :hidden %>
						<% end %>

						<%=f.simple_fields_for :credit_amounts do |d| %>
							<%=d.input :amount, input_html: { autocomplete: 'off', value: @employee.total_gross_pay }, as: :hidden  %>
							<%=d.input :account, input_html: { value: "Petty Cash" }, as: :hidden %>
						<% end %>


            <!-- Cash Advance Payment -->
						<% if @employee.unpaid_cash_advances > 0 %>
						<%=f.simple_fields_for :debit_amounts do |d| %>
							<%=d.input :amount, input_html: { autocomplete: 'off', value: @employee.unpaid_cash_advances }, as: :hidden  %>
							<%=d.input :account, input_html: { value: "Petty Cash" }, as: :hidden  %>
						<% end %>

						<%=f.simple_fields_for :credit_amounts do |c| %>
							<%=c.input :amount, input_html: {value: @employee.unpaid_cash_advances }, as: :hidden  %>
							<%=c.input :account, input_html: {value: "Advances to Employees"}, as: :hidden  %>
						<% end %>

          <% end %>
						<div class="modal-footer">
							<%=f.submit "Pay Employee", class: "btn btn-danger" %>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>
<br>
<br>
<br>
<br>
</div>
