<aside class="main-sidebar">
  <section class="sidebar">
  <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <%=link_to (image_tag current_user.profile_photo.url(:thumb), class: 'img-circle'), user_path(current_user) %>
      </div>
      <div class="pull-left info">
        <p><%= link_to current_user.first_name, user_path(current_user) %></p>
        <a href="#"><%=current_user.role.to_s.titleize %></a>
      </div>
    </div>
    <!-- search form -->
    <%=form_tag result_index_path, class: 'sidebar-form', method: :get do %>
      <div class="input-group">
        <%=text_field_tag :query, params[:query], class: 'form-control', placeholder: 'Search...' %>
        <span class="input-group-btn">
          <%= button_tag(type: 'submit', class: "btn btn-flat") do %>
            <i class="fa fa-search"></i>
          <% end %>
        </span>
      </div>
    <% end %>
    <ul class="sidebar-menu">
      <li class="header">GENERAL</li>
      <li>
        <a href="/dashboard">
          <i class="fa fa-home"></i> <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="/projects/overview">
          <i class="fa fa-server"></i> <span>Projects</span>
        </a>
      </li>
      <li>
        <a href="/contractors">
          <i class="fa fa-male"></i> <span>Contractors</span>
        </a>
      </li>
      <li>
        <a href="/inventories">
          <i class="fa fa-cubes"></i> <span>Inventories</span>
        </a>
      </li>
      <!-- <li class="treeview">
        <a href="#">
          <i class="fa fa-cubes"></i>
          <span>Inventories</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a href="/issued_inventories"><i class="fa fa-circle-o"></i> Issued Materials</a></li>
          <li><a href="/inventories"><i class="fa fa-circle-o"></i> Materials</a></li>
          <li><a href="/banks"><i class="fa fa-circle-o"></i> Bank</a></li>
          <li><a href="/revenues"><i class="fa fa-circle-o"></i> Revenue</a></li>
        </ul>
      </li> -->
      <li>
        <a href="/equipment">
          <i class="fa fa-truck"></i> <span>Equipment</span>
        </a>
      </li>
      <li class="treeview">
        <a href="/reports/index">
          <i class="fa fa-file-text"></i> <span>Reports</span>
        </a>
      </li>
      <li class="header">ACCOUNTING</li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-credit-card"></i>
          <span>Transactions</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a href="/petty_cash"><i class="fa fa-circle-o"></i> Petty Cash</a></li>
          <li><a href="/sales"><i class="fa fa-circle-o"></i> Sales</a></li>
          <li><a href="/entries"><i class="fa fa-circle-o"></i> Entries</a></li>
          <!-- <li><a href="/banks"><i class="fa fa-circle-o"></i> Bank</a></li>
          <li><a href="/revenues"><i class="fa fa-circle-o"></i> Revenue</a></li> -->
        </ul>
      </li>
      <li>
        <a href="/accounts">
          <i class="fa fa-bar-chart"></i> <span>Accounts</span>
        </a>
      </li>
      <li>
        <a href="/reports/index">
          <i class="fa fa-file-text"></i> <span>Reports</span>
        </a>
      </li>
      <li>
        <a href="/payroll">
          <i class="fa fa-file-text"></i> <span>Payroll</span>
        </a>
      </li>
      <li class="header">SETTINGS</li>
      <li>
        <%= link_to employees_path do %>
          <i class="fa fa-users"></i> <span>Employees</span>
        <%end%>
      </li>
      <!-- <li>
        <%= link_to settings_index_path do %>
          <i class="fa fa-cog"></i> <span>Settings</span>
        <% end %>
      </li> -->
      <li>
        <%= link_to activities_path do %>
          <i class="fa fa-list"></i> <span>Activity Logs</span>
        <%end%>
      </li>
      <li>
        <a href="/users">
          <i class="fa fa-alert"></i> <span>User Access</span>
        </a>
      </li>
      <li>
    </ul>
  </section>
</aside>
