<div class="container">
 <div class="box box-solid">
 <div class="box-header with-border">
 <h4>New Account Details</h4>

 </div>
 <div class="box-body">
                  <%= simple_form_for @account, url: :accounts do |f| %>
<%=f.error_notification %>
<div class="row">
<div class="col-md-5">
</div>
<div class="col-md-6">
<%=f.input :code %>
<%=f.input :name %>
<%=f.input :type, collection: ["Asset", "Liability", "Equity", "Expense", "Revenue"], as: :radio_buttons %>
</div>
</div>
<div class="modal-footer">
<%=f.submit "Save", class: "btn btn-primary" %>
</div>
<% end %>

</div>

