<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="card">
      <div class="header">
        <h4 class="title">Order Details </h4>
        <div class="row"><hr></div>
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-5">
            <%=render @cart.line_items %>
            <hr>
            <br>
            <span class="pull-left"><%=image_tag("total.png", height: 30, width: 30) %> &nbsp; <b> Total</b></span>
            <span class="pull-right"><b><%=number_to_currency @cart.line_items.total_price %></b></span>
            <br>
            <br>
            <br>
          </div>
          <div class="col-md-5 col-md-offset-1">
            <%=simple_form_for @order, url: :orders do |f| %>
              <%=f.error_notification %>
              <%= f.input :date_issued, as: :string, label: 'Date', input_html: { class: 'datetimepicker'} %>
              <%=f.input :customer_type, collection: Supplies::Order.customer_types, as: :radio_buttons %>
              <div class="project_contractor">
                <label>Customer</label>
                <%= f.input :customer_id, label: false, collection: Supplies::Order.customers , input_html: {class: "project_customer", style: 'width:100%'} %>
              </div>
              <div class="customer_name">
                <label>Customer</label>
                <%= f.input :name, label: false %>
              </div>
              <%= f.input :payment_status, collection: Supplies::Order.payment_statuses.keys.to_a.map{|a| [a.titleize, a]}, as: :radio_buttons %>
              <div class="modal-footer">
                <%= link_to 'Add more items', supplies_path, class: 'btn btn-warning pull-left' %>
                <%=f.submit "Place Order", class: "btn btn-primary" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $(".contractor_customer").select2({
      theme: "bootstrap"
    });
  });
</script>

<script>
  $(document).ready(function() {
    $(".project_customer").select2({
      theme: "bootstrap"
    });
  });
</script>
