<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <h4 class="title">Order Details </h4>
        <div class="row"><hr></div>
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-5">
            <%=render @cart.line_items %>
            <hr>
            <br>
            <span class="pull-left"><%=image_tag("total.png", height: 30, width: 30) %> &nbsp; <b> Total</b></span>
            <span class="pull-right"><b><%=number_to_currency @cart.line_items.total_price %></b></span>
            <br>
            <br>
            <br>
          </div>
          <div class="col-md-5 col-md-offset-1">
            <%=simple_form_for @order, url: :orders do |f| %>
              <%=f.error_notification %>
              <%= f.input :date_issued, as: :string, label: 'Date', input_html: { class: 'date_picker'} %>
              <%=f.input :customer_type, collection: Supplies::Order.select_customer_types, as: :radio_buttons %>
              <div class="select">
                <label>Select Contractor / Project / Equipment</label>
                <%= f.input :customer_id, label: false, input_html: { class: 'col-md-12', :style => "width:100%"} do %>
                  <%= f.select :customer_id, Project.all.map { |p| [p.id_number_and_location, p.id] } + Contractor.all.map { |c| [c.name, c.id] } + Equipment.all.map { |e| [e.name, e.id] } %>
                <% end %>
              </div>
              <div id="purpose_field">
                <%= f.input :purpose %>
              </div>
              <%= f.input :payment_status, collection: Supplies::Order.payment_statuses.keys.to_a.map{|a| [a.titleize, a]}, as: :radio_buttons %>
              <div class="modal-footer">
                <% if @inventory.id == @cart.line_items.first.inventory_id %>
                  <%= link_to 'Add more items', supplies_fuel_monitoring_index_path, class: 'btn btn-warning pull-left' %>
                <% else %>
                  <%= link_to 'Add more items', supplies_path, class: 'btn btn-warning pull-left' %>
                <% end %>
                <%=f.submit "Place Order", class: "btn btn-primary" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $(".contractor_customer").select2({
      theme: "bootstrap"
    });
  });
</script>

<script>
  $(document).ready(function() {
    $("#supplies_order_customer_id").select2({
      theme: "bootstrap",
      width: '100%',
      allowClear: true,
      placeholder: {
                    id: "-1",
                    text: "Please Select",
                    selected: 'selected'
                    }
    });
  });
</script>