
  <div class="col-md-8 col-md-offset-2">
  <div class="card">
    <div class="header">
      <h4 class="title">Order Details </h4>
      <hr>
    </div>
    <div class="content">
      <h4 class="title"><%=@order.customer.try(:name) %></h4>
  <hr>
        <% @order.line_items.each do |line_item| %>
        <ul class="list-unstyled team-members">
          <li id="current_item">
            <div class="row">
              <div class="col-xs-4">
                  <%=line_item.quantity %> <%=line_item.inventory.unit %>
              </div>
              <div class="col-xs-5">
                <%=line_item.inventory.name%>
                <br />
                <span class="text-muted"><small><%=number_to_currency line_item.inventory.price %></small></span>
              </div>
              <div class="col-xs-3 text-right">
                <p><%=number_to_currency line_item.total_price %></p>
              </div>

            </div>
          </li>
        </ul>

        <% end %>
        <div class="modal-footer">
          <h4 class="title">Total:  <%=number_to_currency @order.line_items.total_price %></h4>
        </div>
      </div>
    </div>
</div>
